.content 
{ 
position :relative;
float : left;
width : 0%;
left : 0%;
padding : 0px;
overflow : auto;
height:auto;


} 
.divmain
{
/*position : relative;*/
/*top:100px;*/
   background-color: #eee;
  /* position :absolute;*/
/*float : left;*/
 width : 100%;
 left:0%;
height:auto;
/*min-height :inherit;*/
padding : 0px;
overflow : auto;
float:right;


    
}
.contentbk
{ 
position :relative;
float : left;
width : 0%;
left : 0%;
padding : 0px;
/*min-height :inherit;*/
/*height : 100%;*/

overflow-y:auto;
overflow : auto;
/*
-webkit-overflow-scrolling : touch;

top : 100px;
bottom : 0px;
*/

height:100%;

} 

.divsection
{
height :100%;
background-color: white; 
overflow : auto;
-webkit-overflow-scrolling : auto;
}

.csAction
{

height :230px;
  overflow : auto;
 
  -webkit-overflow-scrolling : touch;
  
  
  
}
.wrapper
{
 
/*height : 354px;*/
/*height : 60%;*/
   position : absolute;
	overflow:auto;
	overflow-y:auto;
	padding:0px;
	top :85px;
	bottom : 0px;
	height : 100%;
	}
.dvFooter
{
	/* width : 100%;
  margin-right : 0px;*/
  padding : 0px;
  height : 20px;
}	
.dvheader
{


  width : 100%;
 
  padding : 0px;
  height : 100%;

}
.tbFooter
{
	background :  -webkit-gradient(linear, left top, left bottom, from( #2f2f2f  ), to( #101010 )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #2f2f2f , #101010 ); /* Chrome 10+, Saf5.1+ */
   background :   -moz-linear-gradient( #2f2f2f , #101010 ); /* FF3.6 */
}
.trTitle
{
	height:20px;
	background :  -webkit-gradient(linear, left top, left bottom, from( #2f2f2f  ), to( #101010 )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #2f2f2f , #101010 ); /* Chrome 10+, Saf5.1+ */
   background :   -moz-linear-gradient( #2f2f2f , #101010 ); /* FF3.6 */
}
.trIcon
{
	height: 44px;
	background :  -webkit-gradient(linear, left top, left bottom, from( #2f2f2f  ), to( #101010 )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #2f2f2f , #101010 ); /* Chrome 10+, Saf5.1+ */
   background :   -moz-linear-gradient( #2f2f2f , #101010 ); /* FF3.6 */
	
}
.banner
{
	height:50px;
	background : yellow;
}

.spTitle
{
	position:relative;
  /*  line-height:44px;*/
   /*left : 10px;
    padding-left : 10px;*/
    margin-left : 10px;
   /* text-alignment : left;*/
    font-weight: bold;
    color: #ffffff;
    font-size: 12pt;
    font-family : Arial;
    /*text-shadow: 1px 1px #7f7f7f;*/
}
.spFooter1
{
	/*position:relative;*/
  /*  line-height:44px;*/
   /*left : 10px;
    padding-left : 10px;*/
    margin-left : 10px;
   /* text-alignment : left;*/
   /* font-weight: bold;*/
    color: #ffffff;
    font-size: 12pt;
    font-family : Arial;
   /* text-shadow: 1px 1px #7f7f7f;*/
}
.spFooter2
{
 
   /* margin-left : 10px;*/
    
    color: #ffffff;
    font-size: 12pt;
    font-family : Arial;
    /*text-shadow: 1px 1px #7f7f7f;	*/
}
.spFooter3
{
	position:relative;
  /*  line-height:44px;*/
   /*left : 10px;
    padding-left : 10px;*/
    margin-right : 10px;
   /* text-alignment : left;*/
    font-weight: bold;
    color: #ffffff;
    font-size: 12pt;
    font-family : Arial;
   /* text-shadow: 1px 1px #7f7f7f;*/
}
.imgTitle
{
	position:relative;
	margin-right :  10px;
}
.imgIcon
{
	vertical-align:middle;
}
.imgLogout
{
	/*position:relative;*/
	vertical-align:middle;
	margin-right :  10px;
}

.main
{
    background-color: #ccc;
    /*
    postion : absolute;
   left : 800px;
   */
   left : 0px;   
}

.appView
{
  background-color:white;
  height:100%;
  /*top : 50px;*/
  padding : 0px;
  width : 100%;
  overflow : auto;
 
  
}
.titTR
{
 border-bottom : 1px solid white;
 border-top: 1px solid white;
}
.titTAB
{
/*
 border-right : 1px solid #B3B3B3;
 border-left :  0px solid #2088cf;
 border-top :   1px solid white;
 border-bottom :1px solid white;
 */
}

.tbmain 
{
    background-color: #ccc;
    height : 583px;
    padding : 0px;
   
 
}
.tdfont
{
font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding : 0px;
	font-weight:bold;
	

}
.tdimgg
{
  background-color:#2088cf;
}

.summary
{
opacity:0.6;
  filter:alpha(opacity=60);
}
.dvPatients
{
	height:44px;
   /* width:100%;*/
    
    
    background :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #48cbcb , #27707e ); /* Chrome 10+, Saf5.1+ */
   background :   -moz-linear-gradient( #48cbcb , #27707e ); /* FF3.6 */
   /*border : 1px solid #48d1d8;*/
border : 1px solid #48d1d8;
}
.spanPatients
{
    /*position:relative;*/
    line-height:44px;
   /*left : 15px;
    padding-left : 15px;
    
    text-alignment : left;
    */
    margin-left : 15px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14pt;
    font-family : Verdana;
    text-shadow: 1px 1px #7f7f7f;
    /*
    top:20%;
    bottom:25%;
    */
    
}
.imgPat
 {
    position : absolute;
    vertical-align:center;
    background-position:right;
    /*
    margin-top:25%;
  margin-bottom:25%;
  */
    left : 85%;
    }
    
   .menu
   {
     background-color:#ffffff; 
     border-bottom: 1px solid #1D8387;
    /* border-top : 1px solid #96c0c6;*/
    /*background-color:#c9a174;*/
      
    
   } 
   .liMenu
   {
     border-bottom : 10px solid 82e9f7;
   }

.trMainMenu
{
  height:44px;
    width:100%;
    
    
    background :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #48cbcb , #27707e ); /* Chrome 10+, Saf5.1+ */
   background :   -moz-linear-gradient( #48cbcb , #27707e ); /* FF3.6 */
   border : 1px solid #48d1d8;
}
.trMenu
   {
       width:100%;
       height : 44px;
      background : #ffffff; 
     
       
   }
.trMenu:active
   {
       width:100%;
       height : 44px;
      background : #a2d7d7; 
     
       
   }
.imgIcon
{
	vertical-align:middle;
}
.menuTable
{
  width : 100%;
  height : auto;
  border-bottom: 2px solid #96c0c6;
}
.spMenu
{
      font-weight: bold;
      color: #303030;
      font-size: 12pt;
      font-family : Arial;
    /*text-shadow: 1px 1px #7f7f7f;*/
}

.countIcon1
{
	width : 16%;
	height : 20%;
	font-family : Arial;
	font-weight: Bold;
	font-size: 12px;
	color: #000000;
}
.countIcon
{	-moz-box-shadow:inset 0px 1px 0px 0px #59cbd1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #59cbd1;
	box-shadow:inset 0px 1px 0px 0px #59cbd1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #43b3b9), color-stop(1, #33959c) );
	background:-moz-linear-gradient( center top, #43b3b9 5%, #33959c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#43b3b9', endColorstr='#33959c');
	background-color:#43b3b9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #1e2227;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12pt;
	font-weight:bold;
	padding:3px 10px;
	text-decoration: none;
        text-shadow: none;
}
