@charset "utf-8";
/* new css values*/
.divIPcontent
{
    overflow : hidden;
 	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 3px; 
	position:relative;
	
}
.ipHeader{
	height:85px;
	width:100%;
}
.ipHeaderMenuContainer2
{
	margin-top: 6px;
	margin-left: 5px;
	margin-right: 5px;
}
.ipHeaderMenuContainer1 {
	width: 100%;
	height: 40px; 
}
.ipHeaderPageTitle{
	padding: 5px;
}
.ipHeaderSearchPatientTxtBox{
	border: 0px;
	margin-left:4px;
	-webkit-appearance: none; 
	padding-bottom: 4px;
	
}

	
.ipHeaderSearchPatientText{
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
	height: 30px;
	width:96%;
}

.ipContentHolderIconContainer{
	padding: 2px;
	vertical-align: middle;

}
.ipContentHolderHeader {
	width: 100%;
	height: 35px; 
	}
.IPContentTable
{
	height : auto;
	width : 100%; 
 }
 
  
.trIpRows
{
	width : 100%; 
	height :85px;
}

.trIpRows1
{
	width : 100%; 
	/* height : 75px; */
}

.tdLegendCol
{
	vertical-align:middle;

}

.imgPhoto1
{
	/* margin-top : 5px; */
  	border-radius: 2px;
	width: 60px; 
	height: 60px;
	vertical-align: middle;
}
.trIpChildRows 
{
	height : 16px;
}
.txtRows
{

	width : 100%;
	padding-left:10px;

}
.lz-list-label
{
	padding-left: 10px;
}
.lz-list-data1
{
	padding-left: 1px;
}
.lz-list-data2
{
	padding-left: 1px;
}

.ipListArrowImage{
	padding-right: 12px;
}

.tblegends
 {
	width:100%;
	height:38px;
	bottom : 0px;
}
 
.legendToggler
{
	border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
    -webkit-border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
	height: 38px;
	width: 40px;
	vertical-align: middle;
	position:absolute;
	bottom:0px;
	right:0;
	z-index:1000;
}
 .legendContainer
 {
	position:absolute;
	width:100%;
	bottom:0px;
	right:0;
	display:none;
}
.ipContentHolderRefreshIcon {
	padding-left: 10px;
	height: 26px;
}

/*SFS related*/

.sfs-bubble-arrow {
	z-index:-10;
	border-style: solid;
	border-width: 5px;
	height:0;
	width:0;
	position:absolute;
	top : 35px;
	right : 30px;
	display:none;
}
.sfs 
{
	z-index:-10;
	position:absolute;
	padding : 0px;
	top : 45px;
	height : 300px;
	right:5px;
	width:340px;
	display : block;
	overflow:hidden;
	display:none;
}

.ipSearchHeader{
	width:100%; 
	height :12%;
}





.ipSearchContainer{
	width: 98%; 
	height: 85%;
	margin:3px;
}


.ipSearchTabNotSelected{	
	height : 40px;
}


.ipSearchTabSelected{

	height : 40px;
}

.ipSearchTabText{
	padding-top:10px;
}


.ipSearchItem{
	margin-top:15px;
	margin-bottom:15px;
	margin-left:15px;
	margin-right:15px;
	border-radius:3px;
	padding-top:12px;
	padding-bottom:12px;
}

.ipSearchSfsItem{
	margin-top:8px;
	margin-bottom:8px;
	margin-left:15px;
	margin-right:15px;
	border-radius:3px;
	padding-top:8px;
	padding-bottom:8px;
}


.ipSearchItemTextbox{
	background: transparent;
	-webkit-appearance: none; 
	border:0;
	width: 300px;
}



.ipSearchSfsItemTextSearch{
	padding-left:5px;

}



.ipSearchItemRadioButtons{
	margin-left:5px;
}


.ipSearchResultsHeading{
	width: 100%;
	height :30px;

}
.ipSearchResultsHeadingText{
	padding-left:10px;
}


.ipSearchResultsBody{

	width: 100%;
	height: 30px; 
}
.ipSearchResultsBodyText{
	padding-left:10px;
	height: 30px;
}

}


/*------------------ MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS ------------------------------- MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS MEDIA CSS -------------*/
/*------------------Record Problems/Diagnosis related styles END-------------*/



.divIPcontent
{
    overflow : hidden;
 	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 3px; 
	position:relative;
	
}
.ipHeader{
	height:85px;
	width:100%;
}
.ipHeaderMenuContainer2
{
	margin-top: 6px;
	margin-left: 5px;
	margin-right: 5px;
}
.ipHeaderMenuContainer1 {
	width: 100%;
	height: 40px; 
}
.ipHeaderPageTitle{
	padding: 5px;
}
.ipHeaderSearchPatientTxtBox{
	border: 0px;
	margin-left:4px;
	-webkit-appearance: none; 
	padding-bottom: 4px;
	
}

	
.ipHeaderSearchPatientText{
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
	height: 30px;
	width:96%;
}

.ipContentHolderIconContainer{
	padding: 2px;
	vertical-align: middle;

}
.ipContentHolderHeader {
	width: 100%;
	height: 35px; 
	}
.IPContentTable1
{
	height : 70px;
	max-height : 110px;
	width : 100%; 
 }
.trIpRows
{
	width : 100%; 
	height :85px;
}
.tdLegendCol
{
	vertical-align:middle;

}

.imgPhoto
{
	margin-top : 5px;
  	border-radius: 2px;
	width: 60px; 
	height: 60px;
	vertical-align: middle;
}
.trIpChildRows 
{
	height : 16px;
}
.txtRows
{

	width : 100%;
	padding-left:10px;

}
.lz-list-label
{
	padding-left: 10px;
}
.lz-list-data1
{
	padding-left: 1px;
}
.lz-list-data2
{
	padding-left: 1px;
}

.ipListArrowImage{
	padding-right: 12px;
}

.tblegends
 {
	width:100%;
	height:38px;
	bottom : 0px;
}
 
.legendToggler
{
	border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
    -webkit-border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
	height: 38px;
	width: 40px;
	vertical-align: middle;
	position:absolute;
	bottom:0px;
	right:0;
	z-index:1000;
}
 .legendContainer
 {
	position:absolute;
	width:100%;
	bottom:0px;
	right:0;
	display:none;
}
.ipContentHolderRefreshIcon {
	padding-left: 10px;
	height: 26px;
}

/*SFS related*/

.sfs-bubble-arrow {
	z-index:-10;
	border-style: solid;
	border-width: 5px;
	height:0;
	width:0;
	position:absolute;
	top : 35px;
	right : 30px;
	display:none;
}
.sfs 
{
	z-index:-10;
	position:absolute;
	padding : 0px;
	top : 45px;
	height : 300px;
	right:5px;
	width:340px;
	display : block;
	overflow:hidden;
	display:none;
}

.ipSearchHeader{
	width:100%; 
	height :12%;
}





.ipSearchContainer{
	width: 98%; 
	height: 85%;
	margin:3px;
}


.ipSearchTabNotSelected{	
	height : 40px;
}


.ipSearchTabSelected{

	height : 40px;
}

.ipSearchTabText{
	padding-top:10px;
}


.ipSearchItem{
	margin-top:15px;
	margin-bottom:15px;
	margin-left:15px;
	margin-right:15px;
	border-radius:3px;
	padding-top:12px;
	padding-bottom:12px;
}

.ipSearchSfsItem{
	margin-top:8px;
	margin-bottom:8px;
	margin-left:15px;
	margin-right:15px;
	border-radius:3px;
	padding-top:8px;
	padding-bottom:8px;
}


.ipSearchItemTextbox{
	background: transparent;
	-webkit-appearance: none; 
	border:0;
	width: 300px;
}



.ipSearchSfsItemTextSearch{
	padding-left:5px;

}



.ipSearchItemRadioButtons{
	margin-left:5px;
}


.ipSearchResultsHeading{
	width: 100%;
	height :30px;

}
.ipSearchResultsHeadingText{
	padding-left:10px;
}


.ipSearchResultsBody{

	width: 100%;
	height: 30px; 
}
.ipSearchResultsBodyText{
	padding-left:10px;
	height: 30px;
}


@media only screen and (min-width: 100px) {
}
@media only screen and (min-width: 768px) {
}