@CHARSET "ISO-8859-1";

.landscape .divmain { /*  background-color: orange;*/
	min-height: 512px;
	height: auto;
	overflow: auto;
	padding: 0px;
	/*border-bottom: 2px solid #48d1d8;*/
}

.portrait .divmain { /*  background-color: orange; */
	height: auto;
	overflow: auto;
	min-height: 768px;
	padding: 0px;
	/*border-bottom: 2px solid #48d1d8;*/
}

.divHeader {
	height: 44px;
	/*width : 100%;*/
	background: -webkit-gradient(linear, left top, left bottom, from(#48cbcb),
		to(#27707e) ); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(#48cbcb, #27707e);
	/* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(#48cbcb, #27707e); /* FF3.6 */
	/*border : 1px solid #48d1d8;*/
	border: 1px solid #48d1d8;
}

.spanHeader {
	margin-left: 15px;
	font-weight: bold;
	color: #ffffff;
	font-size: 14pt;
	font-family: Arial;
	text-shadow: 1px 1px #7f7f7f;
}

.spanFilterCriteria {
	margin-left: 7%;
	color: #303030;
	font-size: 12pt;
	font-family: Arial;
}

.spanEncounterPeriod {
	margin-left: 5px;
	color: #303030;
	font-size: 11pt;
	font-family: Arial;
}
.spanEncounterPeriod1 {
        
	color: #303030;
	font-size: 11pt;
	font-family: Arial;
}

.cmbFilterBy {
	margin-left: 7%;
	width: 83%;
	height: 27px;
	color: #303030;
	font-size: 12pt;
	font-family: Arial;
	font-weight: Bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe),
		to(#cecece) ); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(#fefefe, #cecece);
	/* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(#fefefe, #cecece); /* FF3.6 */
	border: 1px solid #42a9b6;
	background: url(../images/ListArrow.png) no-repeat right;
}

.grid
{
	border-left:1px;
	border-right:1px;
	border-top:1px;
	border-bottom:1px;
	border-color:#666666;
	border-style:solid;
	margin:0;
	border-collapse: collapse;
}

A.gridLink:link 
{
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #0000FF;
	font-weight:normal;
	vertical-align:middle;
}
A.gridLink:visited 
{
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #0000FF;
	font-weight:normal;
	vertical-align:middle;
}
A.gridLink:active 
{
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #0000FF;
	font-weight:normal;
	vertical-align:middle;
}
A.gridLink:hover 
{
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #0000FF;
	font-weight:normal;
	vertical-align:middle;
}

TD.CAHIGHERLEVELCOLOR 
{
	background: url("../images/headerSeparator.jpg") repeat-y;
	background-position:right;
	COLOR: white ;
	background-color:#83AAB4;
	border:0px;
	padding-left:3px;
	font-family: Verdana;
	font-size: 8pt;
	font-weight:bold;
	border-collapse:collapse;
}

TD.CATHIRDLEVELCOLOR {
	FONT-FACE: verdana ;
	FONT-SIZE: 7pt ;
   	COLOR:WHITE;
	BACKGROUND-COLOR: #B8CFD5 ;
}

TD.CAGROUP 
{
  FONT-FAMILY: VERDANA ;
  FONT-SIZE: 8pt ;
  BACKGROUND-COLOR: #D5E2E5; /*----- Changed from #FFFFFFF -------*/
  COLOR:BLACK;
  FONT-WEIGHT: BOLDER
}

TD.CAFOURTHLEVELCOLOR 
{
   	BACKGROUND-COLOR: #FFFFFF;
   	FONT-SIZE: 7pt ;
   	 COLOR:black;
}

.gridDataChart
{
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight:normal;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	vertical-align:middle;
	border-bottom:1px;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-style:solid;
	border-color:#EEEEEE;
} 

.gridTooltipData
{
	background-color: #FEFFE5;
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	font-weight:normal;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	vertical-align:middle;
	border-bottom:1px;
	border-top:1px;
	border-left:1px;
	border-right:1px;
	border-style:solid;
	border-color:#DCDCDC;
}

.gridDataSelect
{
	background-color: #CDE5FF;
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	font-weight:normal;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	vertical-align:middle;
	border-bottom:1px;
	border-top:1px;
	border-left:1px;
	border-right:1px;
	border-style:solid;
	border-color:#0460B5;
}

TD.QRYEVEN {
	BACKGROUND-COLOR: #FFFFFF;
	FONT-SIZE: 9pt;
	BORDER-STYLE: SOLID;
	border-left-color: #D5E2E5;
	border-right-color: #D5E2E5;
	border-top-color: #D5E2E5;
	border-bottom-color: #D5E2E5;
	height: 18;
	text-align: LEFT;
}

TD.QRYODD {
	FONT-SIZE: 9pt;
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-STYLE: SOLID;
	border-left-color: #D5E2E5;
	border-right-color: #D5E2E5;
	border-top-color: #D5E2E5;
	border-bottom-color: #D5E2E5;
	height: 18;
	text-align: LEFT;
}

.landscape #notesContentFrame1
{
     width : 100%;
      min-height : 491px;
      padding : 0px;
      
    
}
.portrait #notesContentFrame1
{
   width : 100%;
   min-height : 747px;
   padding : 0px; 

}

.btnType1 {
	height: 30px;
	background: -moz-linear-gradient(#015555, #2496ac);
	background: -webkit-gradient(linear, left top, left bottom, from(#015555),
		to(#2496ac) ); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(#015555, #2496ac);
	/* Chrome 10+, Saf5.1+ */
	border: 1px solid #48d1d8;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-family: Arial;
	font-size: 12pt; +9
	margin-right: 2%;
}