.divcontent
{
 /*width  :100%;*/
 height : auto;
 overflow : auto;
 background-color: #eee; 

 
}
.dvSrchcontent
{
   /*width  :100%;*/
 height : auto;
 overflow : auto;
 background-color: #eee; 
}
.lz-list-label-Patient
{
  /*font-weight: bold;*/
    color: #00666d;
    font-size: 12pt;
    font-family : Gotham Bold;
  /*  padding-left:10px;*/

}
.lz-list-label-Patient1
{
  /*font-weight: bold;*/
    color: #00666d;
    font-size: 12pt;
    font-family : Gotham Bold;
   padding-left:10px;

}
.lz-list-data
{
	/*position:relative;*/
    /*color: #009999;*/
    /*font-family : Imprint MT Shadow;Book Antiqua;*/
    /*font-family :Imprint MT Shadow;*/

  /*  font-weight: bold;*/
    color: #000000;
    font-size: 12pt;
    font-family : Arial;
    padding-left:5px;
    

   /* margin-left:10px;*/
}
.lz-list-data1
{
	/*position:relative;*/
    /*color: #009999;*/
    /*font-family : Imprint MT Shadow;Book Antiqua;*/
    /*font-family :Imprint MT Shadow;*/

  /*  font-weight: bold;*/
    color: #000000;
    font-size: 12pt;
    font-family : Arial;
 padding-left: 1px;
    

   /* margin-left:10px;*/
}
.lz-list-label
{
    /*font-weight: bold;*/
    color: #000000;
    font-size: 12pt;
    font-family : Arial;
  padding-left: 10px;
    

}
.lz-list-label1
{
    /*font-weight: bold;*/
    color: #000000;
    font-size: 12pt;
    font-family : Arial;
 /* padding-left: 10px;*/
    

}
.srchLabel
{
   color: #000000;
    font-size: 12pt;
    font-family : Arial;
    padding-left:18px;
}
.doctor
{
 border : 1px solid #ccc;
}
.ui-btn-text-data1
{
    background:  #f1f2f3;
}
.ui-btn-text-data2
{
    background: #d5d7d7;
}
.rightUl1
{
    
    float: right;
    padding-top: 0px;
    width: 40%;
    padding: 0px;
    margin-top : 0px;
}

.firstleftUl1
{
   position:absolute;
    float: left;
    width: 1%;
    left:0%;
   /* top:2px;*/
    
    /*padding-left: 5px;*/
     margin-left: 2px;
    border : 1px solid;
     
}
.firstleftUl
{
   position:absolute;
    float: left;
    width: 4%;
    left:0%;
   /* top:2px;*/
    
    /*padding-left: 5px;*/
     margin-left: 5px;
     
}
.firstleftUl22
{
   position:relative;
    float: left;
    width: 1%;
    left:0%;
   /* top:2px;*/
    
    /*padding-left: 5px;*/
     margin-left: 0px;
     
}
.leftUl
{
    position:relative;
    float: left;
    width: 39%;
    left:5%;
     margin-top: 7px;
    margin-left: 10px;
   
    /*padding: 0px;*/
}

.rightUl
{
    position : relative;
    float: left;
   /* padding-top: 0px;*/
   
    left : 7%;
    width: 25%;
   /* padding: 0px;*/
   margin-top : 7px;
   margin-left: 10px;
   
   
}
.lastrightUl
{
  position : relative;
    float: left;
    padding-top: 0px;
    left : 11%;
   /* width: 35%;*/
    padding: 0px;
    margin-top : 7px;
     margin-left: 10px; 
}

.eh-pat-id
{
  font-weight: bold;
    color: red;
}
.btnType1{
         height : 30px;
         
      
        background :   -moz-linear-gradient( #015555 , #2496ac ); 
        background :  -webkit-gradient(linear, left top, left bottom, from( #015555 ), to( #2496ac )); /* Saf4+, Chrome */
        background : -webkit-linear-gradient( #015555 , #2496ac ); /* Chrome 10+, Saf5.1+ */
        border:1px solid #48d1d8;
        border-radius:5px;
        -moz-border-radius:5px;
       font-family: Arial;
	font-size: 12pt;
       color : #ffffff;
       /* margin-left : 25px;*/
        

    }
.dvsrch
{
    height:44px;
    
    /*
    background :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
   /* background : -webkit-linear-gradient( #48cbcb , #27707e ); /* Chrome 10+, Saf5.1+ */
    /*background :   -moz-linear-gradient( #48cbcb , #27707e ); /* FF3.6 */
    /*
     background-image: url(Heading-Panel-down-Arrow.png) ;
     background-image : -webkit-linear-gradient( #48cbcb , #27707e ); 
     background-image : -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); 
     */
       /*
      background-color :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
    /* background-color :-webkit-linear-gradient( #48cbcb , #27707e );*/
    background-color : #48cbcb;
      background-image: url(../images/Heading-Panel-down-Arrow.png) ;
    
     
       
      
     background-repeat:no-repeat;
    background-position :right;
    border-bottom : 1px solid #27707e;
      /*
       -webkit-background-size: 20px 20px;
    */

    
   
 
   
  
}
.dvApp
{
    height:44px;
    /*width : 100%;*/
 
    background :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #48cbcb , #27707e ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #48cbcb , #27707e ); /* FF3.6 */
    /*border : 1px solid #48d1d8;*/
     border : 1px solid #48d1d8;
    
   
 
   
  
}
.dvStroke
{
 width : 100%;
 height : 1px;
/* background : #333333;*/
background : #333333;
}
.tbApp
{
float : right; 
width : 40%; 
height : 44px; 
border : 1px; 
}
.cmb

{


width:150px; 

height:30px; 
background : white;
vertical-align :middle; 
}


.mnOrderBy
{
	position : relative;
	left : 40%;
	vertical-align:center;
	background-position:right;
}
.iMCHITable_Middle
    {
        display:table-cell;
        width: 5%;
        height : 44px;
        vertical-align:top;
        float : right;
         
        
        
        
    } 
    
  
  .iMCHITable_Right
    {
        display:table-cell;
        width: 30%;
        vertical-align:top;
        padding-left: 15px;
        float : right;
        height : 44px;
        top : 0px;
    }  
 .iMCHIControl_Style
    {
        width:100%;
        height:5px;
        vertical-align:top;   
        background-color: #414956;

    }    
     
.spanDvsrch
{
   
    line-height:44px;


    margin-left : 18px;
    font-weight: bold;
    color: #ffffff;
    font-size: 18pt;
    font-family : Arial;
    text-shadow: 1px 1px #7f7f7f;
   
    
}
.spanDvIp
{
   


    margin-left : 15px;
    font-weight: bold;
    color: #ffffff;
    font-size: 18pt;
    font-family : Arial;
    text-shadow: 1px 1px #7f7f7f;
   
    
}

.spanDvsrchbk
{
    /*position:relative;*/
    line-height:44px;
   /*left : 15px;
    padding-left : 15px;
    
    text-alignment : left;
    */

    margin-left : 15px;
    font-weight: bold;
    color: #ffffff;
    font-size: 18pt;
    font-family : Arial;
    text-shadow: 1px 1px #7f7f7f;
    /*
    top:20%;
    bottom:25%;
    */
    
}
.spRadio
{
    margin-left : 3px;
    line-height:35px;
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
   /* text-shadow: 1px 1px #7f7f7f;*/
}
.spSrchCriteria
{
    margin-left : 7%;
    
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
   /* text-shadow: 1px 1px #7f7f7f;*/
}
.spIpCriteria
{
    margin-left : 7%;
    
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
   /* text-shadow: 1px 1px #7f7f7f;*/
}
.cmbSrchCriteria
{
   margin-left : 7%;
   width : 83%;
   height : 27px;
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
    font-weight : Bold;
  background :  -webkit-gradient(linear, left top, left bottom, from( #fefefe ), to( #cecece )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #fefefe , #cecece ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #fefefe , #cecece ); /* FF3.6 */
   border : 1px solid #42a9b6;
   background: url(../images/ListArrow.png) no-repeat right;
}
.cmbOrderBy
{
  /* margin-left : 7%;*/
   width : 83%;
   height : 27px;
   border : 1px solid #42a9b6;
   /*background: url(Searchicon.png) no-repeat right;*/
}
.tbCriteria
{
  width : 83%;
  height : 19px;
  margin-left : 7%;
  border : 1px solid #42a9b6;
  color: #303030;
    font-size: 12pt;
    font-family : Arial;
    font-weight : Bold;
    background :  -webkit-gradient(linear, left top, left bottom, from( #fefefe ), to( #cecece )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #fefefe , #cecece ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #fefefe , #cecece ); /* FF3.6 */
 background: url(../images/Searchicon.png) no-repeat right;
}
.tbPatCriteria
{
  width : 83%;
  height : 20px;
  margin-left : 7%;
     color: #303030;
    font-size: 12pt;
    font-family : Arial;
    font-weight : Bold;
  background :  -webkit-gradient(linear, left top, left bottom, from( #ffffff ), to( #ffffff )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #ffffff, #ffffff ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #ffffff, #ffffff ); /* FF3.6 */
  border : 1px solid #42a9b6;
   -webkit-appearance: none;

 
}
.radioGroup
{
  margin-left : 7%;
  width : 26px;
  height : 26px;
  border : 1px solid #00b5b5;


}
.spanDvsrch12
{
    
   
    margin-left : 15px;
    font-weight: bold;
    color: #ffffff;
    font-size: 18pt;
    font-family : Arial;
    text-shadow: 1px 1px #7f7f7f;

    
}
.dvSrchPanel
{
  border : 1px solid #b0bcbd;
 
    background :  -webkit-gradient(linear, left top, left bottom, from( #e3e7ea ), to( #9fb4b9 )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #e3e7ea , #9fb4b9 ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #e3e7ea , #9fb4b9 ); /* FF3.6 */
}
.imgg 
 {
    position : absolute;
    vertical-align:center;
    background-position:right;
    /*
    margin-top:25%;
  margin-bottom:25%;
  */
    left : 94%;
    }
    
 .tblegends
 {
   width:100%;
   height:50px;
   bottom : 0px;
   
    
    background :  -webkit-gradient(linear, left top, left bottom, from( #f4f4f4 ), to( #b6b6b6 )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #f4f4f4 , #b6b6b6 ); /* Chrome 10+, Saf5.1+ */
   background :   -moz-linear-gradient( #f4f4f4 , #b6b6b6 ); /* FF3.6 */
 }
 
 

 .spLegends
 {
   
    /*position:relative;*/
   
  
   /* padding-bottom : 8px;
    
    font-weight: bold;*/
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
    text-shadow: 1px 1px #7f7f7f;
   
 }
 .tdlegends
 {
  border-right: 1px solid #999999;
    
 }
 .divLegends
{
   height : 17px;
   width : 17px;
   margin-top : 2px;
   border : 1px solid #000000;
   border-radius : 3px;
} 

.tbIpContent1
{
	height : auto;
	width : 100%;
	background: #f1f2f3;
        border-bottom : 1px solid;
	
}
.tbIpContent2
{
	height : auto;
	width : 100%; 
        
        
	
}

.trIpRows1
{
	height : 65px;
        background: #d5d7d7;
	
}
.trIpRows2
{
	height : 65px;
        background: #f1f2f3;
	
}
.txtRoom1
{
    height : 99%;
   background-color: #d5d7d7;
   width : 100%;
    border : 0px ;
   border-top : 0px;
   border-radius : 0px;
   color: #000000;
   font-size: 12pt;
   font-family : Arial;
   padding-left:10px;
   -webkit-appearance: none;
}
.txtRoom2
{
    height : 99%;
   background-color: #f1f2f3;
   width : 100%;
    border : 0px ;
   border-top : 0px;
   border-radius : 0px;
   color: #000000;
   font-size: 12pt;
   font-family : Arial;
   padding-left:10px;
   -webkit-appearance: none;
}
.txtAdm1
{
    height : 99%;
   background-color: #d5d7d7;
   width : 100%;
    border : 0px ;
   border-top : 0px;
   border-radius : 0px;
   color: #000000;
   font-size: 12pt;
   font-family : Arial;
   padding-left:10px;
   -webkit-appearance: none;
}
.txtAdm2
{
    height : 99%;
   background-color: #f1f2f3;
   width : 100%;
    border : 0px ;
   border-top : 0px;
   border-radius : 0px;
   color: #000000;
   font-size: 12pt;
   font-family : Arial;
   padding-left:10px;
   -webkit-appearance: none;
}
.txtRows1
{
  height : 99%;
  background-color: #d5d7d7;
  width : 100%;
  border : 0px solid red;
  border-top : 0px;
  border-radius : 0px;
  color: #00666d;
    font-size: 12pt;
    font-family : Gotham Bold;
   padding-left:10px;
  text-align : bottom;
  -webkit-appearance: none; 
}
.txtRows2
{
  height : 99%;
  width : 100%; 
  background-color: #f1f2f3;
  border : 0px;
  border-top : 0px;
  border-radius : 0px;
  color: #00666d;
    font-size: 12pt;
    font-family : Gotham Bold;
   padding-left:10px;
   text-align : bottom;
  -webkit-appearance: none; 
}
.trIpRowsTouch
{
	height : 65px;
        background: #a2d7d7;
	
}
.trIpChildRows
{
		height : 16px;
	 
}
.trSrchRow1
{
        height : 40px;
        background: #f1f2f3;
}
.trSrchRow2
{
        height : 40px;
         background: #d5d7d7;
}
.imgPhoto
{
  margin-top : 5px;
}
.dvLegendRed
{
  height : 17px;
  width : 17px;
  background : pink;
  border : 1px solid #000000; 
  -webkit-border-radius : 3px;
  
}
.dvCriteria
{
  background : #ffffff;
  /*width:100%;*/
  

}
.dvLegendDeceased
{
  height : 17px;
  width : 17px;
  background : black;
  border : 1px solid #000000; 
  -webkit-border-radius : 3px;
  
}
.dvLegendNewBorn
{
  height : 17px;
  width : 17px;
  background : pink;
  border : 1px solid ; 
  -webkit-border-radius : 3px;

  
}
.dvLegendDischarged
{
  height : 17px;
  width : 17px;
  background : #ffa500;
  border : 1px solid #000000; 
  -webkit-border-radius : 3px;

  
}
.dvLegendNotRequired
{
  height : 0px;
  width : 0px;
 

  
}
.dvLegendNoRelation
{
   height : 17px;
  width : 17px;
  
  border : 1px solid #000000; 
  -webkit-border-radius : 3px;
  /* background-image: url(Legend-no-PP-relationship.png) no-repeat center;*/
   background:#ffffff;

}


