
.btnType1{

         height : 30px;
         
      
        background :   -moz-linear-gradient( #015555 , #2496ac ); 
        background :  -webkit-gradient(linear, left top, left bottom, from( #015555 ), to( #2496ac )); /* Saf4+, Chrome */
        background : -webkit-linear-gradient( #015555 , #2496ac ); /* Chrome 10+, Saf5.1+ */
        border:1px solid #48d1d8;
        border-radius:5px;
        -moz-border-radius:5px;
       font-family: Arial;
	font-size: 12pt;
       margin-right : 2%;
       color : #ffffff;
        

    }
.landscape #notesContentFrame1
{
     width : 100%;
      min-height : 491px;
      padding : 0px;
      
    
}
.portrait #notesContentFrame1
{
   width : 100%;
   min-height : 747px;
   padding : 0px; 

}
.landscape #patientcfsFrame1
{
     width : 100%;
      min-height : 491px;
      padding : 0px;
      
    
}
.portrait #patientcfsFrame1
{
   width : 100%;
   min-height : 747px;
   padding : 0px; 

}
.landscape #notes
{
     width : 100%;
      min-height : 470px;
      padding : 0px;
      
    
}
.portrait #notes
{
   width : 100%;
   min-height : 726px;
   padding : 0px; 

}

.divmainAllergy
{
background-color: white;
   width : 100%;
  height : auto;
 padding : 0px; 
 overflow : auto; 
}
.tbmainallergy 
{
    background-color: white;
    width : 100%;
    height : 100%;
}

.tdwidLasrAllergytCells
{
	width:22%;
	
	/*background : #f1f2f3;*/
	border-left : 1px solid grey;
	border-bottom : 1px solid grey;
}
.tdwidAllergyleftCells
{
	width:24%;
	
	/*background : #f1f2f3;*/
	border-left : 1px solid grey;
	border-bottom : 1px solid grey;
}
.tdWidImg
{
	width:4%;
    /*background : #f1f2f3;*/
    border-bottom : 1px solid;
}
.tdWidImgHeader
{
	width:4%;

}

.tdWidImg2
{
	width:4%;
	border-bottom : 1px solid grey;
	background : #f1f2f3;

}
.tdmainCell
{
	width:4%;
	border-bottom : 1px solid grey;
	/*border-top : 1px solid grey;*/
	background : #f1f2f3;
}
.tdWidImg3
{
	width:4%;
	
	background : #f1f2f3;

}
.tdwidAllergytCells
{
	width:24%;
	
	/*background : #f1f2f3;*/
	
	border-bottom : 1px solid grey;
	
}
.tdWidHeader
{
	width:24%;
	
	
}


.dvwidgetContainerAllergy
{
	
	height:100%;
	border : 1px solid red;
	/*width:100%;*/
	 border-radius : 10px;
	 -webkit-border-bottom-right-radius : 0px;
   -webkit-border-bottom-left-radius : 0px;
  /* background : #d5d7d7;*/
    background : white;
	 
}
.spaDvHeader
{
/*
	position :relative;
	left : 0%;
*/
	/*margin-top:3px;*/
	/*margin-left :10px;*/
	/*vertical-align:middle;*/
	/*line-height:20%;*/
	
}
.dvWidgetHeaderAllergy
{
	height :60px;
	
	width : 100%;
	 background :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #48cbcb , #27707e ); /* Chrome 10+, Saf5.1+ */
   background :   -moz-linear-gradient( #48cbcb , #27707e ); /* FF3.6 */
   border-radius : 10px;
   border-bottom : 1px solid #27707e;
   -webkit-border-bottom-right-radius : 0px;
   -webkit-border-bottom-left-radius : 0px;
   
}
.dvWidgetContentAllergy
{
	height : 80%;
	width : 100%;
	overflow :auto;
	background : white;
}
.spWidHeaderAllergy
{
	position : relative;
	left : 0%;
	/*margin-left : 10px;*/
        font-family : Arial;
        color: #000000;
        font-size: 12pt;
        font-weight : Bold;
  




}

.divmainResults
{
  background-color: white;
   
  height : auto;
 padding : 0px; 
 overflow : auto; 
}
.tbmainResults
{
    background-color: #ffffff;
    width : 100%;
   
}
.dvwidgetContainerResults
{
 /* min-height : 480px;*/
  height:auto;
 /* border : 1px solid red;*/
 /*width:100%;*/
/*
  border-radius : 10px;
  -webkit-border-bottom-right-radius : 0px;
   -webkit-border-bottom-left-radius : 0px;
*/
  /* background : #d5d7d7;*/
   background : #ffffff;
  
}


.dvWidgetContentResults
{
  /*min-height : 450px;*/
  height : auto;
	/*width : 100%;*/
	overflow :auto;
	background-color : #ffffff;
}

.landscape #iframeResultDetails
{
      width : 100%;
      min-height : 491px;
      padding : 0px;
 
}

.portrait #iframeResultDetails
{

   width : 100%;
   min-height : 747px;
   padding : 0px; 
  
    
}

.landscape #iframeAllergyDetails
{
      width : 100%;
      min-height : 491px;
      padding : 0px;
 
}

.portrait #iframeAllergyDetails
{

   width : 100%;
   min-height : 747px;
   padding : 0px; 
  
    
}
.spaDvHeaderAllergies
{
	
        position : relative;
	/*margin-top:3px;*/
	margin-left :10px;
        line-height : 44px ;
         font-family : Arial;
        color: #ffffff;
        font-size: 14pt;
        font-weight : Bold;
       text-shadow: 1px 1px #7f7f7f;
	
	
}
.spaDvContentAllergies
{
	
        position : relative;
	/*margin-top:3px;*/
	margin-left :10px;
      /* font-weight : Bold;*/
           color: #ffffff;
 font-size: 12pt;
         font-family : Arial;
        text-shadow: 1px 1px #7f7f7f; 
       
    
       
	
	
}
.spaDvAllergyDetails
{
     margin-left : 10px;
   /*   font-weight: bold;*/
    color: #000000;
    font-size: 12pt;
    font-family : Arial;
    position : relative;
	left : 0%;

}

.spaDvAllergyDetails1
{
     /*margin-left : 10px;
   font-weight: bold;*/
    color: #000000;
    font-size: 12pt;
    font-family : Arial;
    position : relative;
	left : 0%;

}

.dvWidgetHeaderResults
{
  height :44px ;
  background :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #48cbcb , #27707e ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #48cbcb , #27707e ); /* FF3.6 */
/*
  border-radius : 10px;
  border-bottom : 1px solid #27707e;
  -webkit-border-bottom-right-radius : 0px;
  -webkit-border-bottom-left-radius : 0px;
*/
}
.dvWidgetHeaderAllergy
{
  height :44px ;
  background :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #48cbcb , #27707e ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #48cbcb , #27707e ); /* FF3.6 */
/*
  border-radius : 10px;
  border-bottom : 1px solid #27707e;
  -webkit-border-bottom-right-radius : 0px;
  -webkit-border-bottom-left-radius : 0px;
*/
}
.trWidgetSummary12
{
height : 30px;
	   background : #cccccc;
  
	
}
.trWidgetSummary1
{

	   background :  -webkit-gradient(linear, left top, left bottom, from( #bdbebe ), to( #ffffff )); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #bdbebe  , #ffffff  ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #bdbebe , #ffffff  ); /* FF3.6  #bdbebe*/
  border : 1px solid #afb0b0; 
	
}
.trAllSummary1
{
 height : 30px;
 background : #ffffff;
}
.trpendingorder
{
 height : 30px;
 background : #ffffff;
}
.trAllSummary2
{
 height : 30px;
background :  #cccccc;
}

.tbWidgetContent
{
	height : 40px;
	width : 100%;
	border : 0px;
	
}
.tbMainResults
{
      height : 100%;
      width : 100%;
     /* border : 1px solid orange;*/
}
.trResultsHeader
{
   height : 40px;
   background :  -webkit-gradient(linear, left top, left bottom, from( #bdbebe ), to( #ffffff )); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #bdbebe  , #ffffff  ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #bdbebe , #ffffff  ); /* FF3.6  #bdbebe*/
 
   
}
.trAllergySummary
{
 height : 30px;
 background : #f9f9f9;
}
.trAllergySum
{
 height : 30px;
 background : #ffffff;
}
.trAllergSummary
{
 height : 30px;
 background :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #48cbcb , #27707e ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #48cbcb , #27707e ); /* FF3.6 */
  border : 1px solid #48d1d8;  
     overflow: auto;
}
.spWidHeaderResluts
{
	
	
	margin-left : 10px;
          font-weight: bold;
    color: #000000;
    font-size: 12pt;
    font-family : Arial;
    
    
}
.spaDvHeaderResults
{
	
        position : relative;
	/*margin-top:3px;*/
	margin-left :10px;
        line-height : 44px ;
         font-family : Arial;
        color: #ffffff;
        font-size: 14pt;
        font-weight : Bold;
       text-shadow: 1px 1px #7f7f7f;
	
	
}
.spaResultsDate
{
            font-weight: bold;
    color: #ffffff;
    font-size: 12pt;
    font-family : Arial;
    text-shadow: none; 
}
.trResultDate
{
  height : 30px;
  
   
  
}
.trResultDetails
{
  height : 60px;
  width : 100%;
 
}
.spanResultDetails
{
  margin-left: 10px;
    font-weight: bold;
    color: #000000;
    font-size: 12pt;
    font-family : Arial;
}
.tbResultDate
{
  /*border-left : 1px solid black;*/
 /* background-color : #cccccc;*/
 background-color : #6b6b6b;

}
.tbResultDetails
{
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color : #ffffff;
     
}

.dvTable
{
  display : table;
  height : 52px;
  width : 100%;
  background-color : black;
  /*border : 1px solid red; */
}
.dvTableRow
{
   display : table-row;
   height : 52px;
   width : 100%;
  
}
.dvTableCell
{
   display : table-cell;
   height : 52px;
   width : 16%;
}
.dvImg
{
  height : 32px;
  width : 16%;
}

.dvText
{
  height : 20px;
  width : 16%;
}
.imgAllergywidget
{
  position : relative;
  left : 40%;
 /* margin-top : 1px;*/
 /* vertical-align : middle;*/
}
.spanWidgetIconText
{
 
  font-family : Arial;
  font-size : 10pt;
  color : #ffffff;
}

.dvWidgetIcon
{
  height : 52px;
  background : black;
  border : 1px solid red;
}

.spWidHeaderAllergies
{
     /*margin-left : 10px;*/
        
   
    font-family : Arial;
   color: #000000;
    font-size: 12pt;
   font-weight: bold;

   
}
.dvSelectOrderSearchResults
{
    height: 36px;
    background : #a1cfd2;
  
    /*border : 1px solid #48d1d8;
     border : 1px solid #48d1d8;*/  
     overflow: auto;
     


}
.spanSelectOrderSearchResults
{
    
    font-weight: bold;
    color: #000000;
    font-size: 12pt;
    font-family : Arial;
   
    /*margin-left : 10px;*/
}
.spanSelectOrderSearchResults12
{
    
   font-weight: bold;
    color: #000000;
    font-size: 12pt;
    font-family : Arial;
   
    /*margin-left : 10px;*/
}
.tbIpContent2
{
	height : auto;
	width : 100%; 
        
        
	
}
.dvSelectOrderRow2
{
  
	height : 30px;
	
	background : #cccccc;
}
.dvSelectOrderRow1
{
  
	height : 30px;

	background : #f9f9f9;
}
.spanSelectOrderRows1
{
    
    /*margin-left : 10px;*/
    color: #000000;
    font-size: 12pt;
    font-family : Arial;
    
}
 .tbproblegends
 {
   width:100%;
   height:20px;
   bottom : 0px;
   
    
    background :  -webkit-gradient(linear, left top, left bottom, from( #ffffff ), to( #cccccc )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #ffffff , #cccccc ); /* Chrome 10+, Saf5.1+ */
   background :   -moz-linear-gradient( #ffffff , #cccccc ); /* FF3.6 */
   border : 1px solid #cccccc;
 }
 .spprobLegends
 {

    
    font-weight: bold;
    color: #000000;
    font-size: 12pt;
    font-family : Arial;
  
   
 }
 
 .landscape #orderFormatFrame
{
     width : 100%;
      min-height : 491px;
      padding : 0px;
      
    
}
.portrait #orderFormatFrame
{
   width : 100%;
   min-height : 747px;
   padding : 0px; 

}
.trpatientcfsSummary
{
 height : 20px;
 background : #f9f9f9;
}
.tbParent
{
  width : 100%;
  border-bottom: 1px solid #afb0b0 ;

}