.widgetTableUser{
	 height: 100%;
	width: 100%;
	display:table;
}
.ui-body-c, .ui-overlay-c{
	
 text-shadow: 0 0px 0 #fff;
 
}
.widgetListWarpper{
    height: 100%;
	width:290px;
	background-color: #04334b;
	margin-left: 10px;
	z-index: 99999999;
	display:table-cell;
}

/* .userPrefernceMainWrapper{
	top:43px;
	bottom:0px;
	left: 0px;
	z-index: 6000;
	overflow: hidden;
	position: absolute;
	margin-left: 0px;
	width: 100%;
	display: table-row;
} */

.allActiveAndIncative{
	display:table;
	
	width:286px;
	
}

.activeList{
	display:table-row;
	
	width:286px;
	
}


.inactiveList{
	display:table-row;
	
	width:286px;
	
}

.widgetListWarppers{
	
	height: 100%;
	width:290px;
	
}

.hint {
    list-style-type: none;
	list-style: none;
	padding: 0;
	margin: 0;
  	font-family: Helvetica, Arial, sans-serif;
}

.hides{
	
  visibility: hidden;	
	
}
.mainwidget{
	  display:table-row;
	  height: 100%;
	  width:100%;
	  
}

.nonClickableWarpper{
	
   display:table-cell; 
   width: calc(100% - 310px); 
   
   width: -moz-calc(100% - 310px); 
   width: -webkit-calc(100% - 310px); 
   width: -o-calc(100% - 310px);
   
   height:100% ; 
   background-color: rgb(128, 128, 128); 
   opacity: 0.6;
}

.widgetHeader{
	
	display:table;
	width:280px;
	margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
	height:43px; 
	background-color: #18a4cf;
	border-bottom: 1px solid 1f253d;
	
}


.widgetHeaderRows{
	    width: 280px;
    margin: 0px;
    height: 43px;
display:table-row;
	
	}
	
	
.widgetHeadercellLable{
	
    width: auto;
    margin: 5px;
    height: 43px;
    display:table-cell;
	vertical-align: middle;
	padding-left: 10px;
	color: #fff;
	}
	
.widgetHeadercellLableEdit{
	
    width: 85px;
    margin: 5px;
    height: 43px;
    display:table-cell;
	vertical-align: middle;
	padding-left: 10px;
	color: #fff;
	}
	
.widgetHeadercellButton{
  	display:table-cell;
  	vertical-align: middle;
  	width: auto;
  	padding: 7px;
  	float: right;
}

.MenuList{
	Width:280px; 
	height : 100%; 
	display:table;
	margin-left: 5px;
    margin-right: 5px;   
	/*background-color: #0a4866;*/	
}
.sortableInactive{
	opacity: 0.5;
}

.MenuListItem{
	
	display:table-row;
	height:100%;
	width:286px;
	
	
}

.MenuListItemLable{
	 height: 20px;
	 Width:280px; 
	 display:table-row;
	 color:#1391bb;
	 font-size: 13px;
}

.MenuListItemLableCell{
	 padding-left: 5px;
	 Width:280px; 
	 display:table-cell;
	 color:#1391bb;
	 font-size: 11px;
	 font-family: "Segoe UI";
	 font-weight: 400;
	 vertical-align: middle;
	 letter-spacing: 1.5px;
}



.MenuItemTable{
	
	Width:280px; 
	height : 40px;
	display:table;
	background-color:#0a4866;
	border-bottom:1px solid #1b2c45;
	/* #1b2c45 */
}

.MenuItemRow{
		display:table-cell;
		Width:280px; 
	    height : 40px;
	    vertical-align: middle;
	}
	
	
.MenuItemDragIcon{
	display:table-cell;
	Width:45px ; 
	height:24px;
	vertical-align: middle;
   /* background-image:url('../images/Userpref_Allergies24x24.png');*/
	margin-left: 4px;
}



.MenuItemlabelIcon{
	
	display:table-cell;
	font-size: 14px;
    color: #fff;
    padding: 0px;
        width: 183px;
	vertical-align: middle;
	
}

.MenuItemCountMinus{
	
	display:table-cell;
	width: 45px;
	vertical-align: middle;
	
}

.dynamicImage{
	Width:25px ; 
	margin: 8px;
	height:24px;
/*background-image:url('../images/Userpref_Allergies24x24.png'); */
	
}


#sortable-basic{
	
	list-style-type: none;
	Width:280px; 
	height : 100%; 
	list-style: none;
	padding: 0;
	
    margin: 0;
}


#sortable-basic-Inactive{
	
	list-style-type: none;
	Width:280px; 
	height : 100%; 
	list-style: none;
	padding: 0;
	margin: 0;
}

 .DisplayStyle{
 color: #fff;
 padding-top: 4px;
 height: 24px;
 }
 
.userPrefWidgetButtonTheme{
	-moz-box-shadow: inset 0px 1px 0px 0px #2eadd4;
    -webkit-box-shadow: inset 0px 1px 0px 0px #2eadd4;
    box-shadow: inset 0px 1px 0px 0px #2eadd4;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #18a4cf), color-stop(1, #127fba) );
    background: -moz-linear-gradient( center top, #18a4cf 5%, #127fba 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#18a4cf', endColorstr='#127fba');
    background-color: #18a4cf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* text-indent: -1px; */
    border: 1px solid #374450;
    /* display: inline-block; */
    color: #ffffff;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    height: 28px;
    line-height: 28px;
    width: 42px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #2b363e;
    cursor: pointer;
} 
 
 .MenuItemTableEdit{
	
	Width:280px; 
	height : 40px;
	display:table;
	background-color:#0a4866;
	border-bottom:1px solid #1b2c45;
	/* #1b2c45 */
}

.MenuItemRowEdit{
		display:table-cell;
		Width:280px; 
	    height : 40px;
	    vertical-align: middle;
	}
	
	
.MenuItemDragIconEdit{
	display:table-cell;
	Width:50px ; 
	height:24px;
	vertical-align: middle;
   /* background-image:url('../images/User_Allergies.PNG');*/
	margin-left: 4px;
}
.widgetBackGroundLayer{
    display: table-cell;
    height: 100%;
    width: 7px;
   background-image: url('../images/Bg.png');
}


.dynamicImageEdit{
		Width:25px ; 
	 margin: 0px;
	height:24px;
	display:inline-block;
	vertical-align: middle;
/*background-image:url('../images/Userpref_Allergies24x24.png');*/
	
}

.dragImageEdit{
	Width:10px ; 
	display:inline-block;
    margin: 4px;
	height:24px;
	vertical-align: middle;
background-image:url('../images/Userpref_Drag9x25.png');
	
}

.MenuItemlabelIconEdit{	
	display:table-cell;
	font-size: 14px;
    color: #fff;
    padding: 0px;
    width: 181px;
	vertical-align: middle;	
}

.userAddImageEdit{
    Width: 21px;
    margin: 4px;
    height: 21px;
    float: right;
   vertical-align: middle;
    background-image:url('../images/Userpref_Add21x21.png');
}


.userMinusImageEdit{
    Width: 21px;
    margin: 4px;
    height: 21px;
    float: right;
   vertical-align: middle;
    background-image:url('../images/Userpref_Remove21x21.png');
}


.MenuItemCountMinusEdit{
	
	display:table-cell;
	width: 45px;
	vertical-align: middle;
	
}

.restore{
display:table;
height: 43px;
width: 280px;
margin-left: 5px;
background-color:#0c6283;
	
}

.restoreRow{
display:table-row;
height: 43px;
width: 280px;
vertical-align: middle;
background-color:#0c6283;
	
}

.restoreicon{
    display: table-cell;
    height: 31px;
    text-align: right;
    width: 61px;
    /* float: right; */
    width: 14opx;
    vertical-align: middle;
    background-color: #0c6283;
	
}

.restorelable{
display: table-cell;
    height: 14px;
    padding: 8px;
    margin: 36px;
    text-align: left;
    width: 140px;
    vertical-align: middle;
    color: #fff;
    background-color: #0c6283;
	
}



/** Kendo SORTABLE CSS Hacks **/

.handler {
    display: inline-block;
    width: 30px;
    margin-right: 10px;
    border-radius: 3px 0 0 3px;
    background: url('../content/web/sortable/handle.png') no-repeat 50% 50% #ccc;
    cursor: move;
}

.handler:hover {
    background-color: #2db245;
}

.placeholder {
    width: 298px;
    border: 1px solid #2db245;
}
/** Kendo SORTABLE CSS Hacks ENDS **/
               