@CHARSET "ISO-8859-1";

.dvApp {
	height: 44px;
	background: -webkit-gradient(linear, left top, left bottom, from(#48cbcb),
		to(#27707e) ); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(#48cbcb, #27707e);
	/* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(#48cbcb, #27707e); /* FF3.6 */
	/*border : 1px solid #48d1d8;*/
	border: 1px solid #48d1d8;
}

.spanTextBigHeader {
	line-height: 44px;
	margin-left: 18px;
	font-weight: bold;
	color: #ffffff;
	font-size: 14pt;
	font-family: Arial;
	text-shadow: 1px 1px #7f7f7f;
}

.spanTextMediumHeader {
	line-height: 44px;
	font-weight: bold;
	color: #ffffff;
	font-size: 14pt;
	font-family: Arial;
	text-shadow: 1px 1px #7f7f7f;
}

.spanTextSmallHeader {
	line-height: 44px;
	font-weight: bold;
	color: #ffffff;
	font-size: 12pt;
	font-family: Arial;
	text-shadow: 1px 1px #7f7f7f;
}

.imgLogoutt {
	vertical-align: middle;
}

.spanTextSmallBold {
	font-weight: bold;
	color: #000000;
	font-size: 12pt;
	font-family: Arial;
}

.spanTextSmallNormal {
	color: #000000;
	font-size: 12pt;
	font-family: Arial;
}

.landscape .dvevent {
	width: 25%;
	background: #ffffff;
	position: relative;
	float: left;
	min-height: 481px;
	overflow: auto;
	height: auto;
	left: 0%;
	padding: 0px;
}

.portrait .dvevent {
	width: 25%;
	background: #ffffff;
	position: relative;
	float: left;
	min-height: 760px;
	overflow: auto;
	height: auto;
	left: 0%;
	padding: 0px;
}

.prevResultData{
	width : 75%; 
	padding : 0px; 
	overflow : auto; 
	height:auto;
	float : right;
}

.landscape #prevResultFrame {
	height: 381px;
}

.portrait #prevResultFrame {
	height: 760px;
}