.mbody{
	margin: 0;
	padding: 0;
	height: 100%;
    width: 100%;
    /* to disable copy paste options*/
	-webkit-user-select: none;  /* Chrome all Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	-o-user-select: none;
	user-select: none; 
}
.mdivParent
{
	display: block;
	height: 100%;
	width: 100%;          
}
.mdivTable
{
	display : table;
	height:100%;
	width:100%;
}
.mdivContent
{
  	display: table-cell;	
 	height:100%;
  	width : 98%;
}
.mheaderRow
{
   	display : table-row;
   	width:100%;
   	height:1%;
}
.mheader{
	width:100%;
	height:23px;
}
.mform{
	height: 100%;
    width: 100%;
}
.mimgCopyRights
{
	margin-top:10px;
	margin-right :  5px;
}
.mcopyrightsText{
	padding-left : 5px;
    vertical-align : middle;
}
.mfooter{
    display : table-row;
    width:100%;
    height:1%;
}
.mfooterContent
{
    display : table-cell;
    height:38px;
    width : 100%;
}
.mheaderText{
	padding-left : 5px;
	vertical-align : middle;
    line-height : 23px;
}
.mHeaderImgLogout
{
	margin-top : 2.5px;
	margin-right :  5px;
}
.mheader{
	width:100%;
	height:23px;
}
.mfooterUserInfo
{
    padding-left : 5px;
}


