@CHARSET "ISO-8859-1";


.table {
	display: table;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
}
.SLSfsHeader{
    width:100%;
	vertical-align:middle;
	
}

.SLSfsHeaderText{
	Padding-left:10px;
	height:40px;
	vertical-align:middle;	
}

.SLSfsDivText{
    Padding-left:10px;
	height:40px;
	vertical-align:middle;	
}

.SLSfsTabText{
	width:100%;
	height:37px;
	vertical-align:middle;
	text-align:center;
}
.SLSfsHeaderCell{
	width:40px;
	height:40px;
	vertical-align:middle;
	text-align:center;
}
.SLSfsHeaderCellTab{
	width:40px;
	height:40px;
	vertical-align:middle;
	text-align:center;
}
.SLSfsSearchIcon{
	height: 38px;
	width: 40px;
    vertical-align:middle;
	text-align:center;
	border-radius:3px;
	margin-right:4px;
}
.SLSfsViewItemText{
	padding-left:10px;
	height:38px;
	vertical-align:middle;
	text-align:left;
	font-size: 13px;
    font-family: Arial;
	width: 91%;
	/*word-break:break-all;*/
}
.SLSfsDivLevelTxtBox{
	border: 0px;
	-webkit-appearance: none; 
	/* padding-bottom: 4px; */
	width:94%;
	height:90%;
	padding-left:5px;
}
.SLSfsTextBoxCloseButton{
	position : relative;
	width : 18px;
	height : 18px;
	border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
    vertical-align:middle;
    text-align:center;
 }
.SLSfsHeaderCellTab.SLSfsarrow{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
.SLSfsHeaderCellTab{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);		
}
.SLSfsMainTextBox{
	border-style: solid;
	font-size: 14px;
	border-radius: 3px;
	border-width: 1px;
	height:34px;
	margin:4px;
	width:92%;
	padding-left:5px;
}
.SLSfsTick{
	display:none;
}
.SLSfsTickVisible{
    width: 5px;
    height: 11px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
}
.SLSfsInlineBlock{
  display: inline-block;
  width: Auto;
  height: 22px;
  margin: 2px;
  border-radius: 2px;
  padding-left: 5px;
}

.SLSfsInlineBlockCell{
	Width: auto; 
	padding: 3px; 
}

.SLSfsInlineBlockClose{
	Width :18px; 
	height :22px; 
	font-family: serif;
    text-align: center;
    color: #ffffff;
}
.SLSfsInlineBlockText{
	display: inline-block;
	margin: 2px;
	padding-bottom: 8px;
	vertical-align:middle;
}

.SLSfsDivShadow{
	width:95%;
	height:100%;
	margin:4px;
	vertical-align: middle; 
	text-align:center; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#SLSfsWrapperEC{
	z-index: 1;
	left: 0;
	width: 100%;
	min-height:40px;
	max-height:150px;
	overflow: hidden;
	position:relative
}

#SLSfsScrollerEC{
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height:auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	overflow:auto;
}
#SLSfsWrapperNT{
	z-index: 1;
	left: 0;
	width: 100%;
	min-height:40px;
	max-height:150px;
	overflow: hidden;
	position:relative
}

#SLSfsScrollerNT{
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height:auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	overflow:auto;
}

#SLSfsWrapperMAS{
	z-index: 1;
	left: 0;
	width: 100%;
	min-height:40px;
	max-height:150px;
	overflow: hidden;
	position:relative
}

#SLSfsScrollerMAS{
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height:auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	overflow:auto;
}
#SLSfsWrapperPB{
	z-index: 1;
	left: 0;
	width: 100%;
	min-height:40px;
	max-height:150px;
	overflow: hidden;
	position:relative
}

#SLSfsScrollerPB{
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height:auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	overflow:auto;
}

#SLSfsWrapperST{
	z-index: 1;
	left: 0;
	width: 100%;
	min-height:40px;
	max-height:150px;
	overflow: hidden;
	position:relative
}
#SLSfsScrollerST{
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height:auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	overflow:auto;
}

#SLSfsWrapperMain {
	z-index: 1;
	left: 0;
	width: 100%;
	overflow: hidden;
	position:absolute;
	height:100%;  
	background-color: #eaedf2;
}
#SLSfsScrollerMain {
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height:auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	overflow:auto;
	position:absolute;
}
.SLsfsReloadDefault{
	opacity:0.3;
}
.SLSfsSearchBox{
	height:100%; 
	width:100%; 
	vertical-align: middle; 
	text-align:center;
}
.SLSfsCategoryBlock{
	margin-left:4px; 
	margin-right:4px; 
	margin-top:4px; 
}
.SLSfsCategorySearchBox{
	height:100%;
	width:100%; 
	vertical-align: middle; 
	text-align:center; 
	padding-top:5px;
}
.SLSfsListTick{
	width:20px; 
	vertical-align: middle;
	text-align: center;
	margin: 8px;
}
.SLSfsCategoryViewMore{
 	width:100%;
 	height:100%; 
}
/* .SLSfsNormalView{
	height: 150px;
	width: 100%;
} */
.SLSfsNormalViewAuto{
	height: auto;
	width: 100%;
}
.SLSfsReloadDefault{
	opacity:0.3;
}
.SLSfsCountHeader{
	width: 20px;
	height: 20px;
	
	vertical-align: middle;
	text-align: center;
	padding-left: 3px;
}
.SLSfsCount{
	width: 20px;
	height: 20px;
	-webkit-border-radius: 11;
	-moz-border-radius: 11;
	border-radius: 11px;
	font-size: 12px;
	vertical-align: middle;
	
	-webkit-transition: visibility 1s ease-out 1s;
	-moz-transition: visibility 1s ease-out 1s;
	-ms-transition: visibility 1s ease-out 1s;
	-o-transition: visibility 1s ease-out 1s;
	transition: visibility 1s ease-out 1s;
}

/* slSfsTheme */

.SLSfsHeaderTheme{
	/*background-color:#c2e6f5;*/
    background :  -webkit-gradient(linear, left top, left bottom, from( #2d80a3 ), to(  #096b93 )); /* Saf4+, Chrome */
   	background : -webkit-linear-gradient( #2d80a3 ,  #096b93 ); /* Chrome 10+, Saf5.1+ */
   	background :   -moz-linear-gradient( #2d80a3 ,  #096b93 ); /* FF3.6 */ 
}
.SLSfsHeaderTextTheme{
	/*color:#03415a;*/
    color:#fff;
	font-size:14px;
	font-family:arial;
	font-weight:bold;
	text-shadow: 1px 1px #07232e;
}
#refMain img,#refMain+div img{vertical-align:middle;    margin-top: 1px;}
.SLSfsHeaderCellCountTheme{
	color:#03415a;
	font-size:14px;
	font-family:arial;
	font-weight:bold;
}
.SLSfsTabTextTheme{
	font-size:12px;
	font-family:arial;
	color: #ababab;
	border-top: 1px solid #f6f6f6;
}
.SLSfsDivTextTheme{
	font-size:14px;
	font-family:arial;
	color:#03415a;
}
.SLSfsDivShadowTheme{
	background: #ffffff;
	color: #797979;
	-moz-box-shadow: 0 2px 4px #bbb inset;
	-webkit-box-shadow: 0 0px 2px #CACACA inset;
	box-shadow: 0 0px 2px #CACACA inset;
	border-top: #bfbfbf 1px solid;
}
.SLSfsSearchIconTheme{
	background:#dbdbdb;
}
.SLSfsMainTextBoxTheme{
	border-color: #f1f1f1;
	box-shadow: inset 0px 0px 2px 1px #ededed;
}
.SLSfsViewItemTextTheme{
	border-bottom: 1px solid #f6f6f6;
	background:#ffffff;
    color:#797b7c;
}
.SLSfsTickVisibleTheme{
	border-bottom: 2px solid #1496cc;
	border-right: 2px solid #1496cc;
}
.SLSfsListTickTheme{
	background:#ffffff; 
	border-bottom: 1px solid #f6f6f6;
}
.SLSfsTextBoxCloseButtonTheme{
	background: #dbdbdb;
}
.SLSfsCategoryBlock{
	background:#ffffff ! important; 
}
.SLSfsCategoryViewMoreTheme{
	background:#ffffff; 
}
.SLSfsAfterSelectionTheme{
	background:#ffffff; 	
	width:100%;
}
.SLSfsInlineBlockTheme{
  background:  #b9b9b9;
}
.SLSfsInlineBlockCellTheme{
	font-size: 12px; 
	font-family: Arial;
    color: #ffffff;

}
.SLSfsInlineBlockTextTheme{
	font-family: Arial;
	font-size: 13px;
	color: #d2d4d8;
}
.SLSfsCountTheme{
	background: #0c6b97;
	color: #fff;
}
.timeFrameSearch{
	
	width: 30px;
	height: 22px;
	display: inline-block;
	/* background-color: blue; */
	position: absolute;
	top: 15px;
	right: 8px;
	border-radius: 3px;
	-moz-box-shadow: inset 0px 1px 0px 0px #2eadd4;
	-webkit-box-shadow:inset 0px 1px 0px 0px #2eadd4;
	box-shadow:inset 0px 1px 0px 0px #2eadd4;
	background-color: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #18a4cf), color-stop(1, #127fba) );
	background-color: -moz-linear-gradient( center top, #18a4cf 5%, #127fba 100% );
	background-color:#18a4cf;
}
.timeFrameSearch .WidgetButtonTheme{
	width: 30px; 
   height: 22px;
}
#contentTF input{
	    width: 75px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 10px;
    height: 18px;
    padding-left: 0px;
    margin-left:0;
    padding-right: 4px;
}
.selectedDates span.k-datepicker{
	width:87px !important;
	border: 0;
    margin: 0;
    padding: 0;
}
.selectedDates .k-datepicker input{
	  margin-left:0;
	  width:75px !important;
}
.selectedDates .k-datepicker  .k-select{
	margin-right:9px;
	width:auto;
	border:none;
}
.SLSfsCircleVisibleTheme{
    width: 10px;
    height: 10px;
    background: #1496cc;
    border-radius: 10px;
	margin-right: 8px;
}
.ipOPText{
	width: 20px;
    color: #d3c9c9;
    border: 1px solid #d3c9c9;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    height: 16px;
    padding-top: 4px;
}
.listItemEC .cell p{
	margin:0 0 0 5px;
}
/*time frame slider*/
.timeFrameSlider{
	margin-left:10px;
}
 .k-tick > .k-label{
    display: none;
}
.listItemTF  .k-slider {
	margin-left:11px;
}
.listItemTF .k-draghandle {
    border-radius: 13px;
}
.listItemTF .k-slider-horizontal .k-draghandle, 
.listItemTF .k-slider-vertical .k-draghandle, 
.listItemTF .k-flatcolorpicker .k-hue-slider .k-draghandle, 
.listItemTF .k-flatcolorpicker .k-transparency-slider .k-draghandle {
    width: 6px;
    height: 6px;
}
.listItemTF .k-draghandle {
    border-color: #3f51b5;
    background-color: #3f51b5;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.listItemTF .k-draghandle:hover {
    border-color: #3f51b5;
    background-color: #3f51b5;
    -webkit-box-shadow: 0 0 0 8px rgba(63,81,181,0.3);
    box-shadow: 0 0 0 8px rgba(63,81,181,0.3);
    background-image: none;
}
.listItemTF .k-draghandle.k-state-focused, 
.listItemTF .k-draghandle.k-state-focused:link,
.listItemTF .k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-focused, 
.listItemTF .k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-focused {
	
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #3f51b5;
    background-color: #3f51b5;
}

.listItemTF  .k-slider-horizontal .k-slider-track, 
.listItemTF  .k-slider-horizontal .k-slider-selection {
    height: 2px;
    margin-top: -1px;
     background-repeat: repeat-x;
}
.listItemTF .k-slider-selection {
    background-color: #3f51b5;
    border-color: #3f51b5;
}
.listItemTF .k-draghandle.k-state-selected, 
.listItemTF .k-draghandle.k-state-selected:link, 
.listItemTF .k-draghandle.k-state-selected:hover, 
.listItemTF .k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-selected,
.listItemTF .k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-selected {
    background-color: #3f51b5;
    border-color: #3f51b5;
    background-image: none;
}
.listItemTF .k-slider-horizontal .k-draghandle.k-state-selected, .listItemTF .k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-selected {
    top: -6px;
}
.listItemTF .k-slider-horizontal .k-draghandle{
	top: -6px;
}
.listItemTF .k-draghandle.k-state-selected, .k-draghandle.k-state-selected:link,
.listItemTF  .k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-selected, 
.listItemTF  .k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-selected {
    width: 10px;
    height: 10px;
}
.listItemTF .k-slider-horizontal .k-draghandle{
	 width: 10px;
    height: 10px;
}
.listItemTF .k-slider-horizontal .k-slider-items{
	margin-right:11px;
}
.listItemTF .k-slider-horizontal .k-slider-track, 
.listItemTF .k-slider-horizontal .k-slider-selection{
	top:60%;
}
.selectedDates{
	padding: 5px 5px 5px 6px;
	position:relative;
	clear:both;
}
.rangeLabels{
	 width: 100%;
	 font-size: 10px;
	 margin-top: 5px;
	 color: #d3c9c9;
	 font-family: Arial;
}
.startLabel{
	float: left;margin-left: 5px;
}
.endLabel{
	float: right; margin-right: 5px;
}
/*filter select*/

.SLSfsAfterSelectionTheme .SLSfsInlineBlock {
	height:auto;
}
.SLSfsAfterSelectionTheme .SLSfsInlineBlockCell, .SLSfsAfterSelectionTheme .SLSfsInlineBlockClose{
	vertical-align:middle;
}
.filterSelect{
 width:auto;
 height:22px;
 border-radius:2px;
 background:#b9b9b9;
 display:inline-block;
 padding:3px;
 color:#fff;
 font-size:12px;
 line-height:22px
}
.filterClose{
  width:18px;
  height:22px;
  display: inline-block;
  text-align: center;
}
.iScrollVerticalScrollbar{
	opacity:0.5;
}
#SLSfsMainTable .filterTextWrap{
	margin-bottom: 2px;
    margin-top: 2px;
    width: 100%;
}
.clearFilter{
    font-size: 10px;
    margin-left: 5px;
   color: #d3c9c9;
}
.searchByNotes{
	float:right;
	pointer-events: none;
}
.searchByNotes.enableSearch{
	pointer-events: visible;
}
.searchByNotes img{
	opacity:0.2;
}
.searchByNotes.enableSearch img{
	opacity:1;
}
.disabledRow .SLSfsDivTextTheme,.disabledRowRecords .SLSfsDivTextTheme{
	    color: #d3c9c9;
		pointer-events:none;
}
.disabledRowRecords{
	pointer-events:none;
}
	
.SlideSfsFrame .allFilterBgwarp{
	width:97%;
	margin:2px 4px;
}
.SlideSfsFrame  .encounterTimeframeWrap{
	width:97%;
	margin:2px 4px;
}
.allFilterBgwarp .filterTextWrap {
    width: 100%;
   margin-bottom: 2px;
    margin-top: 2px;
}

#SLSfsWrapperHT{
	z-index: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 40px;
    max-height: 150px;
}

#SLSfsScrollerHT {
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height:auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	overflow:auto;
}

.SLSfsNormalView{
	
	width:100%;
}
