/**
Copyright 1999-2015, Computer Sciences Corporation. All rights reserved.
 
Warning: This computer program is protected by copyright law and international treaties.
Unauthorized reproduction or distribution of this program, or any portion of it, 
may result in severe civil and criminal penalties, and will be prosecuted to 
the maximum extent possible under the law.
**/
	TD.OTGROUPHEADER{
	font-family: verdana ;
	FONT-SIZE: 9pt ;
	COLOR:#F4FF20;
	BACKGROUND-COLOR: #637BBD ;
	FONT-WEIGHT:BOLD
	}

	TD.OS{
	BACKGROUND-COLOR:#6666FF;
	FONT-SIZE: 8pt ;
	BORDER-STYLE: solid;
	BORDER-BOTTOM: #CC9966 0px solid;
	BORDER-LEFT: #CC9966 0px solid;
	BORDER-RIGHT: #CC9966 0px solid;
	BORDER-TOP: #CC9966 1px solid;
	}

	TD.PR{
	BACKGROUND-COLOR:#FF99FF;
	FONT-SIZE: 8pt ;
	BORDER-STYLE: solid;
	BORDER-BOTTOM: #CC9966 0px solid;
	BORDER-LEFT: #CC9966 0px solid;
	BORDER-RIGHT: #CC9966 0px solid;
	BORDER-TOP: #CC9966 1px solid;
	}

	TD.IN{
	BACKGROUND-COLOR:#CC0099;
	FONT-SIZE: 8pt ;
	BORDER-STYLE: solid;
	BORDER-BOTTOM: #CC9966 0px solid;
	BORDER-LEFT: #CC9966 0px solid;
	BORDER-RIGHT: #CC9966 0px solid;
	BORDER-TOP: #CC9966 1px solid;
	}
	TD.PO{
	BACKGROUND-COLOR:#FFCC33;
	FONT-SIZE: 8pt ;
	BORDER-STYLE: solid;
	BORDER-BOTTOM: #CC9966 0px solid;
	BORDER-LEFT: #CC9966 0px solid;
	BORDER-RIGHT: #CC9966 0px solid;
	BORDER-TOP: #CC9966 1px solid;
	}

	TD.FN{
	BACKGROUND-COLOR:#990099;
	FONT-SIZE: 8pt ;
	BORDER-STYLE: solid;
	BORDER-BOTTOM: #CC9966 0px solid;
	BORDER-LEFT: #CC9966 0px solid;
	BORDER-RIGHT: #CC9966 0px solid;
	BORDER-TOP: #CC9966 1px solid;
	}
	TD.RJ{
	FONT-SIZE: 9pt ;
	BACKGROUND-COLOR: #E2E3F0;  
	BORDER-STYLE: SOLID;
	border-left-color: #B2B6D7;
	border-right-color: #B2B6D7;
	border-top-color: #E2E3F0;
	border-bottom-color: #E2E3F0;
	height:18;
	}


	TD.OTMENULAYER{
		FONT-FAMILY: VERDANA ;
		FONT-SIZE: 10PT ;
		BACKGROUND-COLOR: #D8BFD8;
		COLOR: WHITE;
	}
	TD.OTMENU{
	BACKGROUND-COLOR: #C0C0C0 ;
	FONT-SIZE: 9PT ;
	BORDER-STYLE: DASHED;
	BORDER-LEFT-COLOR: #FFA500;
	BORDER-RIGHT-COLOR: #FFA500;
	BORDER-TOP-COLOR: #FFFACD;
	BORDER-BOTTOM-COLOR: #FFFACD;
	}
	TD.OTCLASS{
	FONT-SIZE: 9pt ;
	BORDER-STYLE: SOLID;
	border-left-color: #B2B6D7;
	border-right-color: #B2B6D7;
	border-top-color: #E2E3F0;
	border-bottom-color: #E2E3F0;
	height:18;	
	}

	a.TABON{
	color: white;
	background: #BC8F8F url("..\..\eAT\images\left-tab-on.gif") left top no-repeat;
	text-decoration: none ;
	padding-left: 10px;
	}

	span.TABON{
	background: url("..\..\eAT\images\right-tab-on.gif") right top no-repeat;
	padding-right: 10px;
	font-weight: bolder;
	}

	a.TABOFF{
	color: white;
	background: #708090 url("..\..\eAT\images\left-tab-off.gif") left top no-repeat;
	text-decoration: none ;
	padding-left: 10px;
	}

	span.TABOFF{
	background: url("..\..\eAT\images\right-tab-off.gif") right top no-repeat;
	padding-right: 10px;
	}

	#tooltiplayer {
		background-color: #cbcbcb; /* Off-white background */
		border: 1px solid #ccc; /* Optional border */
		padding: 8px;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for effect */
		position: absolute;
		visibility: hidden;
		z-index: 1000;
	}
	
