 .addButton{
	background-color: #FFFFFF;
	color:#000000;
	opacity: 0;
	
}

.serviceBorderLight
{
	border: 1px solid #E1EAE7;
}

.serviceTable1{
  border-collapse: collapse;
}

serviceTable1.table,serviceTable1.td{
	border: 1px solid #000000;
}

.serviceTable2{
  border-collapse: collapse;
}

serviceTable2.table,serviceTable2.th,serviceTable2.td{
	border: 1px solid #000000;
}


.serviceColHeader 
	{
	background-position: right;
	COLOR: white;
	background-color: #83AAB4;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	height: 25px;
	text-align:center;
	background-image: url("../../eCommon/images/headerSeparator.jpg");
	background-repeat: repeat-y;
	border: 1px solid #000000;
	}

.serviceGridData
{
	background-color: #FFFFFF;
	height:18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight:normal;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
	vertical-align:middle;
}

.serviceGridData
{
	background-color: #FFFFFF;
	height:18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight:normal;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
	vertical-align:middle;
}

.serviceGridData
{
	background-color: #FFFFFF;
	height:18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight:normal;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
	vertical-align:middle;
}

#serviceTable th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #83AAB4;
  color: #fff;
  background-image: url("../../eCommon/images/headerSeparator.jpg");
  background-repeat: repeat-y;
}

#serviceTable {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #333333;
}

#serviceTable1 th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #83AAB4;
  color: #fff;
  background-image: url("../../eCommon/images/headerSeparator.jpg");
  background-repeat: repeat-y;
}

#serviceTable1 {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #333333;
}
.unselectable{
  background-color: #ddd;
  cursor: not-allowed;
	text-align:center;
}

.selectable{
  background-color: #fff;
  cursor: allowed;
	text-align:center;
}