/**
Copyright 1999-2015, Computer Sciences Corporation. All rights reserved.
 
Warning: This computer program is protected by copyright law and international treaties.
Unauthorized reproduction or distribution of this program, or any portion of it, 
may result in severe civil and criminal penalties, and will be prosecuted to 
the maximum extent possible under the law.
**/
.divheader {
	height: 74px;
	width: 100%;
	background: #0a87b0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhODdiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwODYzN2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #0a87b0 0%, #08637c 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0a87b0),
		color-stop(100%, #08637c) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #0a87b0 0%, #08637c 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #0a87b0 0%, #08637c 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, #0a87b0 0%, #08637c 100%);
	/* IE10+ */
	background: linear-gradient(to right, #0a87b0 0%, #08637c 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#0a87b0',
		endColorstr='#08637c', GradientType=1 ); /* IE6-8 */
}

.headerleft {
	height: 74px;
	width: 13px;
	bottom-border:#004657 3px solid;
	
}



.divheadercontent {
	height: 74px;
	width: 990px;
	bottom-border: #175766 3px solid;
}
.headerright {
	height: 74px;
	width: 13px;
	bottom-border:#004657 3px solid;
	
}
