/**
Copyright 1999-2015, Computer Sciences Corporation. All rights reserved.
 
Warning: This computer program is protected by copyright law and international treaties.
Unauthorized reproduction or distribution of this program, or any portion of it, 
may result in severe civil and criminal penalties, and will be prosecuted to 
the maximum extent possible under the law.
**/
p {
    padding: 10px;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

#headerwrap {
    width: 100%;
    float: left;
    margin: 0 auto;
}

#header {
    height: 35px;
    background: #1e5799; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-8 */
    border-radius: 0px;
   
}

#contentliquid {
    float: left;
    width: 100%;
}

#contentwrap {
    width: 100%;
    float: left;
}

#content {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    margin: 5px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#3aa3a9;
	height: 100%;
	width:100%;
}
.center
{
width:100%;
height:100%;
position:absolute;
display:-moz-box;  
display:-webkit-box;
display:box;
-moz-box-orient:horizontal;
-moz-box-pack:center;
-moz-box-align:center;
-webkit-box-orient:horizontal;
-webkit-box-pack:center;
-webkit-box-align:center;
box-orient:horizontal;
box-pack:center;
box-align:center;
}
.login
{
	width:768px;
	min-height:542px;
	height:auto;
	background-image:url(../images/LoginBG.png);
	background-repeat:no-repeat;
	position:relative;
	display:-moz-box;  
	display:-webkit-box;
	display:box;
	overflow:hidden;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}
.login1
{
	width:768px;
	min-height:60px;
	height:auto;
	/*background-image:url(../images/LoginBG.png);*/
	background-repeat:no-repeat;
	position:relative;
	display:-moz-box;  
	display:-webkit-box;
	display:box;
	overflow:hidden;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

.loginFieldsBg
{
	width:100%;
	height:100%;
	margin-top:100px;
	margin-left:150px;
	margin-right:100px;
	background-image: url(../images/FieldsBg.png );
	background-repeat:no-repeat;
	padding-top:60px;
	padding-left:100px;
}
.itemborder
{
	border-bottom:1px solid #d6d6d6;
	height:45px;
	vertical-align:central;
	width:100%;
}
.radiocontent
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	vertical-align:middle
}
.name
 	{
	background:#FFFFFF url(../images/User.png ) no-repeat 2px 6px;
	margin:4px;
	padding:4px 4px 4px 20px;
	border:1px solid #CCCCCC;
	width:230px;
	font-size:14px;
	height:24px;
	margin:5px;
	} 
.password
	{
    text-align:left;
    background:#FFFFFF url(../images/password.png) no-repeat 2px 6px;
	padding:4px 4px 4px 20px;
	border:1px solid #CCCCCC;
	width:230px;
	font-size:14px;
	height:24px;
	margin:5px;
	}
	
.loginID {
	-moz-box-shadow:inset 0px 2px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 2px 0px 0px #ffffff;
	box-shadow:inset 0px 2px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #c1c1c1) );
	background:-moz-linear-gradient( center top, #ededed 5%, #c1c1c1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#c1c1c1');
	background-color:#fdbc53;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #0c172a;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:5px 30px;
	text-decoration:none;
	text-shadow: none;
	margin-left:150px;
	margin-top:20px;
	
}
.loginID:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c1c1c1), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #c1c1c1 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1c1c1', endColorstr='#ededed');
	background-color:#ffffff;
}
.loginID:active {
	position:relative;
	top:1px;
}
.cancelID {
	-moz-box-shadow:inset 0px 2px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 2px 0px 0px #ffffff;
	box-shadow:inset 0px 2px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #c1c1c1) );
	background:-moz-linear-gradient( center top, #ededed 5%, #c1c1c1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#c1c1c1');
	background-color:#fdbc53;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #0c172a;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow: none;
	margin-left:150px;
	margin-top:20px;
	
}
.cancelID:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c1c1c1), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #c1c1c1 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1c1c1', endColorstr='#ededed');
	background-color:#ffffff;
}
.cancelID:active {
	position:relative;
	top:1px;
}
.tdframe
{
	
	min-height :450px;
	
	
}
