TD.COLUMNHEADERCENTER20 {
   
	COLOR:#000000 ;
	background-color:#f1f5f3;
	border-left:#85a7a0 2px solid;
	padding:3px;	
	border-bottom:#85a7a0 1px solid;
	font-family: Verdana;
	font-size: 8pt;
	font-weight:bold;
	border-collapse:collapse;
	
}
TD.COLUMNHEADERCENTERICONS20
{
	COLOR:#000000 ;
	background-color:#f1f5f3;
	border-left:#85a7a0 2px solid;
	padding:3px;	
	border-bottom:#85a7a0 1px solid;
	font-family: Verdana;
	font-size: 8pt;
	font-weight:bold;
	border-collapse:collapse; 
}
.borderhighlight20
{
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	border:1px solid #456865;
	margin:0;
	border-collapse: collapse;
}

TD.COLUMNHEADERCENTERNEW20 {
background: #688e85; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY4OGU4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTcyNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #688e85 0%, #49726b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#688e85), color-stop(100%,#49726b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #688e85 0%,#49726b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #688e85 0%,#49726b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #688e85 0%,#49726b 100%); /* IE10+ */
background: linear-gradient(to bottom, #688e85 0%,#49726b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#688e85', endColorstr='#49726b',GradientType=0 ); /* IE6-8 */
	font-family: Verdana;
	font-size: 8pt;
	color: white;
	font-weight:bold;
	vertical-align:middle;
	text-align:left;
	border-top:1px solid #85a7a0;
	border-bottom:1px solid #456865;

}