/**
Copyright 1999-2015, Computer Sciences Corporation. All rights reserved.
 
Warning: This computer program is protected by copyright law and international treaties.
Unauthorized reproduction or distribution of this program, or any portion of it, 
may result in severe civil and criminal penalties, and will be prosecuted to 
the maximum extent possible under the law.
**/
TD.COLUMNHEADERCENTERICONS8
{
	COLOR:#000000 ;
	background-color:#f8fafd;
	border-left:#e4e8f6 2px solid;
	padding:3px;	
	border-bottom:#e4e8f6 1px solid;
	font-family: Verdana;
	font-size: 8pt;
	font-weight:bold;
	border-collapse:collapse; 
}
.borderhighlight8
{
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	border:1px solid #3f54d0;
	margin:0;
	border-collapse: collapse;
}

TD.COLUMNHEADERCENTERNEW8 {
background: #82b4ee;
background: -moz-linear-gradient(top, #82b4ee 0%, #5587e3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82b4ee), color-stop(100%,#5587e3)); 
background: -webkit-linear-gradient(top, #82b4ee 0%,#5587e3 100%);
background: -o-linear-gradient(top, #82b4ee 0%,#5587e3 100%); 
background: -ms-linear-gradient(top, #82b4ee 0%,#5587e3 100%); 
background: linear-gradient(to bottom, #82b4ee 0%,#5587e3 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82b4ee', endColorstr='#5587e3',GradientType=0 );
	font-family: Verdana;
	font-size: 8pt;
	color: white;
	font-weight:bold;
	vertical-align:middle;
	text-align:left;
	border-bottom:1px solid #3f54d0;
	border-top:1px solid #a7c6f4;

}
