/**
Copyright 1999-2015, Computer Sciences Corporation. All rights reserved.
 
Warning: This computer program is protected by copyright law and international treaties.
Unauthorized reproduction or distribution of this program, or any portion of it, 
may result in severe civil and criminal penalties, and will be prosecuted to 
the maximum extent possible under the law.
**/
.dhx_combo_img{
	position:absolute;
	top:0px;
	right:0px;
	width:28px;
	height:28px;
}

.dhx_combo_option_img{
	position:relative;
	top:1px;
	margin-left:2px;
	left:0px;
	width:18px; height:18px;
}


.dhx_combo_input{
	color:#333333;
	font-family: Arial;
	font-size: 9pt;
	height:22px;
	border:1px;
	padding:2px 2px 2px 2px;
	position:absolute;
	top:0px;	
	padding-top:6px;

}
.dhx_combo_box{
	position:relative;
	text-align:left;
	border:1px solid #d0d0d0;/*Changed by Vel*/
	height:30px;
	_height:30px;
	overflow:hidden;
    background-color: white;
     
}
.dhx_combo_list{
   position:absolute;
   z-index:30;
   overflow-y:auto;
   overflow-x:hidden;
   border:1px solid black;
   height:100px;
   font-family: Arial;
   font-size: 9pt;
   background-color: white;
   cursor: default;
  
}

.dhx_combo_list div{
	cursor:default;
	padding:2px 2px 5px 2px;
}
.dhx_selected_option{
	background-color:navy;
	color:white;
}

