.ButtonNormal {
	BACKGROUND-COLOR: buttonface; BORDER-BOTTOM: buttonface 1px solid; BORDER-LEFT: buttonface 1px solid; BORDER-RIGHT: buttonface 1px solid; BORDER-TOP: buttonface 1px solid
}
.ButtonPressed {
	BACKGROUND-COLOR: buttonface; BORDER-BOTTOM: buttonhighlight 1px solid; BORDER-LEFT: buttonshadow 1px solid; BORDER-RIGHT: buttonhighlight 1px solid; BORDER-TOP: buttonshadow 1px solid
}
.ButtonMouseOver {
	BACKGROUND-COLOR: buttonface; BORDER-BOTTOM: buttonshadow 1px solid; BORDER-LEFT: buttonhighlight 1px solid; BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonhighlight 1px solid
}
.ButtonDisabled {
	BACKGROUND-COLOR: buttonhighlight; BORDER-BOTTOM: buttonface 1px solid; BORDER-LEFT: buttonface 1px solid; BORDER-RIGHT: buttonface 1px solid; BORDER-TOP: buttonface 1px solid
}
.Image {
	HEIGHT: 22px; WIDTH: 22px
}
.Toolbar {
	BACKGROUND-COLOR: buttonface; BORDER-BOTTOM: buttonshadow 1px solid; BORDER-LEFT: buttonhighlight 1px solid; BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonhighlight 1px solid; HEIGHT: 30px
}
.Divider {
	BACKGROUND-COLOR: buttonface; BORDER-BOTTOM: buttonhighlight 1px solid; BORDER-LEFT: buttonshadow 1px solid; BORDER-RIGHT: buttonhighlight 1px solid; BORDER-TOP: buttonshadow 1px solid; HEIGHT: 24px; WIDTH: 2px
}
.Swatch {
	BACKGROUND-COLOR: buttonface; BORDER-BOTTOM: buttonshadow 1px solid; BORDER-LEFT: buttonhighlight 1px solid; BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonhighlight 1px solid; HEIGHT: 24px; WIDTH: 3px
}
.Space {
	BACKGROUND-COLOR: buttonface; HEIGHT: 24px; WIDTH: 0px
}
.List {
	BACKGROUND: lavender; FONT: 8pt verdana,arial,sans-serif
}
.Text {
	FONT: 8pt verdana,arial,sans-serif
}
.Heading {
	BACKGROUND: lightgrey; COLOR: navy
}

TD.FOREDITOR {
	FONT-FAMILY: VERDANA ;
	FONT-SIZE: 10PT ;
  	BACKGROUND-COLOR: #CCC4B5;
  	COLOR:BLACK;
}
