BODY.MCCONTENT
{
	BACKGROUND-COLOR: #E2E3F0;
	COLOR: black;
	margin-bottom : 0;
	margin-left : 0;
	margin-right : 0;
	margin-top : 0;
	BACKGROUND-image: url('../../eCA/images/MCT_DataBgImage.gif');
}

TD.MCMAINHEADER
{
  font-family:  verdana ;
  FONT-SIZE: 13pt ;
  font-weight: bolder;
  BACKGROUND-COLOR: #DEDEDE;
  COLOR: black;
}

TABLE.MCSUBHEADER
{
  font-family:  verdana ;
  FONT-SIZE: 10pt ;
  BACKGROUND-COLOR: #C9C7C7;
  COLOR: black;
  font-weight: bolder;
}

TR.MCINNERHEADER
{
  font-family:  verdana ;
  FONT-SIZE: 10pt ;
  font-weight: bolder;
  BACKGROUND-COLOR: #DED3D3;
  COLOR: black;
}

TD.MCLABEL
{
  font-family:  verdana ;
  FONT-SIZE: 8pt ;
  font-weight: bolder;
}

TD.MCDATA
{
  font-family:  verdana ;
  FONT-SIZE: 8pt ;
  font-weight: normal;
  COLOR: NAVY;
}

TABLE.MCTABLE
{
  margin-left: 10;
  margin-right: 10;
  margin-top: 5;
  margin-bottom: 5;
}

TH.MCTH
{
  font-family:  verdana ;
  FONT-SIZE: 8pt ;
  font-weight: bolder;
}

TD.MCMATRIX
{
	font-size: 8pt;
	font-weight: bold;
}
TD.TDDATA
{
  font-family:  verdana ;
  FONT-SIZE: 8pt ;
  font-weight: normal;
  COLOR: NAVY;
}

TD.TDLABEL
{
  font-family:  verdana ;
  FONT-SIZE: 8pt ;
  font-weight: bolder;
}