.tablist {
width:100%;
background: url("../../eCA/images/bottomStoke.gif") repeat-x;
font-size:11;
height:25px;
FONT-WEIGHT: normal ;
List-style: none;
margin:0;
}

.tablistitem {
float: left;
padding:0;
height:25px;
cursor:pointer;cursor:hand;
background: url("../../eCA/images/bottomStoke.gif") repeat-x;
}

.tabA{
background: url("../../eCA/images/tabInActiveLeft.gif") left top no-repeat;
height:25px;
padding-left: 10px;
padding-top: 3px;

} 

.tabAspan {
background: url("../../eCA/images/tabInActiveRight.gif") right top no-repeat;
padding-right: 14px;
padding-top:3px;
height:25px;
font-size:12 ;
FONT-WEIGHT:normal;
margin-right:3px;
margin-top:0px;
} 
.tabtext
{
width:100px;
padding-top:3px;
font-weight:bold;
text-align : center
}
.tabtext1
{
width:150px;
padding-top:3px;
font-weight:bold;
text-align : center
}
.tabClicked {
 
background: url("../../eCA/images/tabActiveLeft.gif") left top no-repeat;
height:25px;
padding-left: 10px;
padding-top: 3px;
}

.tabSpanclicked {
background: url("../../eCA/images/tabActiveRight.gif") right top no-repeat;
padding-right: 14px;
padding-top:3px;
height:25px;
margin-right:3px;
margin-top:0px;
}
.rowBackGround{
height:25px;
background: url("../../eCA/images/bottomStoke.gif") repeat-x;
}