/**
Copyright 1999-2015, Computer Sciences Corporation. All rights reserved.
 
Warning: This computer program is protected by copyright law and international treaties.
Unauthorized reproduction or distribution of this program, or any portion of it, 
may result in severe civil and criminal penalties, and will be prosecuted to 
the maximum extent possible under the law.
**/
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<!-- Commonly used one -->
TD.ATCQRYLEVEN
{
	BACKGROUND-COLOR: #F0F0F2;
	FONT-SIZE: 9 ;
	BORDER-STYLE: SOLID;
	border-left-color: #B2B6D7;
	border-right-color: #B2B6D7;
	border-top-color: #E2E3F0;
	border-bottom-color: #E2E3F0;
	color:BLACK;
}
TD.ATCQRYLODD
{
	FONT-SIZE: 9 ;
	BACKGROUND-COLOR: #E2E3F0;
	BORDER-STYLE: SOLID;
	border-left-color: #B2B6D7;
	border-right-color: #B2B6D7;
	border-top-color: #E2E3F0;
	border-bottom-color: #E2E3F0;
	color:BLACK;
}
TD.ATCQRYEVEN
{
	BACKGROUND-COLOR: #F0F0F2;
	FONT-SIZE: 9 ;
	BORDER-STYLE: SOLID;
	border-left-color: #B2B6D7;
	border-right-color: #B2B6D7;
	border-top-color: #E2E3F0;
	border-bottom-color: #E2E3F0;
	color:BLACK;
}
TD.ATCQRYODD
{
	FONT-SIZE: 9 ;
	BACKGROUND-COLOR: #E2E3F0;
	BORDER-STYLE: SOLID;
	border-left-color: #B2B6D7;
	border-right-color: #B2B6D7;
	border-top-color: #E2E3F0;
	border-bottom-color: #E2E3F0;
	color:BLACK;
}
<!-- Start BuildLibraryQueryResultDetail -->
TD.ATCLIB
{
	BACKGROUND-COLOR:#2A2A2A;
	FONT-SIZE: 16;
	BORDER-STYLE: SOLID;
	color:WHITE;
}
TD.ATCTERMSET
{
	BACKGROUND-COLOR:#555555;
	FONT-SIZE: 14;
	BORDER-STYLE: SOLID;
	color:WHITE;
}
TD.ATCTERMCODE
{
	FONT-SIZE: 12;
	BACKGROUND-COLOR:#7F7F7F ;
	BORDER-STYLE: SOLID;
	color:WHITE;
}
TD.ATCGOAL
{
	FONT-SIZE: 10;
	BACKGROUND-COLOR:#AAAAAA ;
	BORDER-STYLE: SOLID;
	color:WHITE;
}

TD.ATCHEAD
{
	FONT-SIZE: 10 ;
	BACKGROUND-COLOR:#D4D4D4 ;
	BORDER-STYLE: SOLID;
	color:BLACK;
}

TD.ATCDETAIL
{
	FONT-SIZE: 10 ;
	BACKGROUND-COLOR:#FFFFFF;
	BORDER-STYLE: SOLID;
	color:BLACK;
}
<!-- Sart BuildLibrary_temp1 -->
TD.ATCTERMSET
{
	BACKGROUND-COLOR:navy;
	FONT-SIZE: 20;
	BORDER-STYLE: SOLID;
	color:WHITE;
}
TD.ATCTERMCODE
{
	FONT-SIZE: 17;
	BACKGROUND-COLOR:#10319C ;
	BORDER-STYLE: SOLID;
	color:WHITE;
}
TD.ATCGOAL
{
	FONT-SIZE: 14;
	BACKGROUND-COLOR:#637BBD ;
	BORDER-STYLE: SOLID;
	color:WHITE;
}
TD.ATCHEAD
{
	FONT-SIZE: 11 ;
	BACKGROUND-COLOR:#F0F0F2 ;
	BORDER-STYLE: SOLID;
	color:BLACK;
}
TD.ATCDETAIL
{
	FONT-SIZE: 9 ;
	BACKGROUND-COLOR:#E2E3F0;
	BORDER-STYLE: SOLID;
	color:BLACK;
}
TD.ATCERROR
{
	FONT-SIZE: 10 ;
	BACKGROUND-COLOR:#FE4B81;
	BORDER-STYLE: SOLID;
	color:WHITE;
}
<!-- Start EvaluateCarePlanActivePlansResult -->
TD.CLASSHEAD
{
	BACKGROUND-COLOR: #950000;
	FONT-SIZE: 10 ;
	Font-weight: bolder;
	COLOR: white;
}
TD.CLASSHEADDIAGROW
{
	BACKGROUND-COLOR: #F3F3F3;
	FONT-SIZE: 10 ;
}
TD.CLASSINTVNOUTCOMEODD
{
	BACKGROUND-COLOR: #F0FFE1;
	FONT-SIZE: 10 ;
}
TD.CLASSINTVNOUTCOMEEVEN
{
	BACKGROUND-COLOR: #CAFFCA;
	FONT-SIZE: 10 ;
}
TD.CLASSINTVNOUTCOMEODDHYP
{
	BACKGROUND-COLOR: #F0FFE1;
	FONT-SIZE: 10 ;
	color:BLUE;
	cursor:hand;
}
TD.CLASSINTVNOUTCOMEEVENHYP
{
	BACKGROUND-COLOR: #CAFFCA;
	FONT-SIZE: 10 ;
	color:BLUE;
	cursor:hand;
}
TD.CLASSHEADDIAG
{
	BACKGROUND-COLOR: #666699;
	FONT-SIZE: 10 ;
	Font-weight: bolder;
	COLOR: white;
}
TD.CLASSVAL
{
	BACKGROUND-COLOR:#F0F0F2;
	BORDER:1PX SOLID #F0F0F2;
	BACKGROUND-COLOR: #FFC488;
	FONT-SIZE: 10 ;
}
TD.FONTVALS
{
	BACKGROUND-COLOR:#FFEEDD;
	BORDER:1PX SOLID #FFEEDD;
	FONT-SIZE: 10 ;
}
TD.FONTVALHYPERS
{
	BACKGROUND-COLOR:#FFEEDD;
	BORDER:1PX SOLID #FFEEDD;
	FONT-SIZE: 10 ;
	color:BLUE;
	cursor:hand;
}
<!-- Start EvaluateCarePlanComponentHistory -->
TD.Diag
{
	BACKGROUND-COLOR:#CACAFF;
	BORDER:1PX SOLID #CACAFF;
	font-weight:bolder;
	font-size:10;
}
TD.Goal
{
	BACKGROUND-COLOR:#E2E3F0;
	BORDER:1PX SOLID #E2E3F0; 
	font-weight:bolder;
	font-size:10;
}
TD.Outcome
{
	BACKGROUND-COLOR:#F9F9FF;
	BORDER:1PX SOLID #F9F9FF;
	font-weight:bolder;
	font-size:10;
}
TD.List
{
	BACKGROUND-COLOR:#FFEFDF;
	BORDER:1PX SOLID #FFEFDF;
	font-size:10;
}
<!-- Start EvaluateCarePlanDiagAndGoalList -->
TD.CLASHEAD
{
	BACKGROUND-COLOR: #CACAFF;
	FONT-SIZE: 10 ;
}
TD.CLASSHEADVAL
{
	BACKGROUND-COLOR: #CACAFF;
	FONT-SIZE: 10 ;
	cursor: hand;
}
TD.FONTSTYL
{
	FONT-SIZE: 10 ;
}
TD.FONTVAL
{
	FONT-SIZE: 10 ;
	cursor: hand;
}
TD.FONTVALHYPER
{
	FONT-SIZE: 10 ;
	color:BLUE;
	cursor:hand;
}
<!-- Start EvaluateCarePlanIntvnAndOutcomeList -->
TD.ROWODD
{
	BACKGROUND-COLOR: #F0FFF0;
	FONT-SIZE: 10 ;
}
TD.ROWEVEN
{
	BACKGROUND-COLOR: #FFFFE6;
	FONT-SIZE: 10 ;
}
TD.FONTSTYLEVEN
{
	BACKGROUND-COLOR: #FFFFE6;
	FONT-SIZE: 10 ;
	cursor: hand;
}
TD.FONTSTYLODD
{
	BACKGROUND-COLOR: #F0FFF0;
	FONT-SIZE: 10 ;
	cursor: hand;
}
TD.FONTSTYLARREVEN
{
	BACKGROUND-COLOR: #FFFFE6;
	FONT-SIZE: 10 ;
}
TD.FONTSTYLARRODD
{
	BACKGROUND-COLOR: #F0FFF0;
	FONT-SIZE: 10 ;
}
TD.ITRVNHDR
{
	BACKGROUND-COLOR: #919191;
	FONT-SIZE: 10;
	COLOR: white;
}
<!-- Start EvaluateCarePlanShowVariance -->
TD.ADHOC
{
	BACKGROUND-COLOR: #FFFFCC;
	FONT-SIZE: 10;
	Font-weight: normal;
}
TD.PLANNED
{
	BACKGROUND-COLOR: #EBFFFF;
	FONT-SIZE: 10 ;
	Font-weight: normal;
}
TD.ADHOCA
{
	BACKGROUND-COLOR: #FFFFCC;
	FONT-SIZE: 9;
	Font-weight: normal;
}
TD.PLANNEDA
{
	BACKGROUND-COLOR: #EBFFFF;
	FONT-SIZE: 9 ;
	Font-weight: normal;
}
TD.PERFORMED
{
	BACKGROUND-COLOR: #E7FFE7;
	FONT-SIZE: 10 ;
}
TD.NOTPERFORMED
{
	BACKGROUND-COLOR: #FFDBDB;
	FONT-SIZE: 10 ;
}
TD.PENDING
{
	BACKGROUND-COLOR: #E6E6E6;
	FONT-SIZE: 10 ;
}
<!-- Start GCPGeneratePlanPreviewDtl -->
TD.GRPEVEN1
{
	BACKGROUND-COLOR: #FCE7C9;  
	FONT-SIZE: 9pt ;
	border-width:1pt;
	BORDER-STYLE: solid;
	border-left-color: #FAD39A;
	border-right-color: #FAD39A;
	border-top-color: #F9C880;
	border-bottom-color: #F9C880;
	height:18;		
}
FONT.ORDERS
{
   BACKGROUND-COLOR:#FF9D3B
}
TH.PLANSUBHEAD1
{
	 BACKGROUND-COLOR: #CCC6CA;
	 COLOR: black ;
	 BORDER-WIDTH: thick 
	 BORDER-LEFT-COLOR: #363636;
	 BORDER-RIGHT-COLOR: #363636;
	 border-top-color: #838383;
	 border-bottom-color: #838383;
	 FONT-SIZE: 8pt; 
}
<!-- Start GCPGeneratePlanProfileDiagLegend -->
	TD.GPLINKS {
	  BACKGROUND-COLOR: #FFFFF0 ;
	  COLOR: BLACK;
	  FONT-SIZE: 8PT ;
	  FONT-WEIGHT: normal;
	}
	FONT.LINKINSTATUS{
		COLOR: RED;
	}
	FONT.NORMAL{
		background-color:GREEN;
	}
<!-- Start GCPGeneratePlanProfileDiagnosis -->
	FONT.CRITICAL{
		background-color:RED;
	}
	FONT.HIGH{
		background-color:#10319C;
	}
	FONT.LOW{
		background-color:#F0FFFF;
	}
	FONT.CRITICALLOW{
		background-color:#D8BFD8;
	}
	FONT.CRITICALHIGH{
		background-color:YELLOW;
	}

	FONT.DELTAFAIL{
		background-color:#FFE4E1;
	}
	TD.PRIORNORM{
       BACKGROUND-COLOR: #CCFFCC;  
		FONT-SIZE: 9pt ;
   }
   TD.PRIORHIGH{
		BACKGROUND-COLOR: #FFFFCC;  
		FONT-SIZE: 9pt ;

   }
   TD.PRIORCRIC{
       BACKGROUND-COLOR: #FFCCCC;  
	   FONT-SIZE: 9pt ;
		

   }
	TD.GRPODD{
		FONT-SIZE: 9pt ;
		BACKGROUND-COLOR: #FFCCCC;  
		height:18;
	
    }
	td.errorEvents
	{
		background-color: BROWN;
		border-style: dashed;
	}
	TH.PLANSUBHEAD{
		 BACKGROUND-COLOR: #CCC6CA;
		 COLOR: black ;
		 FONT-SIZE: 8pt; 
   }
    TH.PLANHEAD{
		 BACKGROUND-COLOR: #3366FF;
		 COLOR: white ;
		 FONT-SIZE: 8pt; 
   }
<!-- Start GCPGeneratePlanProfileType -->
TD.GRPPROFILEEVEN{
	BACKGROUND-COLOR: #FFEDDB;  
	FONT-SIZE: 6pt ;
<!-- Start GCPGeneratePlanShowLibrary -->
	TD.GRPDIAGHEAD{
       BACKGROUND-COLOR: SILVER; 
	    FONT-SIZE: 8pt ;
		BORDER-STYLE: none;
		border-left-color: #9A9A9A;
		border-right-color: #9A9A9A;
		border-top-color: #BCBCBC;
		border-bottom-color: #BCBCBC;
		height:18;		

   }
	TD.GRPINTERHEAD{
       BACKGROUND-COLOR: #D0CCCF;
	   FONT-WEIGHT: BOLD  
		FONT-SIZE: 8pt ;
		BORDER-STYLE: NONE;
		border-left-color: #9A9A9A;
		border-right-color: #9A9A9A;
		border-top-color: #BCBCBC;
		border-bottom-color: #BCBCBC;
		height:18;		

   }
	TD.GRPEVEN{
       BACKGROUND-COLOR: #FCE7C9;  
		FONT-SIZE: 9pt ;
		border-left-color: #FAD39A;
		border-right-color: #FAD39A;
		border-top-color: #F9C880;
		border-bottom-color: #F9C880;
		height:18;		

   }

	TD.GRPOD{
		FONT-SIZE: 9pt ;
		BACKGROUND-COLOR: #FFCCCC;  
		border-left-color: #FF9B9B;
		border-right-color: #FF9B9B;
		border-top-color: #FFA6A6;
		border-bottom-color: #FFA6A6;
		height:18;
	
    }
	FONT.PRIORNORM{
       BACKGROUND-COLOR: #CCFFCC;  
		FONT-SIZE: 9pt ;
   }
   FONT.PRIORHIGH{
		BACKGROUND-COLOR: #FFFFCC;  
		FONT-SIZE: 9pt ;

   }
   FONT.PRIORCRIC{
       BACKGROUND-COLOR: #FFCCCC;  
	   FONT-SIZE: 9pt ;
		

   }
   TD.GRPNONE{
   BACKGROUND-COLOR: #FFFFFF;  
   COLOR:navy;
   FONT-SIZE: 8pt;
}
<!-- Start LibraryLookupDetails -->
TD.FINALQRY
{
	BACKGROUND-COLOR: PINK;
	FONT-SIZE: 9 ;
	BORDER-STYLE: SOLID;
	border-left-color: #B2B6D7;
	border-right-color: #B2B6D7;
	border-top-color: #E2E3F0;
	border-bottom-color: #E2E3F0;
	color:WHITE;
	
}
TD.DRAFTQRY
{
	BACKGROUND-COLOR: GREEN;
	FONT-SIZE: 9 ;
	BORDER-STYLE: SOLID;
	border-left-color: #B2B6D7;
	border-right-color: #B2B6D7;
	border-top-color: #E2E3F0;
	border-bottom-color: #E2E3F0;
	color:WHITE;
	
}
<!-- Start ReviseCarePlanActivePlansResult -->
TD.LISTS
{
	BACKGROUND-COLOR:#F0F0F2;
	BORDER:1PX SOLID #F0F0F2;
	FONT-SIZE: 10 ;
}
TD.CLASSHEADER	
{
	BACKGROUND-COLOR: #919191;
	FONT-SIZE: 10 ;
	Font-weight: bolder;
	COLOR: white;
}
<!-- Start ReviseCarePlanRecordChanges -->
TD.GRPEVENS1
{
	BACKGROUND-COLOR: #FFF0F0;  
	FONT-SIZE: 9pt ;
	border-width:1pt;
	BORDER-STYLE: solid;
	border-left-color: #FFF0F0;
	border-right-color: #FFF0F0;
	border-top-color: #FFF0F0;
	border-bottom-color: #FFF0F0;
	height:18;		
	}
<!-- Start ReviseCarePlanViewDetail -->
TD.ATCTABLE
{
	BACKGROUND-COLOR:#FFF0F0;
	FONT-SIZE: 9;
	color:BLACK;	
}
