/**
Copyright 1999-2015, Computer Sciences Corporation. All rights reserved.
 
Warning: This computer program is protected by copyright law and international treaties.
Unauthorized reproduction or distribution of this program, or any portion of it, 
may result in severe civil and criminal penalties, and will be prosecuted to 
the maximum extent possible under the law.
**/
	.dtree {
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal 
		font-weight: bold;		
		color: #666;
		white-space: nowrap;
	}
	.dtree img {
		border: 0px;
		vertical-align: middle;
	}
	.dtree a {
		color: #333;
		text-decoration: none;
	}

	.dtree a.nodeSel {
		white-space: nowrap;
		padding: 1px 2px 1px 2px;
	}
	.dtree a.node{
		white-space: nowrap;
		padding: 1px 2px 1px 2px;
	}

	.dtree a.nodeSel:hover {
		font-weight: bold;	
		color: #191970;
		background-color: #c0d2ec; 
		text-decoration: underline;
	} 

	.dtree a.node:hover{
		font-weight: bold;	
		color: #191970;
		background-color: #c0d2ec; 
		text-decoration: underline;
	}
	.dtree a.nodeSel {
		background-color: #c0d2ec;
	}
	.dtree.clip {
		overflow: hidden;
	}
	A:link {
		COLOR: #0000FF;
	}

	A:visited {
		COLOR: #0000FF;
	}
	A:active {
		COLOR: #0000FF;
	}
	
	BODY.COMMON {
		MARGIN-LEFT: 0;
		MARGIN-RIGHT: 0;
		MARGIN-TOP: 0;
		MARGIN-BOTTOM: 0;
		BACKGROUND-COLOR: #F0F0F2;
		COLOR: white;
	}

	BODY.OAQRYEVEN {

		MARGIN-LEFT: 0;
		MARGIN-RIGHT: 0;
		MARGIN-TOP: 0;
		MARGIN-BOTTOM: 0;
		BACKGROUND-COLOR: #E2E3F0;  
		COLOR: white;
	}
	INPUT.BUTTON {
		BACKGROUND-COLOR: #00008B ;
		COLOR: WHITE ;
		FONT-SIZE: 8PT;
		FONT-WEIGHT: 600 ;
		BORDER-STYLE: RIDGE;
	}
