.modal{
	position:fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 400px;
	height: 230px;
	max-width: 80%;
	
}
.modal-header{
	padding: 10px 15px;
	display : flex;
	justify-conent: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	
	
}
#button {
     line-height: 10px;
     width: 18px;
     height: 18px;
     font-size: 8pt;
     margin-top: 13px;
     margin-right: 13px;
     position:absolute;
     top:0;
     right:0;
     border-radius:0px;
 }
 #p{
  text-align="center";
 }
 #main{
 background-color: white;
 
 }
#l{
 margin-right: 20px;
}
#main{
	height:100px;
	width:350px;
	margin-left:20px;
	
}
#button1{
	margin-left:45px;
	margin-bottom:20px;
	
}
#table{
	margin-left:40px;
}
