.FONT_HEADING
{
  FONT-FAMILY: Courier New ;
  FONT-SIZE: 12pt ;
}
.FONT_DISP
{
  FONT-FAMILY: Courier New ;
  FONT-SIZE: 10pt ;
}
.PAGE_LEFT_ALIGN
{
  FONT-FAMILY: Courier New ;
  WIDTH : 8% ;
  FONT-SIZE: 10pt ;
}