
label {
    width:150px;
    text-align:center;
}

.lableLeft{
    text-align:left;
}

input, label {
	display:block;
}

.mainTable {
  border-collapse: separate;
  border-spacing: 10px 0;
}

td {
  padding: 5px 0;
}