BODY {
   MARGIN-LEFT: 0;
   MARGIN-RIGHT: 0;
   MARGIN-TOP: 0;
   MARGIN-BOTTOM: 0;
   background-color:#FFFFFF;
   FONT-FAMILY: Verdana,SansSerif,Arial ;
   FONT-SIZE: 8pt ;
   COLOR: black ;
}

BODY.HEADER {
    background-color:#83AAB4;
}
TD {
	font-family: verdana ;
	FONT-SIZE: 8pt ;
    COLOR:black;
}
TD.BOLD {
	font-family: verdana;
	FONT-SIZE: 8pt;
	COLOR: black;
	font-weight: bold;
}
TD.COLUMNHEADER 
	{
	background-position: right;
	COLOR: white;
	background-color: #83AAB4;
	border: 0px;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	border-collapse: collapse;
	height: 25px;
	background-image: url(headerSeparator.jpg);
	background-repeat: repeat-y;
	text-align:center; 
	}
.grid
{
	margin: 0;
	border-collapse: collapse;
	border: 1px solid #666666;
}
.hideCol
{ 
	visibility: collapse;
}

.gridData
{
	background-color: #FFFFFF;
	height:18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight:normal;
	text-align:center;
    width: 100px;
    overflow: hidden;
	padding-left:5px;
	padding-right:5px;
	vertical-align:middle;
}

.gridDataInputMore
{
	background-color: #FFFFFF;
	height:20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight:normal;
	text-align:center;
	border: 1px solid #000000;
    width: 140px;
    overflow: hidden;
	padding-left:5px;
	padding-right:5px;
}

.gridDataInput
{
	background-color: #FFFFFF;
	height:20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight:normal;
	text-align:center;
	border: 1px solid #000000;
    width: 100px;
    overflow: hidden;
	padding-left:5px;
	padding-right:5px;
}

.gridDataInputLess
{
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight:normal;
	text-align:center;
	border: 1px solid #000000;
	border-collapse: collapse;
    width: 60px;
    overflow: hidden;
	padding-left:5px;
	padding-right:5px;
	vertical-align:middle;
}

.BorderLight
{
	border: 1px solid #E1EAE7;
}
.pad4side
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.padLR{
	padding-left:10px;
	padding-right:10px;
}
.txtgray{
	color: #999;
}
.Borderbottom{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.noborder
{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 100%;
}
.bg1
{
	background-color: #CCC;
}
.bg2
{
	background-color: #F93;
}
.bg3
{
	background-color: #096;
}#details {
	border: 1px solid #333333;
}
#dataD {
  display: inline-block;
  height: 150px;
  overflow: auto;
  width:100%;
}

#table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #83AAB4;
  color: #fff;
  background-image: url(headerSeparator.jpg);
  background-repeat: repeat-y;
}

#table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #333333;
}
th,td {
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}.Bfont {
	 FONT-FAMILY: Verdana,SansSerif,Arial ;
   FONT-SIZE: 8pt ;
}
#T2 {
	padding: 0px;
}

.unselectable{
     background-color: #ddd;
     cursor: not-allowed;
}

.selectable{
     background-color: #fff;
     cursor: auto;
}

.bolder{
	font-weight:bolder;
	background-color:#FFFFFF;
}

.unbilled{
  background-color:#B2B6D7;
  color: #a0a0a0;
}

.searchRec{
	BACKGROUND-COLOR: yellow ;
}
