/**
Copyright 1999-2015, Computer Sciences Corporation. All rights reserved.
 
Warning: This computer program is protected by copyright law and international treaties.
Unauthorized reproduction or distribution of this program, or any portion of it, 
may result in severe civil and criminal penalties, and will be prosecuted to 
the maximum extent possible under the law.
**/
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
/* Font Info
-----------------------------------------------------------------------------*/
body {
	font-family:Arial, Helvetica, sans-serif;
	height: 100%;
}
.mainlink
{
	font-size:12px;
	color:#0d63e4;
	font-weight:normal;
	line-height:30px;

}
A.mainlink{color:#0d63e4; text-decoration:none;}
A.mainlink:HOVER{color:#0d63e4; font-weight:normal; text-decoration:underline;}

#headervisitinfo, #headerloginas
{
	font-size:12px;
	color:#FFF;
	font-weight:normal;
	text-shadow: 1px 1px 1px rgba(79, 116, 5, 1);
	padding-left:10px;
	padding-right:5px;
	vertical-align:middle;
}
.contentfont, #MoreResult
{
	font-size:12px;
	color:#414142;
	font-weight:normal;
}
.contentfontbold
{
	font-size:12px;
	color:#414142;
	font-weight:bold;
}
.ResultDate
{
	font-size:11px;
	color:#999999;
	font-weight:normal;
	padding-right:10px;
}
.contenbold
{
	font-size:12px;
	color:#333333;
	font-weight:bold;
}
.contenboldregistered
{
	font-size:12px;
	color:#333333;
	font-weight:bold;
	padding-left:5px;
	text-decoration:underline;
}
.contentnormal
{
	font-size:12px;
	color:#333333;
	font-weight:normal;
}

.contencap
{
	font-size:12px;
	color:#414142;
	font-weight:bold;
	text-transform:uppercase;
}
.appTitlehomepg
{
font-size:14px;
	color:#292929;
	font-weight:bold;
	padding:12px;
	border-bottom:2px solid #E6E6E8;
	background-image: -moz-linear-gradient(top, #ffffff, #f6f6f6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f6f6f6));
	background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6);
	background-image: -o-linear-gradient(top, #ffffff, #f6f6f6);
	background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff6f6f6', GradientType=0);
}
.Title
{
	font-size:12px;
	color:#292929;
	font-weight:bold;
padding:12px;
	border-bottom:2px solid #E6E6E8;
	background-image: -moz-linear-gradient(top, #ffffff, #f6f6f6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f6f6f6));
	background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6);
	background-image: -o-linear-gradient(top, #ffffff, #f6f6f6);
	background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff6f6f6', GradientType=0);
	text-transform:uppercase;
}
.BookAppTitle
{
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	padding:12px;
	background-image: -moz-linear-gradient(top, #5C8013, #87B52E);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5C8013), to(#87B52E));
	background-image: -webkit-linear-gradient(top, #5C8013, #87B52E);
	background-image: -o-linear-gradient(top, #5C8013, #87B52E);
	background-image: linear-gradient(to bottom, #5C8013, #87B52E);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5C8013', endColorstr='#ff87B52E', GradientType=0);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.BookAppTitlehomepg
{
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
	padding:12px;
	background-image: -moz-linear-gradient(top, #5C8013, #87B52E);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5C8013), to(#87B52E));
	background-image: -webkit-linear-gradient(top, #5C8013, #87B52E);
	background-image: -o-linear-gradient(top, #5C8013, #87B52E);
	background-image: linear-gradient(to bottom, #5C8013, #87B52E);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5C8013', endColorstr='#ff87B52E', GradientType=0);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.AppoinmentExpandTitle
{
	height:33px;/*height 36*/
	border-bottom:1px solid #396B11;
	padding-left:10px;
	margin-top:5px;
}
.titleSelected
{	font-size:12px;
font-weight:bold;
	cursor:pointer;
	border:1px solid #396B11;
	float:left;
	color:#000!important;
	height:35px !important;
	line-height:42px !important;
	margin-top:-4px;
	background-image: -moz-linear-gradient(top, #C2D995, #ffffff) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C2D995), to(#ffffff))!important;
	background-image: -webkit-linear-gradient(top, #C2D995, #ffffff)!important;
	background-image: -o-linear-gradient(top, #C2D995, #ffffff)!important;
	background-image: linear-gradient(to bottom, #C2D995, #ffffff)!important;
	background-repeat: repeat-x!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffC2D995', endColorstr='#ffffffff', GradientType=0)!important;
	border-bottom:2px solid #ffffff !important;
	border-top-left-radius:3px;
	border-top-right-radius:3px;	
}
.AppoinmentExpandTitle  div
{
	display:table-cell;
	height:32px;
	line-height:32px;
	margin-left:2px;
	padding-left:5px;
	padding-right:5px;
	cursor:pointer;
	border:1px solid #396B11;
	float:left;
	background-color:#B4CF7D;
	border-top-left-radius:3px;
	border-top-right-radius:3px;

}
.AppoinmentExpandTitle  a
{
	text-decoration:none;
	color:#2F4402;
	font-size:12px;
	font-weight:bold;
	border-top-left-radius:3px;
	border-top-right-radius:3px;		
}
.AppointmentNewDoctor
{
	color:#E67012;
	font-size:14px;
	font-weight:bold;
}
.AppointmentNewDoctorNormal
{
	color:#333333;
	font-size:14px;
	font-weight:normal;
	
}
.FooterTitle
{
	color:#618710;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
}
.poweredby
{
	font-size:12px;
	font-style:italic;
	color:#FFF;
}
.loginpoweredby
{
	font-size:12px;
	font-style:italic;
	color:#000000;
}
.Footeradd
{
	font-size:11px;
	color:#999999;
	font-weight:normal;
		padding-left:10px;
}
.AppointmentnewSPL
{
	color:#618710;
	font-size:12px;
	font-weight:bold;
}

.AppointmentNewDoctorNormal
{
	color:#6f6f6f;
	font-size:14px;
	font-weight:bold;
}
.AppointmentnewSPLNormal
{
	color:#6f6f6f;
	font-size:12px;
	font-weight:bold;
}
.signin
{	
	color:#256c01;
	font-size:27px;
	font-weight:bold;
	text-shadow: 0px 0px 1px rgba(90, 90, 90, 1);
}
.username
{
	color:#0f2604;
	font-size:12px;
	font-weight:bold;
}

/*
-----------------------------------------------------------------------------*/
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.LoginBackground
{
	background-image:url(../images/loginbg.png);
	background-repeat:repeat-x;

}

.logout 
	{
	-moz-box-shadow:inset 0px 1px 0px 0px #eaf2d2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #eaf2d2;
	box-shadow:inset 0px 1px 0px 0px #eaf2d2;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #659709), color-stop(1, #425f04) );
	background:-moz-linear-gradient( center top, #659709 5%, #425f04 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#659709', endColorstr='#425f04');
	background-color:#659709;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:2px;
	border:1px solid #3c5505;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #3b5601;
	margin-right:5px;
		margin-top:5px;
		cursor:hand;
}.logout:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #425f04), color-stop(1, #659709) );
	background:-moz-linear-gradient( center top, #425f04 5%, #659709 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#425f04', endColorstr='#659709');
	background-color:#425f04;
}.logout:active {
	position:relative;
	top:1px;
}

/* Header
-----------------------------------------------------------------------------*/
#headerlogin {
	background-image:url(../images/loginBG.png);
	background-repeat:repeat-x;
	height:237px;	
	width:100%;


}
#loginHearBg
{
	background-image:url(../images/loginHeaderDesign.png);
	background-repeat:no-repeat;
	background-position:center;
	height:237px;
	width:100%;
}
#header {
	height:35px;
	border-bottom:#1px solid #ff0000;
}

#headerinfo
{
	display:table;
	background-color:#87b52e;
	height:35px;
	width:100%;
}
.row
{
	display:table-row;
	width:100%;
}
#headervisitinfo
{
	display:table-cell;
	width:auto;
	height:35px;
}
#headerloginas
{
	display:table-cell;
	width:auto;
	height:35px;
	text-align:right;
}
#headerlogout
{
	display:table-cell;
	width:60px;
}

/* login Detail ************************************************** */

#logincontent
{
	width:100%;
	height:350px;
	vertical-align:central;
	position:relative;
}
#loginbox
{
	width:700px;
	height:350px;
	background-color:#CCC;

}
#mydiv {

	position:absolute;
	top: 50%;
	left: 50%;
	width:700px;
	height:330px;
	margin-top: -10em; /*set to a negative number 1/2 of your height*/
	margin-left: -20em; /*set to a negative number 1/2 of your width*/
	display:table;

}
#loginlogo
{
	display:table-cell;
	width:349px;
	height:100%;
	text-align:center;
	vertical-align:middle;
	border-right:1px #256c01 solid;
}
#logininput
{
	display:table-cell;
	width:350px;
	height:100%;
	vertical-align:middle;
}
#logininputcontent
{
	margin-left:35px;
	width:100%;
	display:block;
	line-height:25px;
}

/* login Detail ************************************************** */




/* -----------------------------------  Logo And Menu -----------------------------------  */
.hr
{
		background-color:#75a70a;
		border:0px;
		height:2px;
		width:100%;
		position:fixed;
		top:115px;
		z-index:-1;
}
.line
{
	width:100%;
	border-bottom:2px solid #75a70a;
	margin-top:-7px;
}
#logomenu
{
	background-image:url(../images/HeaderBG.png);
	background-repeat:repeat-x;
	width:100%;
	height:80px;
	display:table;
	position:relative;
	z-index:1;
	
}
#logo
{
	display:table-cell;
	width:auto;
	height:80px;
	vertical-align:middle;
}

/*   menu items */ 
#Menubox
{
	display:table-cell;
	height:85px;
	width:auto;
	
}

.menu{margin-top:5px; width:100%; display:block; font:12px Verdana, Arial, Helvetica, sans-serif;  font-weight:bold;}

.menu li{ margin:0; list-style:none; display:inline;	vertical-align:middle;}

.menu li a
{
	float:right; padding-left:10px; 
	padding-right:10px;  display::block; 
	text-decoration:none;cursor:pointer; 
	outline:none;height:50px; color:#000000; 
	border-top:2px solid; border-top-color:Transparent;
	margin-right:5px;
	margin-left:5px;
	width:auto;
	padding-top:30px;
}

.menu li a:after{
	content:url(../images/patch.PNG);
	height:80px;
	width:auto;
	top:68px;
	right:-13px;
	position:relative;

}
.menu li a:before {content:url(../images/patch.PNG);
	height:80px;
	width:auto;
	top:68px;
	left:-13px;
	position:relative;

}



.menu li a:hover
{
	float:right; display::block;
	padding-left:10px; 	padding-right:10px;
	text-decoration:none;cursor:pointer;
	outline:none; background-color:#a6ce39; 
	height:50px; border-top:2px solid #789b16;
	width:auto;
		padding-top:30px;

		
}

.menu li a:hover:after{
	content:url(../images/RightMenubg.PNG);
	height:80px;
	width:auto;
	top:38px;
	right:-13px;
	position:relative;

}
.menu li a:hover:before {content:url(../images/LeftMenubg.PNG);
	height:80px;
	width:auto;
	top:38px;
	left:-13px;
	position:relative;
}

.menuselect
{
	float:right; display::block;
	padding-left:10px; 	padding-right:10px;
	text-decoration:none;cursor:pointer;
	outline:none; background-color:#a6ce39; 
	height:50px; border-top:2px solid #789b16;
	padding-top:30px;
}

.menuselect:after{
	content:url(../images/RightMenubg.PNG);
	height:80px;
	width:auto;
	top:38px;
	right:-13px;
	position:relative;

}
.menuselect:before {content:url(../images/LeftMenubg.PNG);
	height:80px;
	width:auto;
	top:38px;
	left:-13px;
	position:relative;

}


/* Middle
-----------------------------------------------------------------------------*/
#content {

	width:100%;
	z-index:-1;
}

#PatientBanner
{
	width:100%;
	height:80px;
	background: #f2f2f2; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #f2f2f2 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2f2f2 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2f2f2 0%,#eeeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f2f2f2 0%,#eeeeee 100%); /* IE10+ */
background: linear-gradient(to bottom, #f2f2f2 0%,#eeeeee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */
border-bottom:1px solid #e2e2e2;
display:table;
	position:relative;

}
#Patientphoto
{
	display:table-cell;
	width:80px;
	height:80px;
	vertical-align:middle;
	left:15px;
	padding-left:5px;
	background-position:center;
}

#PatientProfile
{
	display:table-cell;
	height:85px;
	width:auto;
	vertical-align:middle;
}
#contentbg
{
	width:100%;
	height:auto;
	background: #f2f2f2; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 10%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(10%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 10%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2f2f2 0%,#ffffff 10%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f2f2f2 0%,#ffffff 10%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 10%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
border-top:1px solid #ffffff;

	
}	

#contentArea
{
	width:95%;
	height:auto;
	padding-top:20px;
	padding-left:15px;
	padding-right:15px;
	display:table;
}	
#contentArearow
{
	display:table-row;
	vertical-align:central;
}

#BookanApp
{
	display:table-cell;
	width:30%;
	height:auto;
	text-align:left;


}
#UpcomingApp
{
	display:table-cell;
	width:30%;
	height:100%;

}
#Recentresult
{
	display:table-cell;
	width:30%;
	height:100%;

}
#divider
{
	width:5%;
	height:400px;
	position:absolute;
	background-image:url(../images/Divider.png);
	background-repeat:repeat-y;
	background-position:center;
}

#HomepageBox
{
	width:100%;
	height:332px;
	border:1px solid #eeeeee;
	margin-top:15px;
}

/* Strip CSS
-----------------------------------------------------------------------------*/
.stripbox
{
	width:100%;
	height:80px;
	background: #f5f5f5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGZkZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #f5f5f5 0%, #fdfdfd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#fdfdfd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f5f5f5 0%,#fdfdfd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f5f5f5 0%,#fdfdfd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f5f5f5 0%,#fdfdfd 100%); /* IE10+ */
background: linear-gradient(to bottom, #f5f5f5 0%,#fdfdfd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-8 */
display:table;
}
#StripSpaceA
{
	width:2%;
	display:table-cell;
	padding:12px;
}
#StripSpaceB
{
	width:90%;
	height:80px;
	display:table-cell;
	vertical-align:middle;
}
#StripSpaceC
{
	width:70%;
	height:80px;
	display:table-cell;
	vertical-align:middle;
	text-align:left;
}
#StripSpaceD
{
	width:35%;
	height:80px;
	display:table-cell;
	vertical-align:middle;
	padding-right:10px;
}

#StripSpaceD span
{
	font-size:12px;	
	
}

#StripIcon
{
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	
	border:1px solid #75a70a;
	display:table;
	height:55px;
	width:75px;
}
#StripIconHeader
{
	width:100%;
	height:18px;
	background-color:#75a70a;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	vertical-align:middle;
}
#StripDate
{
	width:100%;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#f68022;
	text-align:center;
	vertical-align:middle;
}
#StripDatenormal
{
	width:100%;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#425f04;
	text-align:center;
	vertical-align:middle;
}
#Stripday
{
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#888888;
	text-align:center;
	vertical-align:middle;
	text-transform:uppercase;
}
	
/* Innner Page setting -------------------------------------------------------------- */
#innercontent {
	width:100%;
	z-index:-1;
	height:auto;
	background: #f2f2f2; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 10%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(10%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 10%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2f2f2 0%,#ffffff 10%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f2f2f2 0%,#ffffff 10%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 10%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
border-top:1px solid #ffffff;
display:table;
}
.innerrow
{
	width:100%;
	height:auto;
	display:table-row;
}
#searcharea
{	
	width:90%;
	height:auto;
	border:1px #cccccc solid;
	display:table-cell;
	padding:10px;
}
#MoreResult
{	
	width:90%;
	border:1px #cccccc solid;
	background-color:#f3f3f3;
	display:table-cell;
	padding:10px;
	text-align:center;
	vertical-align:middle;
}
#Resultarea
{	
	width:90%;
	height:auto;
	border:1px #cccccc solid;
	display:table-cell;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #aad51e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #aad51e;
	box-shadow:inset 0px 1px 0px 0px #aad51e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #99c120), color-stop(1, #84ac0b) );
	background:-moz-linear-gradient( center top, #99c120 5%, #84ac0b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99c120', endColorstr='#84ac0b');
	background-color:#99c120;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #779907;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #779907;
	float:right;
	text-wrap:none;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #84ac0b), color-stop(1, #99c120) );
	background:-moz-linear-gradient( center top, #84ac0b 5%, #99c120 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#84ac0b', endColorstr='#99c120');
	background-color:#84ac0b;
}.btn:active {
	position:relative;
	top:1px;
}
/* Innner Page setting -------------------------------------------------------------- */	
	
	.resulttable
	{
		display:table;
		width:99%;
		margin:10px;
	}
	.cell
	{
		display:table-cell;
	}	
	
/* Strip CSS
-----------------------------------------------------------------------------*/
#Resultrio
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #878787;
	-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.20);
	-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.20);
	box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.20);
	display:table;
	height:55px;
	width:75px;
	background-image:url(../images/ResultRio.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#FFF;
}
#Resultlab
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #878787;
	-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.20);
	-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.20);
	box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.20);
	display:table;
	height:55px;
	width:75px;
	background-image:url(../images/ResultLab.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#FFF;
}




/* Button CSS
-----------------------------------------------------------------------------*/

.PPbtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #aad51e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #aad51e;
	box-shadow:inset 0px 1px 0px 0px #aad51e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #99c120), color-stop(1, #84ac0b) );
	background:-moz-linear-gradient( center top, #99c120 5%, #84ac0b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99c120', endColorstr='#84ac0b');
	background-color:#99c120;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #779907;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #779907;
	float:right;
	margin-top:10px;
}.PPbtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #84ac0b), color-stop(1, #99c120) );
	background:-moz-linear-gradient( center top, #84ac0b 5%, #99c120 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#84ac0b', endColorstr='#99c120');
	background-color:#84ac0b;
}.PPbtn:active {
	position:relative;
	top:1px;
}


/* Button CSS
-----------------------------------------------------------------------------*/

/* Textbox ------------------- */
.textbox {
	width: 265px;
	background: transparent url('../images/textbox.png') no-repeat;
	color : #747862;
	height:30px;
	border:0;
	padding:0px 0px;
	margin-bottom:0px;
}
.textboxsearch {

	
	border:1px solid #d1c7ac;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;

	font-family:tahoma, arial, sans-serif;

}


.Signbtn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #75a70a), color-stop(1, #659008) );
	background:-moz-linear-gradient( center top, #75a70a 5%, #659008 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#75a70a', endColorstr='#659008');
	background-color:#75a70a;
	border:1px solid #587a07;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:normal;
	padding:5px 12px;
	text-decoration:none;
	margin-top:20px;
	margin-bottom:10px;
}.Signbtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #659008), color-stop(1, #75a70a) );
	background:-moz-linear-gradient( center top, #659008 5%, #75a70a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#659008', endColorstr='#75a70a');
	background-color:#659008;
}.Signbtn:active {
	position:relative;
	top:1px;
}



/* Footer
-----------------------------------------------------------------------------*/
.Footerbg{
	background-color: #87b52e;
	height: 70px;
	width:100%;
	display:table;
	margin-top:15px;
	bottom:0px;
}
.PageFooterbg{
	background-color: #87b52e;
	height: 30px;
	width:100%;
	display:table;
	margin-top:15px;

}
.loginfooterbg
{
	width: 100%;
	height:100px;
	float:right;
}

#footer 
{
	margin: -35px auto 0;
	min-width: 1000px;
	height: auto;
	position: relative;
	display:table;
	width:100%;
}
#loginpoweredby
{
	padding-top:10px;
	padding-right:10px;
	display:table-cell;
	width:100%;
	height:30px;
	float:right;
}
#Pagepoweredby
{
	float:right;
	padding-top:10px;
	padding-right:10px;
	display:table-cell;
	width:100%;
	text-align:right;
}
#poweredby
{
	float:right;
	padding-top:10px;
	padding-right:10px;
	display:table-cell;
	width:100%;
	text-align:right;
}
#footeradd
{
	height: 40px;
	background: #eaf2d2;
	border-top:1px solid #a6ce39;
	display:table-cell;
	float:left;
	width:100%;
}

.loginerror
{
	color:#ff0000;
	font-size:12px;
	font-weight:bold;
}

.disabled
{
opacity:0.6;
 pointer-events: none;
   cursor: default;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F6F8F9), color-stop(1, #D9E0E4) );
	background:-moz-linear-gradient( center top, #F6F8F9 5%, #D9E0E4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F8F9', endColorstr='#D9E0E4');
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ADB9C2;
	display:inline-block;
	color:#aaaaaa;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #D4D9DB;
	float:right;
	text-wrap:none;
}

.disabled:hover
{
opacity:0.6;
 pointer-events: none;
   cursor: default;
}

.disabled:active 
{
opacity:0.6;
 pointer-events: none;
 cursor: default;
}

.UpcomingAppbtn {
	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F6F8F9), color-stop(1, #D9E0E4) );
	background:-moz-linear-gradient( center top, #F6F8F9 5%, #D9E0E4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F8F9', endColorstr='#D9E0E4');
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ADB9C2;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #D4D9DB;
	float:right;
	text-wrap:none;
}.UpcomingAppbtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #D8DFE3), color-stop(1, #E5EAED) );
	background:-moz-linear-gradient( center top, #D8DFE3 5%, #E5EAED 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8DFE3', endColorstr='#E5EAED');
}.UpcomingAppbtn:active {
	position:relative;
	top:1px;
}

/* Innner Page setting -------------------------------------------------------------- */	
	
	.resulttable
	{
		display:table;
		width:99%;
		margin:10px;
	}
	.resulttableExpanded
	{
		display:table;
		width:99%;
		margin:0px;
	}
	.resulttableExpanded .innerrow #searcharea .textboxsearch
	{
		width:155px;
	}
	.resulttableExpanded .innerrow #searcharea span
	{
		
		margin-right:5px;
		color:#1E5701;
		font-size:12px;
	}
	.cell
	{
		display:table-cell;
	}
		.resulttableApp
		{
		display:table-cell;
		width:65%;
		margin:10px;
		}
	
/* Strip CSS
-----------------------------------------------------------------------------*/
#Resulticon
{
	
	height:58px;
	width:74px;
	background-image:url(../Images/Resulticonbg.PNG);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#FFF;
	text-align:center;
}




/* Button CSS
-----------------------------------------------------------------------------*/

.PPbtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #aad51e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #aad51e;
	box-shadow:inset 0px 1px 0px 0px #aad51e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #99c120), color-stop(1, #84ac0b) );
	background:-moz-linear-gradient( center top, #99c120 5%, #84ac0b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99c120', endColorstr='#84ac0b');
	background-color:#99c120;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #779907;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #779907;
	margin-top:10px;
}
.PPbtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #84ac0b), color-stop(1, #99c120) );
	background:-moz-linear-gradient( center top, #84ac0b 5%, #99c120 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#84ac0b', endColorstr='#99c120');
	background-color:#84ac0b;
}.PPbtn:active {
	position:relative;
	top:1px;
}


/* Button CSS
-----------------------------------------------------------------------------*/


/* Textbox ------------------- */


.textbox {
	width: 265px;
	background: transparent url('../Images/textbox.png') no-repeat;
	color : #747862;
	height:30px;
	border:0;
	padding:0px 0px;
	margin-bottom:0px;
}
.textboxsearch{
	border:1px solid #888888;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	font-family:tahoma, arial, sans-serif;
}

.textboxdate
 {	
 height:23px;
	border:1px solid #888888;
	width: 17%;
	color:#333333;
	margin-right:10px;
	padding-left:2px;
	padding-left:2px;
	font-family:tahoma, arial, sans-serif;
	
}
.Combotextboxdate
{
	padding-left:2px;
	padding-left:2px;
	height:26px;
	border:1px solid #888888;
	width: 17%;
	color:#333333;
	margin-right:10px;
	font-family:tahoma, arial, sans-serif;
}
.CombotextboxdateUP
{
	padding-left:2px;
	padding-left:2px;
	height:26px;
	border:1px solid #888888;
	width: 23%;
	color:#333333;
	margin-right:10px;
	font-family:tahoma, arial, sans-serif;
}
.textboxdateUP
 {	
 height:23px;
	border:1px solid #888888;
	width: 23%;
	color:#333333;
	margin-right:10px;
	padding-left:2px;
	padding-left:2px;
	font-family:tahoma, arial, sans-serif;
	
}
.textboxstatus
{
	width:17%;
	height:23px;
	border:1px solid #888888;
	color:#333333;
	padding-left:2px;
	padding-left:2px;
	margin-right:10px;
	font-family:tahoma, arial, sans-serif;
}
.Comboboxresult
{
height:25px;
	border:1px solid #888888;
	width: 14%;
	color:#333333;
	padding-left:2px;
	padding-left:2px;
	margin-right:20px;
	font-family:tahoma, arial, sans-serif;
}
.textboxresult  {
	height:23px;
	border:1px solid #888888;
	width: 15%;
	color:#333333;
	padding-left:2px;
	padding-left:2px;
	margin-right:20px;
	font-family:tahoma, arial, sans-serif;
}

.textboxtime {
	border:1px solid #888888;
	width: 100px;
	color:#333333;
	padding:3px;
	font-family:tahoma, arial, sans-serif;
	margin-bottom:10px;
}

.printPDF
{
margin-left:5px;
}


.Signbtn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #75a70a), color-stop(1, #659008) );
	background:-moz-linear-gradient( center top, #75a70a 5%, #659008 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#75a70a', endColorstr='#659008');
	background-color:#75a70a;
	border:1px solid #587a07;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:normal;
	padding:5px 12px;
	text-decoration:none;
	margin-top:20px;
	margin-bottom:10px;
}.Signbtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #659008), color-stop(1, #75a70a) );
	background:-moz-linear-gradient( center top, #659008 5%, #75a70a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#659008', endColorstr='#75a70a');
	background-color:#659008;
}.Signbtn:active {
	position:relative;
	top:1px;
}

/* --------------------------        Popup --------------------------------- */
#popwrapper
{
	width:775px;
	height:475px;
	background-color:#ffffff;
	border:1px solid #c8d89b;

}
#popheader
{
	width:100%;
	height:35px;
	background: #fefefe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: #fefefe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #fefefe 0%, #f4f4f4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fefefe 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fefefe 0%,#f4f4f4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fefefe 0%,#f4f4f4 100%); /* IE10+ */
background: linear-gradient(to bottom, #fefefe 0%,#f4f4f4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-8 */
border-bottom:1px solid #c2c2c2;	
display:table;
}
#poptitle
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#476210;
	text-align:left;
	vertical-align:middle;
	display:table-cell;
	padding-left:5px;
	padding-top:5px;
	width:750px;
}
.clear
{
	clear:both;
}
#close
{
	width: 20px; 
	height: 20px; 
	background: #e8e8e8; 
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000000;
	border:1px solid #aeaeae;
	margin-right:5px;
	margin-top:5px;
	text-align:center;
	vertical-align:middle;
}

#popmsgbox
{
	width:765px;
	height:428px;
	margin:5px;
	border:#92b82d solid 1px;
	background-color:#ffffff;
	display:table;
}

#resulthearder
{
	width:100%;
	height:65px;
	background-color:#e7ebdb;
	display:table;
}
#resultcell
{
	display:table-cell;
	width:20%;
	height:65px;
	text-align:center;
	vertical-align:middle;
}
	.popbtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #aad51e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #aad51e;
	box-shadow:inset 0px 1px 0px 0px #aad51e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #99c120), color-stop(1, #84ac0b) );
	background:-moz-linear-gradient( center top, #99c120 5%, #84ac0b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99c120', endColorstr='#84ac0b');
	background-color:#99c120;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #779907;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #779907;
	float:right;
	text-wrap:none;
	margin-right:5px;
}.popbtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #84ac0b), color-stop(1, #99c120) );
	background:-moz-linear-gradient( center top, #84ac0b 5%, #99c120 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#84ac0b', endColorstr='#99c120');
	background-color:#84ac0b;
}.popbtn:active {
	position:relative;
	top:1px;
}

#resultdisplay
{
	margin:5px;
}

/* --------------------------        Popup --------------------------------- */
