/**
Copyright 1999-2015, Computer Sciences Corporation. All rights reserved.
 
Warning: This computer program is protected by copyright law and international treaties.
Unauthorized reproduction or distribution of this program, or any portion of it, 
may result in severe civil and criminal penalties, and will be prosecuted to 
the maximum extent possible under the law.
**/
body 
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.container
{
	width:330px;
	height:470px;
	max-height:470px;
	border:1px solid #276676;
	max-width:330px;
	
}
/* Header CSS START  */ 	
.Titlebg
{
	height:41px;
	background: #477e8b; /* Old browsers */
background: -moz-linear-gradient(top, #477e8b 0%, #276676 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#477e8b), color-stop(100%,#276676)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #477e8b 0%,#276676 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #477e8b 0%,#276676 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #477e8b 0%,#276676 100%); /* IE10+ */
background: linear-gradient(to bottom, #477e8b 0%,#276676 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#477e8b', endColorstr='#276676',GradientType=0 ); /* IE6-9 */

}
.Title
{
	font-family:Arial; 
	font-size:14px;
	color:#ffffff;
	font-weight:bold;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#102530')";
	padding-left:5px;
	padding-top:3px;
}

.TitleBTN {
	-moz-box-shadow:inset 0px 1px 0px 0px #407f90;
	-webkit-box-shadow:inset 0px 1px 0px 0px #407f90;
	box-shadow:inset 0px 1px 0px 0px #407f90;
	background-color:#2a6878;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0px;
	border:1px solid #00435d;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:20px;
	line-height:20px;
	width:30px;
	padding-left:5px;
	padding-right:5px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #0c1f23;
	margin-right:5px;
	cursor:pointer;
}
.TitleBTN:hover {
	background-color:#1c5e6f;
}
.TitleBTN:active {
	position:relative;
	top:1px;
}

.FlagBTN {
	-moz-box-shadow:inset 0px 1px 0px 0px #0092bb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #0092bb;
	box-shadow:inset 0px 1px 0px 0px #0092bb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #14758d), color-stop(1, #0f596c) );
	background:-moz-linear-gradient( center top, #14758d 5%, #0f596c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#14758d', endColorstr='#0f596c');
	background-color:#14758d;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0;
	border:1px solid #003b52;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:18px;
	width:19px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #09323d;
	margin-right:3px;
}
.FlagBTN:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0f596c), color-stop(1, #14758d) );
	background:-moz-linear-gradient( center top, #0f596c 5%, #14758d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f596c', endColorstr='#14758d');
	background-color:#0f596c;
}
.FlagBTN:active {
	position:relative;
	top:1px;
}

.FlagONBTN {
	-moz-box-shadow:inset 0px 1px 0px 0px #0092bb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #0092bb;
	box-shadow:inset 0px 1px 0px 0px #0092bb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #14758d), color-stop(1, #0f596c) );
	background:-moz-linear-gradient( center top, #14758d 5%, #0f596c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#14758d', endColorstr='#0f596c');
	background-color:#14758d;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0;
	border:1px solid #003b52;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:20px;
	line-height:20px;
	width:22px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #09323d;
	margin-right:5px;
}
.FlagONBTN:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0f596c), color-stop(1, #14758d) );
	background:-moz-linear-gradient( center top, #0f596c 5%, #14758d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f596c', endColorstr='#14758d');
	background-color:#0f596c;
}
.FlagONBTN:active {
	position:relative;
	top:1px;
}


.FlagselcetedBTN {
	-moz-box-shadow:inset 0px 1px 0px 0px #2b6372;
	-webkit-box-shadow:inset 0px 1px 0px 0px #2b6372;
	box-shadow:inset 0px 1px 0px 0px #2b6372;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0c4857), color-stop(1, #116176) );
	background:-moz-linear-gradient( center top, #0c4857 5%, #116176 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c4857', endColorstr='#116176');
	background-color:#0c4857;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0;
	border:1px solid #00313d;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:20px;
	line-height:20px;
	width:22px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #09323d;
	margin-right:5px;
}
.FlagselcetedBTN:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0f596c), color-stop(1, #14758d) );
	background:-moz-linear-gradient( center top, #0f596c 5%, #14758d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f596c', endColorstr='#14758d');
	background-color:#0f596c;
}
.FlagselcetedBTN:active {
	position:relative;
	top:1px;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #0092bb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #0092bb;
	box-shadow:inset 0px 1px 0px 0px #0092bb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #14758d), color-stop(1, #0f596c) );
	background:-moz-linear-gradient( center top, #14758d 5%, #0f596c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#14758d', endColorstr='#0f596c');
	background-color:#14758d;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0;
	border:1px solid #003b52;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:20px;
	line-height:20px;
	width:40px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #09323d;
	margin-right:5px;
	cursor:pointer;
	padding-left:3px;
	padding-right:3px;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0f596c), color-stop(1, #14758d) );
	background:-moz-linear-gradient( center top, #0f596c 5%, #14758d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f596c', endColorstr='#14758d');
	background-color:#0f596c;
}
.btn:active {
	position:relative;
	top:1px;
}


.flag
{
	background-image:url(../images/Flag_Alert.PNG);
	background-position:50% 50%;
	background-repeat:no-repeat;
	width:20px;
	cursor:pointer;
	height:18px;
}

.flagDis
{
	background-image:url(../images/Flag_Dis.png);
	background-position:50% 50%;
	background-repeat:no-repeat;
	width:20px;
	cursor:pointer;
	height:18px;
}

.arc
{
	background-image:url(../images/Arc.PNG);
	background-position:50% 50%;
	background-repeat:no-repeat;
	width:20px;
	cursor:pointer;
	height:18px;
}
.close
{
	background-image:url(../images/Close.PNG);
	background-position:50% 50%;
	background-repeat:no-repeat;
	width:20px;
	cursor:pointer;
	height:18px;
}
.next
{
	background-image:url(../images/Next.PNG);
	background-position:50% 50%;
	background-repeat:no-repeat;
	width:20px;
	cursor:pointer;
	height:18px;
}
.prev
{
	background-image:url(../images/Prev.PNG);
	background-position:50% 50%;
	background-repeat:no-repeat;
	width:20px;
	cursor:pointer;
	height:18px;
}
	
/* Header CSS END */ 	

/* GROUP CSS START */ 	

.group
{
	width:100%;
	height:33px;
	background-color:#83aab4;
	border-top:#adcfd8 1px solid;
	border-bottom:1px solid #276676;
}
.groupSelectedTxt
{
	width:100%;
	height:33px;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-left:5px;
}
.groupNormalItem
{
	width:100%;
	height:33px;
	background-color:#83aab4;
	border-top:#a8c4cb 1px solid;
	border-bottom:1px solid #558895;
	font-family:Arial;
	font-size:12px;
	padding-left:5px;
	color:#FFF;
}
.groupSelectState
{
	width:100%;
	height:33px;
	background-color:#276676;
	border-top:#a8c4cb 1px solid;
	border-bottom:1px solid #2eb8db;
	font-family:Arial;
	font-size:12px;
	padding-left:5px;
	color:#FFF;
}
.groupHeader
{
	width:auto;
	height:26px;
	border-top:1px solid #f7f7f7;
	background: #e0e0e0; 
	background: -moz-linear-gradient(top, #e0e0e0 0%, #d2d2d2 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#d2d2d2)); 
	background: -webkit-linear-gradient(top, #e0e0e0 0%,#d2d2d2 100%); 
	background: -o-linear-gradient(top, #e0e0e0 0%,#d2d2d2 100%); 
	background: -ms-linear-gradient(top, #e0e0e0 0%,#d2d2d2 100%); 
	background: linear-gradient(to bottom, #e0e0e0 0%,#d2d2d2 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#d2d2d2',GradientType=0 );
	border-bottom:#b1b1b1 1px solid;
	border-right:#b1b1b1 1px solid;
}
.groupHeaderText
{
	width:auto;
	height:auto;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding-left:5px;
}

/* GROUP CSS END */ 	

.AlertView
{
	width:100%;
	height:33px;
	background-color:#f5f5f5;
	border-top:#adcfd8 1px solid;
	border-bottom:1px solid #dadada;
}

/* ALERT CSS START */ 	

.alertcontainer
{
	width:100%;
	height:390px;
	max-height:390px;
	overflow:auto;
}
.alertcontainerview
{
	width:100%;
	height:220px;
	max-height:390px;
	overflow:auto;

	
}
.alertcontainerview01
{
	width:100%;
	height:180px;
	max-height:180px;
	overflow:auto;
}
.alertcontainerview02
{
	width:100%;
	height:345px;
	max-height:345px;
	overflow:auto;
}
.infowindow
{
	width:100%;
	height:39px;
	background-color:#d8e4e6;
	border-top:#ffffff 1px solid;	
	}
.infowindowheader
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#2a2a2a;
	width:290px;
	overflow:hidden;
	padding-left:5px;
	padding-right:5px;
}
.infowindowsubheader
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#585858;
	width:290px;
	overflow:hidden;
	padding-left:5px;
	padding-right:5px;
}

.alertcontent 
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#3c3c3c;
		padding-left:5px;

}

.AlertRow01
{
	height:75px;
	width:AUTO;
	background-color:#f5f5f5;
	border-top:1px solid #fcfcfc;
	border-bottom:1px solid #e0e0e0;
}
.AlertRow02
{
	height:75px;
	width:100%;
	background-color:#efefef;
/*	background: #f2f2f2; 
background: -moz-linear-gradient(top, #f2f2f2 0%, #eeeeee 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#eeeeee)); 
background: -webkit-linear-gradient(top, #f2f2f2 0%,#eeeeee 100%); 
background: -o-linear-gradient(top, #f2f2f2 0%,#eeeeee 100%);
background: -ms-linear-gradient(top, #f2f2f2 0%,#eeeeee 100%); 
background: linear-gradient(to bottom, #f2f2f2 0%,#eeeeee 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#eeeeee',GradientType=0 ); */
	border-top:1px solid #fcfcfc;
	border-bottom:1px solid #e0e0e0;
}
.Alertindicator
{
			height:73px;
}
.AlertTitle
{
	width:280px;
	height:18px;
	white-space:nowrap;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#2a2a2a;
	overflow:hidden;
}
.AlertTitlein
{
	width: 155px;
	height: 18px;
	white-space: nowrap;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #2a2a2a;
	overflow: hidden;
}
.DetailRow01
{
	width:280px;
	height:18px;
	white-space:nowrap;
	overflow:hidden;
}
.DetailRow02
{
	width:280px;
	height:18px;
	white-space:nowrap;
	overflow:hidden;
}
p{
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
}
.HighlightTxt
{
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	color:#0d809b;
}
.normaltxt
{
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	color:#585858;
	padding-left:5px;
}

.normalHead
{
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	color:#585858;
	padding-left:3px;
	line-height:20px;
}

.UnAcktxt
{
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	color:#0d809b;
}
.alertcount
{
	width:auto;
	height:15px;
	padding-left:3px;
	padding-right:3px;
	background-color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	text-align:center;
}

/* ALERT CSS END */ 	
	
.TabCont
{
	height:160px;
	width:100%
}
.TabMenubg
{
	background-image:url(../images/TabMenuBg.PNG);
	background-repeat:repeat-x;
	height:24px;
	width:100%;
}
.TabMenucurrentbg
{
	background-image:url(../images/TabMenuCurrent.PNG);
	background-repeat:repeat-x;
}
.Tabmenu
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	cursor:pointer;
}
	
.tabsep
{
	background-image:url(../images/TabSep.png);
	background-repeat:no-repeat;
	width:2px;
	height:24px;
}

.flagdis {
	-moz-box-shadow:inset 0px 1px 0px 0px #e9e9e9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e9e9e9;
	box-shadow:inset 0px 1px 0px 0px #e9e9e9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b7b7b7), color-stop(1, #a3a3a3) );
	background:-moz-linear-gradient( center top, #b7b7b7 5%, #a3a3a3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7b7b7', endColorstr='#a3a3a3');
	background-color:#b7b7b7;
		-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0;
	border:1px solid #989898;	
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:20px;
	line-height:20px;
	width:22px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #09323d;
	margin-right:5px;
}
.flagdis:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a3a3a3), color-stop(1, #b7b7b7) );
	background:-moz-linear-gradient( center top, #a3a3a3 5%, #b7b7b7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3a3a3', endColorstr='#b7b7b7');
	background-color:#a3a3a3;
}.flagdis:active {
	position:relative;
	top:1px;
}

.textbox {
	background-image:url(../images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #dcdcdc;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}

/******************* Notification */
.noticontainer
{
	width:500px;
	height:19px;
	border:1px solid #3b4249;
	max-height:19px;
	background: -moz-linear-gradient(top, #66707d 0%, #56616f 2%, #48515b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66707d), color-stop(2%,#56616f), color-stop(100%,#48515b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #66707d 0%,#56616f 2%,#48515b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #66707d 0%,#56616f 2%,#48515b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #66707d 0%,#56616f 2%,#48515b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #66707d 0%,#56616f 2%,#48515b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56616f', endColorstr='#48515b',GradientType=0 ); /* IE6-9 */
}
.noticon
{
	width:22px;
	height:19px;
	background-image:url(images/Notification-Right.PNG);
	background-repeat:no-repeat;
}
.notNext
{
	width:15px;
	height:19px;
	background-image:url(images/NotiNext.PNG);
	background-position:50% 50%;
	background-repeat:no-repeat;
	border-left:1px solid #535c67;
	cursor:pointer;
}
.notNext:hover {
		background-color:#363f49;
}
	
.notprev
{
	width:14px;
	height:19px;
	background-image:url(images/Notiprev.PNG);
	background-position:50% 50%;
	background-repeat:no-repeat;
	border-left:1px solid #26303d;
	border-Right:1px solid #535d69;
		cursor:pointer;
}
.notprev:hover {

	background-color:#363f49;
}

.NotNavi
{
	width:38px;
	height:19px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#ffffff;
	background-repeat:no-repeat;
	border-left:1px solid #26303d;
	border-Right:1px solid #26303d;
}
.NotiFont01
{
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#102530')";
	padding-left:5px;

}
.NotiFont02
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#fdfae8;
}

/* ---- Count ---- */

.countcontainer
{
	width:60px;
	height:27px;
	/*background-color: transparent;*/
}
	.countdigit
	{
		width:auto;
		height:16px;
		margin-left:-5px;
	}
	.countnum {
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding-left:2px;
	padding-right:.5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
	
}

.count {
	-moz-box-shadow:inset 0px 1px 0px 0px #eea825;
	-webkit-box-shadow:inset 0px 1px 0px 0px #eea825;
	box-shadow:inset 0px 1px 0px 0px #eea825;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f33232), color-stop(1, #ea1d1d));
	background:-moz-linear-gradient(top, #f33232 5%, #ea1d1d 100%);
	background:-webkit-linear-gradient(top, #f33232 5%, #ea1d1d 100%);
	background:-o-linear-gradient(top, #f33232 5%, #ea1d1d 100%);
	background:-ms-linear-gradient(top, #f33232 5%, #ea1d1d 100%);
	background:linear-gradient(to bottom, #f33232 5%, #ea1d1d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f33232', endColorstr='#ea1d1d',GradientType=0);
	background-color:#f33232;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #851a1e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:10px;
	padding:0px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
	margin-left:-5px;
}
.count:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ea1d1d), color-stop(1, #f33232));
	background:-moz-linear-gradient(top, #ea1d1d 5%, #f33232 100%);
	background:-webkit-linear-gradient(top, #ea1d1d 5%, #f33232 100%);
	background:-o-linear-gradient(top, #ea1d1d 5%, #f33232 100%);
	background:-ms-linear-gradient(top, #ea1d1d 5%, #f33232 100%);
	background:linear-gradient(to bottom, #ea1d1d 5%, #f33232 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea1d1d', endColorstr='#f33232',GradientType=0);
	background-color:#ea1d1d;
}
.count:active {
	position:relative;
	top:1px;
}

/* ---- Count ---- */
