.box{
	/*width:800px;
	height:600px;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #008298;
	background-color:#ffffff;
	position:relative;
	overflow:hidden;
	width:670px;
	Height:400px;
	/*background-color:#A6D785;*/
}

.patdtls{
	width:400px;
	Height:380px;
	position:absolute;
	border:0px solid red;
	overflow-y:auto;
}
.Bannerbg{
	width:400px;
	Height:100px;
	background-color:#008096;
}
.patphoto{
	left:5px;
	width:100px;
	Height:90px;
	position: absolute;
}
.patphotoimg{
	width:85px;
	Height:90px;
}
.patdatadtls{
	left:100px;
	width:300px;
	Height:100px;
	position: absolute;
	border:0px solid red;
}
.imgsection{
	width:auto;
	Height:25px;
	position: relative;
}.informationbg{
	/*border:0px solid red;
	width:400px;
	Height:250px;
	position:absolute;
	overflow-y:auto;
	background:#7C9DA1;*/
	width:400px;
	Height:250px;
	background-color:#e6e8c3;
	border-top:1px solid #008298;
}
.informationcontent{
	/*border:0px solid red;
	width:400px;
	Height:250px;
	position:absolute;
	overflow-y:auto;
	background:#7C9DA1;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	padding-left:5px;
	line-height:22px;
}
.trnsdiv{
	left:400px;
	width:270px;
	Height:380px;
	position: absolute;
	background:#F5F5FE;
}
.Transactions
{
	/*width:auto;
	height:35px;
	background: #eeeeee; 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZGNkY2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #eeeeee 0%, #cdcdcd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cdcdcd));
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cdcdcd 100%);
	background: -o-linear-gradient(top, #eeeeee 0%,#cdcdcd 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%,#cdcdcd 100%);
	background: linear-gradient(to bottom, #eeeeee 0%,#cdcdcd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cdcdcd',GradientType=0 );
	border:#aeaeae 1px solid;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#016b81;
	text-align:center;
	vertical-align:middle;*/
	background: #ffffff; 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #b5c9c9 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#b5c9c9)); 
	background: -webkit-linear-gradient(top, #ffffff 0%,#b5c9c9 100%); 
	background: -o-linear-gradient(top, #ffffff 0%,#b5c9c9 100%); 
	background: -ms-linear-gradient(top, #ffffff 0%,#b5c9c9 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#b5c9c9 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b5c9c9',GradientType=0 ); 
	width:auto;
	height:35px;
	color:#070707;
	border:1px solid #bcc6ce;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	padding-left:2px;
	padding-right:2px;
	display:table-cell;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.Transactionsmenu
{
	height:340px;
	border-left:#aeaeae 1px solid;

}
.Footerbg{
	top:375px;
	width:670px;
	Height:35px;
	position: absolute;
	background-color:#008298;
}


	