body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	-webkit-print-color-adjust: exact;
}
.Main {
	position: relative;
	border: 1px solid #fff;
	padding-top: 50px;
	clear: both !important;
	background-color: #a9a9a9;
}
.container {
	overflow-y: auto;
	height: 450px;
	background-color: #fff;
}
td span {
	position: absolute;
	top: 0;
	line-height: normal;
	clear: both !important;
	border-left: 1px solid #cfcfcf;
	height: 50px;
	padding-left: 4%;
	padding-top:15px;
}
td:first-child span {
	border: none;
	clear: both !important;
	padding-left: 5px;
}
#td {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	
	border-bottom: 1px solid #cfcfcf;
}
.EM_Tablecontainer {
	min-width: 1000px;
	border: 1px solid #fff;
}
.EM_TableAcontainer {
	min-width: 730px;
}
.EM_TableAcontainerborder {
	border-bottom: 1px solid #a9a9a9;
}
.EM_TableACell_Width {
	width: 120px;
}
.EM_TableBcontainer {
	min-width: 270px;
}
.EM_A_Border {
	border: 1px solid #cfcfcf;
}
.EM_Cell_height {
	height: 55px;
}
.EM_A_Header {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #9a9999;
	background-color: #a9a9a9 !important;
   color:#fff;
	font-weight: bold;
}
.EM_A_Header {
	color: #fff;
	font-weight: bold;
}
.EM_Sub_Header {
	background-color: #dbe6e8 !important;
  color:#1a6f87;
	font-weight: bold;
	padding-left: 10px;
}
.EM_Title {
	color: #000;
	font-weight: bold;
	padding-left: 10px;
}
.EM_Col_A {
	background-color: #eeeeee !important;
   border-top:1px solid #f6f6f6;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #c2c0c0;
	border-left: 1px solid #ffffff;
}
.EM_Col_B {
	background-color: #e7e7e7 !important;
   border-top:1px solid #f6f6f6;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #c2c0c0;
	border-left: 1px solid #ffffff;
}
.EM_Col_B1 {
	background-color: #A9A9A9 !important;
   color:#fff;
	border-top: 1px solid #f6f6f6;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #c2c0c0;
	border-left: 1px solid #ffffff;
	font-weight: bold;
}
.EM_Col_Select {
	background-color: #b3c8ce;
	border-top: 1px solid #f6f6f6;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #c2c0c0;
	border-left: 1px solid #ffffff;
}
.EM_Col_Select_P {
	/*background-color:#b3c8ce;
	border-top:1px solid #f6f6f6;
	border-right:1px solid #cfcfcf;
	border-bottom:1px solid #c2c0c0;
	border-left:1px solid #ffffff;*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid #0c6780;
}
/******************** Left ***********************/
.EM_L_header {
	background-color: #dbe6e8 !important;
   border:1px solid #9dbbc3;
	width: 100%;
	height: 110px;
	text-align: center;
	vertical-align: middle;
}
.EM_L_Total_count {
	border: 1px solid #9dbbc3;
	width: 100%;
	/*height:100px;*/
	text-align: center;
	vertical-align: middle;
}
.EM_L_Guide {
	border: 1px solid #9dbbc3;
	width: 100%;
	height: 313px;
	text-align: center;
	vertical-align: middle;
}
.EM_L-Count {
	font-size: 50px;
	font-weight: normal;
	color: #0c6780;
}
.EM_L-Count1 {
	font-size: 15px;
	font-weight: bold;
	color: #0c6780;
}
.Em_L_border {
	border-right: 1px solid #9dbbc3;
	color: #0c6780;
	font-weight: 600;
	width: 60px;
	height: 40px;
	border-bottom: 1px solid #9dbbc3;
}
.Em_L_border_Top {
	color: #0c6780;
	font-weight: 600;
	width: 100%;
	height: 23px;
	text-align: center;
	border-bottom: 1px solid #9dbbc3;
}
.Em_L_border1 {
	color: #0c6780;
	font-weight: 600;
	width: 60px;
	height: 40px;
	border-bottom: 1px solid #9dbbc3;
}
.Em_L_border2 {
	color: #0c6780;
	font-weight: 600;
	height: 40px;
	border-bottom: 1px solid #9dbbc3;
}
.Em_L_title {
	border-right: 1px solid #9dbbc3;
	color: #0c6780;
	font-weight: 600;
	width: 61px;
}
.Em_L_title_lab {
	color: #0c6780;
	font-weight:bold;
	font-size:15px;
	padding-left:10px;
	white-space:nowrap;
}