<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Directory" value="\\172.16.1.172\INSURANCE_CLAIM" />
    <add key="FinalReportName" value="FinalReport" />
    <add key="ReportPrefix" value="R_" />
    <add key="LastReportPrefix" value="ZR_" />
  </appSettings>
</configuration>