/**
Copyright 1999-2015, Computer Sciences Corporation. All rights reserved.
 
Warning: This computer program is protected by copyright law and international treaties.
Unauthorized reproduction or distribution of this program, or any portion of it, 
may result in severe civil and criminal penalties, and will be prosecuted to 
the maximum extent possible under the law.
**/
TD.COLUMNHEADERCENTERICONS12
{
	COLOR:#000000 ;
	background-color:#f0f7eb;
	border-left:#70bb67 2px solid;
	padding:3px;	
	border-bottom:#70bb67 1px solid;
	font-family: Verdana;
	font-size: 8pt;
	font-weight:bold;
	border-collapse:collapse; 
}
.borderhighlight12
{
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	border:1px solid #2a7e2b;
	margin:0;
	border-collapse: collapse;
}

TD.COLUMNHEADERCENTERNEW12 {
background: #59a351; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5YTM1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNzkyMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #59a351 0%, #379234 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59a351), color-stop(100%,#379234)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #59a351 0%,#379234 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #59a351 0%,#379234 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #59a351 0%,#379234 100%); /* IE10+ */
background: linear-gradient(to bottom, #59a351 0%,#379234 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59a351', endColorstr='#379234',GradientType=0 ); /* IE6-8 */
	font-family: Verdana;
	font-size: 8pt;
	color: white;
	font-weight:bold;
	vertical-align:middle;
	text-align:left;
	border-top:1px solid #7d8dbd;
	border-bottom:1px solid #2a7e2b;

}
