/**
Copyright 1999-2015, Computer Sciences Corporation. All rights reserved.
 
Warning: This computer program is protected by copyright law and international treaties.
Unauthorized reproduction or distribution of this program, or any portion of it, 
may result in severe civil and criminal penalties, and will be prosecuted to 
the maximum extent possible under the law.
**/
@CHARSET "ISO-8859-1";
.componentTable {
width:221px;

}

.componentTableRow{
	width:221px;
	height:30px;
	border: 1px solid #2d2d2d;
	border-color: #2d2d2d;
	padding-left: 9px;
}

.componentTableColumn {
color:#000000;
font-family:Tahoma,Arial,Helvetica,Geneva,sans-serif;
font-size:8pt;
background-color:#F2F2F5;
text-wrap:normal;
word-wrap:break-word;
border-color:#ffffff #ffffff #cccccc #ffffff;
border-style:solid solid solid solid;
border-width:1px 0px 1px 0px;
}

.componentTableHeader {
font-family:Tahoma,Arial,Helvetica,Geneva,sans-serif;
font-size:8pt;
padding:8px;
border-color:#ffffff #ffffff #cccccc #ffffff;
border-style:solid solid solid none;
border-width:1px 0px 1px 0px;
text-wrap:normal;
word-wrap:break-word;
}

.componentAnchor{
	font-family:Arial;
	font-size:11px;
	color:#a1a1a1;
	text-decoration: none;
}

.eMTitleStyle{
	font-family:Arial;
	font-size:36px;
	color:#3dace6;
	font-weight: bold;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#161616')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#161616');
}

.moduleHeaderStyle{
	font-family:Arial;
	font-size:18px;
	color:#ffffff;
	font-weight: bold;
}



.modulespanStyle {
	font-weight: bold;
	color: #ffffff;
	font-size: 12px;
	font-family:Arial;
}

.autocompleteTextStyle{
	width:202px;
	height:30px;
	background-color: #3c3c3c;
	border:1px  solid #5b5959;
	border-radius:3px;
	align:center;
	vertical-align:middle;
	color: #b5b5b5;
	font-size : 12px;
	font-family : Arial;
	font-weight: normal;
	padding-left: 5px;
}

.autocompleteTableStyle{
	width:221px;
	height:50px;
	background-color: #000000;
	
}

.moduleListTableColumn {
color:#e7e7e7;
font-family:Tahoma,Arial,Helvetica,Geneva,sans-serif;
font-size:8pt;
text-wrap:normal;
word-wrap:break-word;
background-color: #2c2c2c;
border-color:#ffffff #ffffff #cccccc #ffffff;
border-style:solid solid solid solid;
border-width:1px 0px 1px 0px;
}

.moduleListTCWithLeftBorder {

align:center;
vertical-align: middle;
text-wrap:normal;
word-wrap:break-word;

border-color:#303030 #303030 #303030 #303030;
border-style:solid solid solid solid;
border-width:1px 0px 1px 1px;
}

.moduleListTCWithRightBorder {
align:left;
vertical-align: middle;
text-wrap:normal;
word-wrap:break-word;

border-color:#303030 #303030 #303030 #303030;
border-style:solid solid solid solid;
border-width:1px 1px 1px 0px;
}

.moduleListTRStyle{
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.moduledisplayindicator{
	color:#e7e7e7;
	font-family:Tahoma,Arial,Helvetica,Geneva,sans-serif;
	font-size:7pt;
}

.componentHeadingTable {
background-color: #2c2c2c;
width:221px;
height:110px;
}

a:active{
	font-size : 11px;
	font-family : Arial;
	font-weight: Bold;	
	color : #ffffff;
}
