<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
<!-- LookUp Action -->
	<bean name="/LookupAction"
		class="com.iba.framework.lookup.pojo.web.LookupAction">
		<property name="delegateId" value="lookupDelegator"></property>
	</bean>
</beans>