<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
<!-- ************************** START of Report Action  ********************** -->
	
	<!-- RepWorkList Action -->
	
	<bean name="/WorkListAction"
		class="com.iba.ehis.ds.repworklist.pojo.web.WorkListAction"/>
	
	<!--  REPORT FOR YEARLY STATISTICS -->
	
	<bean name="/YearlyStatisticsAction" 
		class="com.iba.ehis.ds.repyearlystatistics.pojo.web.YearlyStatisticsAction"/>	
	
	<!--  REPORT FOR DAILY STATISTICS -->
	
	<bean name="/DailyStatisticsAction" 
		class="com.iba.ehis.ds.repdailystatistics.pojo.web.DailyStatisticsAction"/>
						
	<!--  REPORT FOR BIRTH DAY  LIST -->
	
	<bean name="/BirthdayListAction" 
		class="com.iba.ehis.ds.repbirthdaylist.pojo.web.BirthdayListAction"/>	
					
	<!--  REPORT FOR ATTEN MEAL  LIST -->
	
	<bean name="/AttendMealListAction" 
		class="com.iba.ehis.ds.repattendmeallist.pojo.web.AttendMealListAction"/>
				
	<!--  REPORT FOR MEAL DISTRIBUTION LIST -->
	
	<bean name="/MealDistributionListAction" 
		class="com.iba.ehis.ds.repmealdistributionlist.pojo.web.MealDistributionListAction"/>	
		
	<!--  REPORT FOR MENU FOR DIET TYPE -->
	
	<bean name="/MenuforDietTypeAction" 
		class="com.iba.ehis.ds.repmenufordiettype.pojo.web.MenuforDietTypeAction"/>
		
	<!--  COMMERCIAL FORMULA DISTRIBUTION LIST -->
	
	<bean name="/CommFormulaDistributionListAction" 
		class="com.iba.ehis.ds.repcommformuladistributionlist.pojo.web.CommFormulaDistributionListAction"/>
		
	<!--  COMMERCIAL FORMULA LIST -->
	
	<bean name="/RepCommercialFormulaListAction" 
		class="com.iba.ehis.ds.repcommercilatformulalist.pojo.web.RepCommercialFormulaListAction"/>
				
	<!-- SPECIAL FOOD ITEM REQUIREMENTS -->
			
	<bean name="/RepspFoodItemRequirementsAction" 
		class="com.iba.ehis.ds.repspfooditemrequirements.pojo.web.RepspFoodItemRequirementsAction"/>
			
	<!-- MealTickets Action -->

	<bean name="/RepMealTicketsAction" 
		class="com.iba.ehis.ds.repmealtickets.pojo.web.RepMealTicketsAction"/>
		
	<!-- INGREDIENTS LIST -->
			
	<bean name="/IngredientsListAction" 
		class="com.iba.ehis.ds.repingredientslist.pojo.web.IngredientsListAction"/>

	<!--REPORT FOR MEAL CENSUS -->
	
	<bean name="/RepMealCensusAction" 
		class="com.iba.ehis.ds.repmealcensus.pojo.web.RepMealCensusAction" />	

	<!--  REPORT FOR MONTHLY STATISTICS  -->
	
	<bean name="/RepMonthlyStatisticsAction" 
		class="com.iba.ehis.ds.repmonthlystatistics.pojo.web.RepMonthlyStatisticsAction" />	
						
	<!--  GENERATE PRELIMINARY INGREDIENT LIST-->
			
	<bean name="/RepGeneratePreliminaryIngredientListAction" 
		class="com.iba.ehis.ds.repgeneratepreliminaryingredientlist.pojo.web.RepGeneratePreliminaryIngredientListAction" />	
			
	<!-- SPECIAL FOOD ITEM TICKETS -->
		
	<bean name="/RepSpecialFoodItemTicketsAction" 
		class="com.iba.ehis.ds.repspecialfooditemtickets.pojo.web.RepSpecialFoodItemTicketsAction" />	
			
	<!-- REPORT FOR MENU CARD -->

	<bean name="/RepPatientMenuCardAction" 
		class="com.iba.ehis.ds.reppatientmenucard.pojo.web.RepPatientMenuCardAction" />	
					
	<!--  REPORT FOR NEW ADMISSION LIST  -->

	<bean name="/RepNewAdmissionListAction" 
		class="com.iba.ehis.ds.repnewadmissionlist.pojo.web.RepNewAdmissionListAction" />	

	<!--  REPORT FOR COMMERECIAL FORMULA USAGE LIST -->

	<bean name="/RepCommlFormulaUsageListAction" 
		class="com.iba.ehis.ds.repcommformulausagelist.pojo.web.RepCommlFormulaUsageListAction" />	

	<!--	REPORT FOR DS MASTER CODES 	-->     

	<bean name="/RepDSMasterCodesAction" 
		class="com.iba.ehis.ds.repdsmastercodes.pojo.web.RepDSMasterCodesAction" />
		
	<!--REPORT FOR MEALLIST -->	
         
	 <bean name="/MealListAction" 
		class="com.iba.ehis.ds.repmeallist.pojo.web.MealListAction"/>
		
	<!--REPORT FOR MEALORDERLIST -->	
         
	 <bean name="/MealOrderListAction" 
		class="com.iba.ehis.ds.repmealorderlist.pojo.web.MealOrderListAction"/>

	<!-- REPORT FOR STAFFMEALORDERLIST -->	         
	
	<bean name="/StaffMealOrderListAction" 
		class="com.iba.ehis.ds.repstaffmealorderlist.pojo.web.StaffMealOrderListAction"/>

	<!--REPORT FOR REJECTED FOODITEM -->	
	<bean name="/RepMenuItemsRejectedAction" class="com.iba.ehis.ds.repmenuItemsRejected.pojo.web.RepMenuItemsRejectedAction" />

	<!--REPORT FOR DIETTYPE MOVEMENT -->	
	<bean name="/RepDietTypeMovementAction" class="com.iba.ehis.ds.repDietTypeMovement.pojo.web.RepDietTypeMovementAction" />

	<!--REPORT FOR SPECIAL FOOD TICKETS -->	
	<bean name="/RepSpecialFoodTicketsAction" class="com.iba.ehis.ds.repspecialfoodtickets.pojo.web.RepSpecialFoodTicketsAction" />

<!-- ************************** END of Report Action  ********************** -->
	
<!-- ************************** START of Query Action  ********************** -->

<!-- MealCensusAction Action -->
	
	<bean name="/MealCensusAction" 
		class="com.iba.ehis.ds.mealcensus.pojo.web.MealCensusAction"/>
	
	<bean name="/MealCensusPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
	<property name="delegateId" value="commercialFoodItemDelegator" />
	</bean>
	
<!-- MealStatisticsAction Action -->
	
	<bean name="/MealStatisticsAction" 
		class="com.iba.ehis.ds.mealstatistics.pojo.web.MealStatisticssAction"/>
	
	<bean name="/MealStatisticsPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
	<property name="delegateId" value="commercialFoodItemDelegator" /> 
	</bean>

<!-- ************************** END of Query Action  ********************** -->

<!-- LookUp Action -->
		
	<bean name="/LookupAction"
		class="com.iba.framework.lookup.pojo.web.LookupAction">
		<property name="delegateId" value="lookupDelegator"></property>
	</bean>

<!--Generate Meal Plan
	
	<bean name="/GenerateMealPlanAction"
		class="com.iba.ehis.ds.generatemealplan.pojo.web.GenerateMealPlanAction"/> -->

<!-- Mealtype Action -->

	<bean name="/MealTypeAction" class="com.iba.ehis.ds.mealtype.pojo.web.MealTypeAction">
		<property name="delegateId" value="mealTypeDelegator"></property>
	</bean>
	<bean name="/MealTypePageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="mealTypeDelegator"></property>
	</bean>	
	
<!-- MealClass Action -->

	<bean name="/MealClassAction" class="com.iba.ehis.ds.mealclass.pojo.web.MealClassAction">
		<property name="delegateId" value="mealClassDelegator"></property>
	</bean>


	<bean name="/MealClassPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="mealClassDelegator"></property>
	</bean>

<!-- ItemType Action -->
	
	<bean name="/ItemTypeAction" class="com.iba.ehis.ds.itemtype.pojo.web.ItemTypeAction">
		<property name="delegateId" value="itemTypeDelegator"></property>
	</bean>
	
	<bean name="/ItemTypePageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="itemTypeDelegator"></property>
	</bean>

<!-- DietType Action -->
	
	<bean name="/DietTypeAction" class="com.iba.ehis.ds.diettype.pojo.web.DietTypeAction">
		<property name="delegateId" value="dietTypeDelegator"></property>
	</bean>
	
	<bean name="/DietTypePageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="dietTypeDelegator"></property>
	</bean>

<!-- Ingredients Action -->
	
	<bean name="/IngredientsAction" class="com.iba.ehis.ds.ingredients.pojo.web.IngredientsAction">
		<property name="delegateId" value="ingredientsDelegator"></property>
	</bean>
	
	<bean name="/IngredientsPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="ingredientsDelegator"></property>
	</bean>

<!-- RDAChart Action -->
	
	<bean name="/RDAChartAction" class="com.iba.ehis.ds.rdachart.pojo.web.RDAChartAction">
		<property name="delegateId" value="rdaChartDelegator"></property>
	</bean>
	
	<bean name="/RDAChartPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="rdaChartDelegator"></property>
	</bean>

<!-- CommercialFoodItem   -->
	
	<bean name="/CommercialFoodItemAction"
		class="com.iba.ehis.ds.commercialfoodItem.pojo.web.CommercialFoodItemAction">
		<property name="delegateId" value="commercialFoodItemDelegator" />
	</bean>
	<bean name="/CommercialFoodItemPageAction"
		class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="commercialFoodItemDelegator" />
	</bean>

<!-- FoodItem Action -->

	<bean name="/FoodItemAction" class="com.iba.ehis.ds.fooditem.pojo.web.FoodItemAction">
		<property name="delegateId" value="foodItemDelegator"/>
	</bean>
	
	<bean name="/FoodItemPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="foodItemDelegator"/>
	</bean>

<!-- Recipe-->

	<bean name="/RecipeAction"
		class="com.iba.ehis.ds.recipe.pojo.web.RecipeAction">
		<property name="delegateId" value="recipeDelegator" />
	</bean>

	<bean name="/RecipePageAction"
		class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="recipeDelegator" />
	</bean>

<!-- MealCategory	 -->

	<bean name="/MealCategoryAction"
		class="com.iba.ehis.ds.mealCategory.pojo.web.MealCategoryAction">
		<property name="delegateId" value="mealCategoryDelegator" />
	</bean>

	<bean name="/MealCategoryPageAction"
		class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="mealCategoryDelegator" />
	</bean>
	

<!-- DietCycle	 -->

	<bean name="/DietCycleAction" class="com.iba.ehis.ds.dietcycle.pojo.web.DietCycleAction">
		<property name="delegateId" value="dietcycleDelegator"></property>
	</bean>

	<bean name="/DietCyclePageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="dietcycleDelegator"></property>
	</bean>

<!-- Complaints	 -->

	<bean name="/ComplaintsAction" class="com.iba.ehis.ds.complaints.pojo.web.ComplaintsAction">			<property name="delegateId" value="complaintsDelegator"></property>
	</bean>	
	<bean name="/complaintsPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="complaintsDelegator"></property>
	</bean>


<!-- DeliveryInstruction	 -->

	<bean name="/DeliveryInstructionAction" class="com.iba.ehis.ds.deliveryInstruction.pojo.web.DeliveryInstructionAction">
		<property name="delegateId" value="deliveryInstructionDelegator"></property>
	</bean>

	<bean name="/DeliveryInstructionPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="deliveryInstructionDelegator"></property>
	</bean>

<!--  FeedType  -->

	<bean name="/FeedTypeAction" class="com.iba.ehis.ds.feedtype.pojo.web.FeedTypeAction">
		<property name="delegateId" value="feedTypeDelegator"></property>
	</bean>
	<bean name="/FeedTypePage" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="feedTypeDelegator"></property>
	</bean>

<!--  DSparameterAcrossTheFacility-->

	<bean name="/DSparameterAcrossTheFacilityAction" class="com.iba.ehis.ds.dsparameteracrossfacility.pojo.web.DSparameterAcrossTheFacilityAction">
	<property name="delegateId" value="dsParameterAcrossTheFacilityDelegator"></property>
	</bean>

<!--  DSparameterForTheFacility-->

	<bean name="/DSparameterForTheFacilityAction" class="com.iba.ehis.ds.dsparameterforfacility.pojo.web.DSparameterForTheFacilityAction">
		<property name="delegateId" value="dsparameterforthefacilityDelegator"></property>
	</bean>

<!--  Nutrients-->

	<bean name="/NutrientsAction" class="com.iba.ehis.ds.nutrients.pojo.web.NutrientsAction">
		<property name="delegateId" value="nutrientsDelegator"></property>
	</bean>

	<bean name="/NutrientsPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="nutrientsDelegator"></property>
	</bean>

<!--  WardsForKitchen -->

	<bean name="/WardsForKitchenAction" class="com.iba.ehis.ds.wardsforkitchen.pojo.web.WardsForKitchenAction">
		<property name="delegateId" value="wardsforkitchenDelegator"></property>
	</bean>

	<bean name="/WardsForKitchenPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="wardsforkitchenDelegator"></property>
	</bean>
	
<!--  DietTimeTable-->

	<bean name="/DietTimeTableAction" class="com.iba.ehis.ds.diettimetable.pojo.web.DietTimeTableAction">
		<property name="delegateId" value="dietTimeTableDelegator"></property>
	</bean>
	<bean name="/DietTimeTablePageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="dietTimeTableDelegator"></property>
	</bean>

<!--Menu Action -->
	
	<bean name="/MenuAction" class="com.iba.ehis.ds.menu.pojo.web.MenuAction">
		<property name="delegateId" value="MenuDelegator"></property>
	</bean>
	
	<bean name="/MenuPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
	<property name="delegateId" value="MenuDelegator"></property>
	</bean>

<!-- DietCategoryAction -->

	<bean name="/DietCategoryAction"
			class="com.iba.ehis.ds.dietCategory.pojo.web.DietCategoryAction">
			<property name="delegateId" value="dietCategoryDelegator" />
	</bean>
	<bean name="/DietCategoryPageAction"
			class="com.iba.ehis.core.pojo.web.PageAction">
			<property name="delegateId" value="dietCategoryDelegator" />
	</bean>

<!-- START OF DS-TRANSACTION lIST -->

<!-- Meal Prepare Served  -->
	
	<bean name="/MealPreparedServedComplaintsAction" class="com.iba.ehis.ds.mealpreparedservedcomplaints.web.MealPreparedServedComplaintsAction">
	<property name="delegateId" value="MealPreparedServedDelegator"></property>
	</bean>
	
<!-- Meal Prepare Served  -->

	<bean name="/MealOrderForStaff" class="com.iba.ehis.ds.mealorderforstaff.pojo.web.MealOrderForStaffAction">
	<property name="delegateId" value="MealOrderForStaffDelegator"></property>
	</bean>

<!-- Work List Order -->
	
	<bean name="/WorkListPageAction"
		class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="workListOrderDelegator" />
	</bean>
	
	<bean name="/WorkListOrderAction" class="com.iba.ehis.ds.WorkListOrder.pojo.web.WorkListOrderAction">
		<property name="delegateId" value="workListOrderDelegator"></property>
	</bean>

<!-- Place Diet Order-->

	<bean name="/PlaceDietOrderAction" class="com.iba.ehis.ds.placeDietOrder.pojo.web.PlaceDietOrderAction">
		<property name="delegateId" value="placeDietOrderDelegator"></property>
	</bean>

	<!-- Food Item For Kitchen Area  -->

	<bean name="/FoodItemForKitchenAreaAction" class="com.iba.ehis.ds.fooditemforkitchenarea.pojo.web.FoodItemForKitchenAreaAction">	
		<property name="delegateId" value="foodItemForKitchenAreaDelegator" />
	</bean>
	
	<bean name="/FoodItemForKitchenAreaPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="foodItemForKitchenAreaDelegator"></property>
	</bean>

<!--	KITCHEN	 -->
	
	<bean name="/KitchenAction" class="com.iba.ehis.ds.kitchen.pojo.web.KitchenAction">
		<property name="delegateId" value="kitchenDelegator" />
	</bean>
	
	<bean name="/KitchenPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="kitchenDelegator"></property>
	</bean>

<!-- START OF DS-TRANSACTION lIST -->

<!--  ModifyMealPlan Action-->
	
	<bean name="/ModifyMealPlanAction" class="com.iba.ehis.ds.modifymealplanforpatient.pojo.web.ModifyMealPlanAction">
		<property name="delegateId" value="modifyMealPlanDelegator"></property>
	</bean>

	<bean name="/ModifyMealPlanPageAction" class="com.iba.ehis.core.pojo.web.PageAction">
		<property name="delegateId" value="modifyMealPlanDelegator"></property>
	</bean>

<!--  GenerateMealPlanAction Action-->

		<bean name="/GenerateMealPlanAction"
		class="com.iba.ehis.ds.generatemealplan.pojo.web.GenerateMealPlanAction">
		<property name="delegateId" value="generateMealPlanDelegator" />
	</bean>

<!-- END OF DS-TRANSACTION lIST -->
	
</beans>