<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "log4j Config" "log4j.dtd">

<log4j:configuration debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %m%n" />
		</layout>
	</appender>

	<!-- ============================== -->
	<!-- Appender for General Category  -->
	<!-- ============================== -->
	<appender name="FILE_CONSOLE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./log/console.log" />
		<param name="Append" value="false" />
		<!-- Rollover at midnight each day -->
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %m%n" />
		</layout>
	</appender>

	<appender name="APPLICATION_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./log/IBALog.log" />
		<param name="Append" value="false" />
		<!-- Rollover at midnight each day -->
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %m%n" />
		</layout>
	</appender>

	<appender name="PERFORMANCE_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./log/performance.log" />
		<param name="Append" value="false" />
		<!-- Rollover at midnight each day -->
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %m%n" />
		</layout>
	</appender>

	<appender name="HL7_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./log/HL7Log.log" />
		<param name="Append" value="false" />
		<!-- Rollover at midnight each day -->
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %m%n" />
		</layout>
	</appender>

	<!-- General Category -->

	<logger name="APPLICATION_LOG">
		<level value="DEBUG" />
		<appender-ref ref="APPLICATION_APPENDER" />
	</logger>

	<logger name="HL7_LOG">
		<level value="WARN" />
		<appender-ref ref="HL7_APPENDER" />
	</logger>	

	<logger name="PERFORMANCE_LOG">
		<level value="DEBUG" />
		<appender-ref ref="PERFORMANCE_APPENDER" />
	</logger>

	<root>
		<priority value="ERROR" />		
		<appender-ref ref="CONSOLE" />		
		<appender-ref ref="FILE_CONSOLE" />		
	</root>
</log4j:configuration>
