/**
Copyright 1999-2015, Computer Sciences Corporation. All rights reserved.
 
Warning: This computer program is protected by copyright law and international treaties.
Unauthorized reproduction or distribution of this program, or any portion of it, 
may result in severe civil and criminal penalties, and will be prosecuted to 
the maximum extent possible under the law.
**/
INPUT.XHTAB1 
{
	color:black;
			font-weight:600;
			background-color:white;
			border-width: thin ;
			border-style: ridge ;
			BORDER-LEFT-COLOR: RED;
			BORDER-RIGHT-COLOR: RED;
			BORDER-TOP-COLOR: RED;
			BORDER-BOTTOM-COLOR: RED ;

}
INPUT.XHTAB2 
{
		color:black;
			font-weight:600;
	background-color:silver;
	border-width: thin ;
	border-style: ridge;
	BORDER-LEFT-COLOR: #10319C;
	BORDER-RIGHT-COLOR: #10319C;
	BORDER-TOP-COLOR: #10319C;
	BORDER-BOTTOM-COLOR: #10319C ;


}
