@CHARSET "ISO-8859-1";

.Diary_OP_Header {
	width: 100%;
	height: 50px;
	background-color: #e6e6e6;
}

.background.D_OP_Icon {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 40px;
	background-color: #3fb2d8; 
}

.background.D_OP_Right_Col {
	height: auto !important;
	padding-bottom: 0;
	right: 0;
	width: 5px;
	background-color: #3fb2d8;
	
}

.D_Patient_Details {
	width: 100%;
	padding-top:3px;
	padding-bottom:3px;
	border-bottom:1px dotted #838383;
	background: #ffffff; 
	background: -moz-linear-gradient(top, #ffffff 0%, #fefefe 50%, #fcfcfc 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#fefefe), color-stop(100%,#fcfcfc));
	background: -webkit-linear-gradient(top, #ffffff 0%,#fefefe 50%,#fcfcfc 100%); 
	background: -o-linear-gradient(top, #ffffff 0%,#fefefe 50%,#fcfcfc 100%); 
	background: -ms-linear-gradient(top, #ffffff 0%,#fefefe 50%,#fcfcfc 100%); 
	background: linear-gradient(to bottom, #ffffff 0%,#fefefe 50%,#fcfcfc 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 );
}

.OT_DPD_Patient {
	width: 100%;
	height: 60px;
}
.OT_DPD_Patient_Exp {
	width: 100%;
	height: 130px;	
}
.DPD_Date-Con_Exp
{
	padding-top:20px;
}

.OT_D_Patient_Details {
	width: 100%;
	padding-top:3px;
	/*padding-bottom:3px;*/
	border-bottom:1px dotted #838383;
	background: #ffffff; 
background: -moz-linear-gradient(top, #ffffff 0%, #fefefe 50%, #fcfcfc 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#fefefe), color-stop(100%,#fcfcfc));
background: -webkit-linear-gradient(top, #ffffff 0%,#fefefe 50%,#fcfcfc 100%); 
background: -o-linear-gradient(top, #ffffff 0%,#fefefe 50%,#fcfcfc 100%); 
background: -ms-linear-gradient(top, #ffffff 0%,#fefefe 50%,#fcfcfc 100%); 
background: linear-gradient(to bottom, #ffffff 0%,#fefefe 50%,#fcfcfc 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 );
}

.DPD_Date-Con_bor_OP
{
	width:2px;
	height: auto !important;
	background-color:#3fb2d8;
	left: 120px;
}

.D_C_Center
{
	position: absolute;
	display: inline-block;
	width: 20px;
	/*height: 18px;*/
	padding-top:3.5px;
	background-color: #c7c7c7;
	left: 5px;
	top: 0px;
}
.D_C_Right
{
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	border: 9px solid #c7c7c7;
	border-left: none;
	border-bottom-right-radius: 9px;
	border-top-right-radius: 9px;
	left: 25px;
	top: 0px;
}

.D_H_Title
{
	color: #444444;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
}
.D_H_SubTitle
{
	color: #444444;
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	font-style: italic;
}
.D_H_Count
{	color: #444444;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.D_H_Count1	
{	color: #444444;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}
.D_H_FTET
{
	color: #1f2227;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.D_H_Dur
{
	color: #a3a3a3;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}
.D_H_fl
{
	color: #3fb2d8;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.D_H_fl_slab
{
	color: #3fb2d8;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	/*line-height : 5;*/
}
.D_P_Name
{
	color: #504f4f;
font-size: 13px;
font-weight: bold;
padding-left: 10px;
padding-top: 5px;
white-space: nowrap;
overflow: hidden;
}
.D_P_Name_OT
{
	color: #8c91a0;
font-size: 12px;
font-weight: bold;
padding-left: 10px;
/*white-space: nowrap;*/
overflow: hidden;
}
.D_P_PAC_OT
{
	color: #8c91a0;
	background-color : #e6e6e6;
font-size: 12px;
font-weight: bold;
padding-left: 10px;
/*white-space: nowrap;*/
overflow: hidden;
margin-right: 3px;
float: right;
}
.Nodata_D
{
	color: #8c91a0;
font-size: 12px;
font-weight: normal;
padding-left: 10px;
white-space: nowrap;
overflow: hidden;
}
.D_P_ID
{
	color: #a3a3a3;
	font-size: 12px;
	font-weight: normal;
	padding-left: 10px;

}
.D_P_ID_OT
{
color: #a3a3a3;
font-size: 12px;
font-weight: normal;
padding-left: 10px;
font-style:italic;

}
.Calendar_Con_A {
	width: 100%;
/*	height: 80px;*/
	

}
.Cal_Top_A{
	width: 100%;
	height: 55px;
	margin-top: 10px;

}
.D_P_ID_OT_SUR
{
color: #8c91a0;
font-size: 10px;
font-weight: bold;
}
.D_P_Name_OT_Surgen
{
	font-style: italic;
}
.background.Cal_Bottom_A {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	right: 0;
	margin-top: 50px; 
	background-repeat:repeat-x;
	background-image:url(../images/Bottom_Strip.PNG);
}


.TopCal_Strip {
	height:100px;
	background-repeat:repeat-x;
	background-image:url(../images/Bottom_Strip.PNG);
	background-position: 50% 98%;
}


.background.D_OT_Icon
{
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 40px;
	background-color: #91b22d; 
}

.background.D_OT_Right_Col {
	height: auto !important;
	padding-bottom: 0;
	right: 0;
	width: 5px;
	background-color: #91b22d;
}

.DPD_Date-Con_bor_OT
{
	width:2px;
	height: auto !important;
	background-color:#91b22d;
	left: 120px;
}
.WidgetButtonTheme img{
	padding-top:5px;
}

/* Theme from IpadTheme.css for filter button */
/*TODO other theme related CSS in the non-theme file to be moved here */

.WidgetFilterButtonSelTheme{
	-moz-box-shadow:inset 0px 1px 0px 0px #2eadd4;
	-webkit-box-shadow:inset 0px 1px 0px 0px #2eadd4;
	box-shadow:inset 0px 1px 0px 0px #2eadd4;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0e6591), color-stop(1, #1f8bc1) );
	background:-moz-linear-gradient( center top, #0e6591 5%, #1f8bc1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e6591', endColorstr='#1f8bc1');
	background-color: #1f8bc1;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:-1px;
	border:1px solid #141d20;
	/*display:inline-block;*/
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:28px;
	line-height:28px;
	width:42px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}

 .imgPhotoTheme
{
	border: 1px solid #dddddd;
	border-radius: 2px;
	width:50px; 
	height: 50px;
	/*-moz-box-shadow:inset 0px 2px 2px 0px #c8ccd0;
	-webkit-box-shadow:inset 0px 2px 2px 0px #c8ccd0;
	box-shadow:inset 0px 2px 2px 0px #c8ccd0;*/
	background-color : #ffffff;
}
.PatImgTagTheme
{
	padding:2px;
	vertical-align: middle;
}