  .pharmDataContentScroller{
      position: absolute;
  }  
  .ChartSummaryBlockVar{
   display: block;
   margin: 5px;
   margin-left: 2px;
   height: calc( 100% - 10px );
   margin-top: 0;
   padding-top: 5px;
   }
   .pharmOrderTab{
   width:20%;
   height: 50px;
   display: inline-block;
   text-align: center;
   vertical-align: middle;
   line-height: 50px;
   font-size: 14px;
   font-family: "Segoe UI";
   color: #9298ae;
   -webkit-font-smoothing: antialiased;
    letter-spacing: -0.8px;
    font-weight: 600;
   }
   .pharmDataMainWrapper{
   overflow:hidden;
   position:relative;
   background:#ffffff;
   height:100%;
   margin-left:7px;
   } 
   .pharmOrderSelectedTab{
   color: #313844 ! important;
   border-bottom:#2a8fbd 2px solid;
   -webkit-font-smoothing: antialiased;
    letter-spacing: -0.8px;
    font-weight: 600;
   }
   .pharmEmptyData{  
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    font-family: "Segoe UI";
    color: #9298ae;
   }

   @font-face {
   font-family: "Segoe UI";
   src: url('../css/segoeui/segoeui.woff') format('embedded-opentype'),
        url('../css/segoeui/Segoe_UI.ttf') format('truetype');
		url('../css/segoeui/segoeui.ttf') format('truetype');
   }
   
   /*
   @font-face {
   font-family: "Segoe UI Semilight";
   font-weight: 300;
   src: url('../css/segoeui/segoeui.woff') format('embedded-opentype'),
        url('../css/segoeui/Segoe_UI.ttf') format('truetype');
   }
   @font-face {
   font-family: "Segoe UI";
   font-weight: 400;
   src: url('../css/segoeui/segoeui.woff') format('embedded-opentype'),
        url('../css/segoeui/Segoe_UI.ttf') format('truetype');
   }
   @font-face {
   font-family: "Segoe UI Semibold";
   font-weight: 700;
   src: url('../css/segoeui/segoeui.woff') format('embedded-opentype'),
        url('../css/segoeui/Segoe_UI.ttf') format('truetype');
   }
   @font-face {
   font-family: "Segoe UI Bold";
   font-weight: 800;
   src: url('../css/segoeui/segoeui.woff') format('embedded-opentype'),
        url('../css/segoeui/Segoe_UI.ttf') format('truetype');
   }
   */
   .kendoTextBoxHeight{
	  height:43px; 
   }
   .segoeuiBold{
	-webkit-font-smoothing: antialiased;
    letter-spacing: -0.8px;
	font-weight: 600;
   }
/* IVRx sub tabs */

.ivrxSubTabs{
	width:100%;
	height:58px;
	background-color:#edf1f3;
	position:relative;
}

.ivrxSubTabs .ivrxTabsContainer{
	width:calc(100% - 12px);
	height:48px;
	position:absolute;
	display: flex;
	margin: 9px 0px 0px 5px;
	background-color:#fafafb;
	border: 1px solid #d6d6d6;
}

.ivrxTabs{
	width:10px;
	height:10px;
	display: inline-block;
	border:2px solid #9298ae;
	border-radius:9px;	
}


.ivrxDescription{
	vertical-align: top;
	text-align: center;
	font-size: 14px;
	font-family:Segoe UI;
	color: #9298ae;
}

.ivrxTabsOnActive{
	width:10px;
	height:10px;
	display: inline-block;
	background-color: #117096;
	border: 2px solid #117096;
	border-radius:9px;
	
}

.ivrxTabsDescOnActive{
	vertical-align: top;
	text-align: center;
	font-size: 14px;
	font-family:Segoe UI;
	color: #096b93;
}

/* IVRX sub tabs ends */
   
/* CRx details view */
@media only screen and (min-width: 768px) {
             .crxDetailsViewHeaderRowWrapper {
                                height:5%;
                                width:100%;
                               }
           }
           
@media only screen and (min-width: 1024px) {
             .crxDetailsViewHeaderRowWrapper {
                                height:7%;
                                width:100%;
                               }
           }

@media only screen and (min-width: 1024px) {
             .crxDetailsViewContentRowWrapper {
                                height:80%;
                                width:100%;
                               }
           }               
@media only screen and (min-width: 768px) {
              .crxDetailsViewContentRowWrapper {
                                 height:80%;
                                 width:100%;
                               }
            }
         
/* CRx details view ends */       
   
/* Drag and drop CSS */
.container{
  width: 100%;
  height: 100%;
  background-color: #EDF1F3;
  clear: both;
    
}

.absoluteCenter {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#PageLoadingAnimation{
	z-index: 10000;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #808080;
	opacity: 0.6;	
	background-image: url('../images/Loading24x24.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: block; 
}


#cartWrapper{
  width: 57px;
  height: 96px;	
  position: absolute;
  right: -4px;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
   transform: translateY(-50%); 
}

#cart{
  width: 55px;
  height: 90px;	
  position: relative;
  right: 0px;
  top: 3px;
  background-color: #2A8FBD;
  text-align: center;
  border-radius: 3px;
}

.innerCart{
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 45px;
    height: 82px;
    background-color: #217aa3;
    box-shadow: inset 0 0 10px #1e6f94;
    border-radius: 2px;
    border:1px solid #0DA7E1;
}

.shoppingCart{
	height: 50%;
    position: relative;
    text-align: center;
}

.cartImage{
	position: absolute;
    top: 26%;
    left: 25%;
}

.cartCount{
	position: absolute;
    top: 12%;
    left: 24%;
    width: 24px;
    height: 22px;
    background-color: #fff;
    color: #053c49;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    font-weight: bold;
}


.cardShadowWrapper{
	width: 5px;
	height: 95px;
	position: fixed;
	right: 0px;
	top: 55%;
	background-color: #2A8FBD;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cartShadowTop{
	position: absolute;
    top: -1px;
    left: -4px;
}

.cartShadowBottom{
	position: absolute;
    bottom: -8px;
    left: -3px;      
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
        
}

/* on expand cart */

#cartExpandWrapper{
  width: 200px;
  height: 96px;
  position: absolute;
  right: -4px;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
   transform: translateY(-50%); 
}

#cartExpandWrapper #cartOnExpand{
  width: 200px; 
  height: 90px;	
  right: -2px;
  top: 3px;
  background-color: #2A8FBD;
  text-align: center;
  border-radius: 3px;
  position: relative;
}

#cartOnExpand #cartSymbol{
    position: absolute;
    top: 50%;
    left: 14%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 47px;
    height: 82px;
    background-color: #217aa3;
    box-shadow: inset 0 0 10px #1e6f94;
    border-radius: 2px;
    border:1px solid #0DA7E1;
}

#cartOnExpand #dropBasket{
   position: absolute;
    top: 50%;
    left: 62%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 135px;
    height: 82px;
    background-color: #344563;
    box-shadow: inset 0 0 10px #324360;
    border: 1px solid #0DA7E1;  
}

.shoppingCartText{
	position:relative; 
	text-align:center; 
	margin-top: 18px;
	font-size: 12px;
    font-family: "Segoe UI";
    color: #5a6880;
    padding: 5px 24px;
}

.shoppingCartTextOnLeave{
	position:relative; 
	text-align:center; 
	margin-top: 25px;
	font-size: 12px;
    font-family: "Segoe UI";
    color: #5a6880;
    padding: 5px 24px;
}

.draggableElem{
  width: 50px;
  height: 65px;
  float: left;
  background-color: green;
  border: 1px solid black;
}

.cstFieldDullRx {
    opacity: 0.3;
}
.cstFieldDullRxNone {
    opacity: 0.3;
	pointer-events: none;
}
/* on expand cart ends */

/* Drag and drop CSS ends*/



.blurOnViewCart
{
	position:absolute;
	z-index : 9000;
	width : auto;
	height : 99%;
	background-color : #808080;
	opacity : 0.6;
	
}
.rxToastmsg{
	 color:white;
	 padding-left: 20px;
	 color: white;
	 padding-top: 10px;
	 font-size: 13px;
    font-family: "Segoe UI";
	 
}
.rxBaseToastContentError {
	background-color:#bd362f;
	bottom: 45px; 
	left: 10px; 
	display: none;
	z-index:99999
}
.rxBaseToastContentSuccess {
	background-color:#51a351;
	bottom: 10px; 
	left: 10px; 
	display: none;
	z-index:99999
}
#PharmacyCartValidationDialogDis {
    display: none;
    width: 340px;
    height: 280px;
    z-index: 600;
}


#PharmacyCartValidationDrugPrev{
	
	 display: none;
    width: 340px;
    height: 280px;
    z-index: 700
	
	
}

#PharmacyCartValidationDrugMessage{
	 display: none;
    width: 340px;
    height: 280px;
    z-index: 800;
	
}

#PharmacyCartValidationDrug{
	 display: none;
    width: 340px;
    height: 280px;
    z-index: 800;
	
	
}


#PharmacyCartValidationDrugDup{
	 display: none;
    width: 340px;
    height: 280px;
    z-index: 900;
	
}

#PharmacyCartValidationDrugDup, #confirmMsg , #cartCloseconfirmMsg, #deleteConfirmMsg{
	 display: none;
    width: 340px;
    height: 280px;
    z-index: 1000;
	
}

#PharmacyCartValidationPrescribingDrugPrev{
	
	 display: none;
    width: 340px;
    height: 280px;
    z-index: 1000;
	
	
}

#PharmacyCartValidationDrugIntr{
	
 display: none;
    width: 340px;
    height: 280px;
    z-index: 1000;
		
	
}


#PharmacyCartValidationDrug{
	
	 display: none;
    width: 340px;
    height: 280px;
    z-index: 1000;
	
}


#PharmacyCartValidationDrugStock{
	
	display: none;
    width: 340px;
    height: 280px;
    z-index: 1000;
}

.PageLoadingAnimationInside{
	z-index: 10000;
	width: 100%;
	height: 25px;
	background-color: #808080;
	opacity: 0.4;
	background-image: url(${path}/eIPAD/images/Loading24x24.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	 
}

.BannerIndicators {
	width: 12px;
    height: 13px;
    margin-top: 18px;
    position: absolute;
    margin-left: -11px;
}

/* ticksheet css starts*/

.ticksheetHolder{
    width: 100%;
    border-bottom: 1px solid #e4e8ec;
    margin: 0;	
}

.ticksheeDrugHeaderRowStyle{
	width:100%;
	height:100%;
	background-color:#fff;
}

.ticksheetHeaderContainer{
	white-space: nowrap;
	margin:0;
	padding-left:0px;
	padding-top:10px;
}

.ticksheetHeaderStyle{
	display:inline-block;
    list-style-type: none;
    padding-left: 7px;
    padding-right: 10px;
    padding-bottom: 8.5px;
    font-size: 14px;
    font-family: Segoe UI;
    color: #9298ae;	
}

.ticksheetIsActive{
   color: #313844 ! important;	
   border-bottom: 2px solid #2a8fbd;
   font-family: Segoe UI;
   font-weight: bold;
   letter-spacing: -1px;
}

/
/* ticksheet css ends*/

/*orientation css*/
@media only screen and (min-width: 1024px) {
             .ivrxDetailsViewHeaderRowWrapper {
                                height:25%;
                                width:100%;
                               }
           }
           
@media only screen and (min-width: 768px) {
              .ivrxDetailsViewHeaderRowWrapper {
                                 height:15%;
                                 width:100%;
                               }
           }
@media only screen and (min-width: 768px) {
              .ivrxDetailsViewContentRowWrapper {
                                 height:80%;
                                 width:100%;
                               }
            }
@media only screen and (min-width: 1024px) {
             .ivrxDetailsViewContentRowWrapper {
                                height:70%;
                                width:100%;
                               }
           }
@media only screen and (min-width: 768px) {
              .ivrxDetailsViewContentRowWrapper1 {
                                 height:85%;
                                 width:100%;
                               }
            }
@media only screen and (min-width: 1024px) {
             .ivrxDetailsViewContentRowWrapper1 {
                                height:75%;
                                width:100%;
                               }
           }           

@media only screen and (min-width: 768px) {
              .onOrientationChangeDynamicWrapper {
                                 width:97.5%;
                               }
            }
            
@media only screen and (min-width: 1024px) {
             .onOrientationChangeDynamicWrapper {
                                width:98.2%;
                               }
           }
           
.ivrxDrugUnit{
	width:98%;
}
 
@media only screen and (min-width: 768px) {
              .ivrxDoseDrugUnit {
                                 width:97%;
                               }
            }	    
@media only screen and (min-width: 1024px) {
             .dosageUnitIvwithAddCss {
                                width:99%;
                               }
           }
@media only screen and (min-width: 1024px) {
             .dosageUnitIvwithAddCss {
                                width:99%;
                               }
           }              
@media only screen and (min-width: 768px) {
              .ivrxDrugUnitDetails {
                                 width:94%;
                               }
            }
@media only screen and (min-width: 1024px) {
             .ivrxDrugUnitDetails {
                                width:96%;
                               }
           }
@media only screen and (min-width: 768px) {
              .ivrxDosageByCss {
                                padding-left:2px;
                               }
            }
@media only screen and (min-width: 1024px) {
             .ivrxDosageByCss {
                                padding-left:1px;
                               }
           }                 
@media only screen and (min-width: 768px) {
              .ivIntertextareaCss {
                                width:97.5%;
                               }
            }
@media only screen and (min-width: 1024px) {
             .ivIntertextareaCss {
                                width:98%;
                               }
           }   
@media only screen and (min-width: 768px) {
              .fluidvolumeCss {
                                width:97%;
                               }
            }
@media only screen and (min-width: 1024px) {
             .fluidvolumeCss {
                                width:98%;
                               }
           }  

@media only screen and (min-width: 768px) {
             .ivrxWithAddInfuseRateUnit {                              
                                width:90%;
                               }
           }
@media only screen and (min-width: 1024px) {
             .ivrxWithAddIfuseOverDrugUnit {                              
                                width:96%;
                               }
           }   


@media only screen and (min-width: 768px) {
             .ivrxWithAddDrugUnit {
                               
                                width:91%;
                               }
           }
@media only screen and (min-width: 1024px) {
             .ivrxWithAddDrugUnit {
                               
                                width:92%;
                               }
           }
                      
@media only screen and (min-width: 1024px) {
             .ivrxWithAddInfuseRateUnit {                              
                                width:94%;
                               }
           }
        
@media only screen and (min-width: 768px) {
             .ivrxWithAddIfuseOverDrugUnit {                              
                                width:96%;
                               }
           }
		   
@media only screen and (min-width: 1024px) {
             .rxWithAddDosageBy {                              
                                width:49%;
                               }
           }		        
		              
           

/* IV Rx */

 /* common */
.fullHtFullWt{
	width:100%;
	height:100%;
	
} 
.fullWtHalfHt{
	width:100%;
	height:50%;
	
} 
.fullHtHalfWt{
	width:50%;
	height:100%;	
} 
.halfHtHalfWt{
	width:50%;
	height:50%;
}
.ivrxDrugUnit1{
	height:36px;
}
.ivrxDoseDrugUnit1{
	height:36px;
	width: 98%;
}
.positionRelative{
	position:relative;
	width:100%;
	height:100%;
}
.paddingTopBottom{
	padding:10px 0 5px 0;
}
.drugDetailsTab{
	width:83px;
	text-align:center;
	float:left;
	padding-right:10px;
	padding-left:10px;
	font-size: 14px;
	font-family: Segoe UI;
	color: #9298ae;
}
.adminDetailsTab{
	width:150px;
	text-align:center;
	float:left;
	padding-right:10px;
	padding-left:10px;
	font-size: 14px;
	font-family: Segoe UI;
	color: #9298ae;
}
.ivHeaderWrapper{
	width:100%;
	height:25%;
	background-color: #f5f9fc;
}
.ivHeaderWrapperContent{
	line-height:40px;
	border-bottom:1px solid #e4e8ec;
}
.textareaWrapper{
	width:50%;
	height:80px;
	float:left;
	padding-top:10px;	
}
.interTextareaWrapper{
	width:50%;
	height:80px;
	float:left;
	padding-top:10px;
}

.dividerContent{
	width:100%;
	height:100%;
	position:relative;
}
.detailsViewWrapper{
	width: 100%
}

.detailsCell{
	width:50%;
	height:100%;
}
.detailsViewMainWrapper{
	width:100%;
	height:auto;
}

.ivInterDoseDetailsWrapper{
	width:99%;
	height:65px;
	float:left;
}
.ivInterAdditiveValue{
	height:25px;
	font-family: Segoe UI;
	font-size: 15px;
	color: black;
}
.interDynamicContentWrapperCss{
	max-height:900px;
	display:inline-block;
}
.ivWithAddDynamicContentWrapperCss
{
	max-height:370px;
	display:inline-block;
	padding-top:15px;
	
}
.doseDetailsWrapperCss{
	width:50%;
	height:65px;
	float:left;
}
.bdyWtDetailsWrapperCss{
	width:49.4%;
	height:75px;
	float:left;
	padding-bottom:10px;
}

/* used for iv additives */
.ivInterdivider{
	width:0.3%;
	height:65px;
	float:left;
	padding-bottom:10px;
}

/* used for iv intermittent */
.ivIntermittentdivider{
	width:0.1%;
	height:65px;
	float:left;
	padding-bottom:10px;
}

.ivInterDoseUnitWrapper{
	width:49.7%;
	height:65px;
	float:left;
	padding-bottom:10px;
}
.ivRxInterDoseUnitWrapper{
	width:49%;
	height:65px;
	float:left;
	padding-bottom:10px;
}
.ivInterEqualTo{
	width:1%;
	height:100%;
}
.ivInterDoseMG{
	width:50%;
	height:100%;
	float:left;
	padding-left:1px;
}
.ivIntertextareaCss{
	height:54px;
	position:absolute;
}
.inetrDividerCommon{
	position:absolute;
	top:35px;
}
.interInputWrap{
	
}
.interFluidLabel{
	width:99%;
	height:30px;
	font-family: Segoe UI;
	font-size: 15px;
	color: #096b93;
	padding: 10px 10px 0px 10px;
}
#ivrxInterBuildMAR{
	padding-bottom:0px;

}

@media only screen and (min-width: 768px) {
              .interFluidvolumeCss {
                                width:95%;
                               }
            }
@media only screen and (min-width: 1024px) {
             .interFluidvolumeCss {
                                width:96%;
                               }
           } 
		   
.interFluidDetailWrapper{
	height:auto;
			   
}
.interFluidDetailContent{
	max-height:300px;width:100%;display:inline-block;
}

.withAddFluidDetailContent{
	max-height:390px;width:100%;display:inline-block;
} 

.interDurationRepeat{
	width:100%;
	height:65px;
	float:left;
}
.interDurationTime{
	width:100%;
	height:27px;
}
.ivrxDetailsViewContentRowWrapper{
	position: absolute;
	background-color: #f5f9fc;
	overflow: hidden;
}
.ivrxDetailsViewContentRowWrapper1{
	position: absolute;
	background-color: #f5f9fc;
	overflow: hidden;
}
.noRecordsText
{
	vertical-align: middle;
	text-align: center;
	color: #c3c3c3;
}
.noRecordsMainDiv
{
	display:none;
	height: 300px; 
	line-height: 300px;
}
.infuseOverCss{
	float: right;
	font-family:"Segoe UI";
	font-size:10px;
	color: #909292;
}
.ivInterInfuseUnit{
	top:53px;
	right:17px;
	color: #6d798f;
    position: absolute;
    display: inline-flex;
    font-family: "Segoe UI";
    font-size: 13px;
}


@media only screen and (min-width: 1024px) {
             .drugDetailsTab {
                               padding-left:13px;
                               }
           } 
@media only screen and (min-width: 1024px) {
             .ivInterInfuseUnit {
                               right:19px;
                               }
           } 

@media only screen and (min-width: 768px) {
             .interDetailsViewWrapper {
							   width: 97%
                               }
           } 
@media only screen and (min-width: 1024px) {
             .interDetailsViewWrapper {
						  width: 98%;
                               }
           } 
		   