.divwidget
{
/*top:100px;*/
   background-color: white;
  /* position :absolute;*/
/*float : left;*/
 /*width : 100%;*/
 left:0%;
height : auto;
padding : 0px;
overflow : auto;


    
}
.imgLogoutt
{
	/*position:relative;*/
	vertical-align:middle;
	/*margin-right :  10px;*/
}

.content { 
/*
background-color: #ccc; 
height: 583px;
border: 1px solid #333; 
margin: 0px; 
width : 250px;

position : relative;
left : 0%;
*/
position : absolute;
float : left;
width : 25%;
left : 0%
} 
.tbrows
{
background-color: #ccc; 
height: 40px;
border: 1px solid #333; 
margin: 0px; 
width : 250px;
float:left;
/*background: url(expanded.gif) no-repeat 10px center;*/
background-image:url('../images/expanded.gif');
background-repeat:no-repeat;

background-position:right; 
}
.main
{
    background-color: #ccc;
    /*
    postion : absolute;
   left : 800px;
   */
   left : 0px;
    
   
   
    
}

.landscape .divmain
{


 /*  background-color: orange;*/
 
  
   width : 100%;
  

  height : 492px;

 padding : 0px;
  
    
    
}
.portrait .divmain
{


 /*  background-color: orange; */
 
  
   width : 100%;
  

  height : 748px;

 padding : 0px;
  
    
    
}


.divmain12
{


   background-color: white;
 
  position :relative;
   width : 97%;
   left:0%;
   float : left;
  height : 586px;

 
  
    
    
}
.tbmain 
{
    background-color: white;
   
    width : 100%;
    height : 100%;
    
   
 
}
.tdfont
{
font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding : 0px;
	font-weight:bold;
	

}
.tdimg
{
   width : 10px; 
}

.div1 {
	
	padding: 5px 25px;
	font-weight: bold;
	color: white;
	background: url("../images/expanded.gif") no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
	
}
.divsearch
{
  background-color: #fff; 
  height:25px; 
  padding:3px;
}
.widgetsTable{
     
     border:1px solid black;
      width:450px;
      height:240px;
      border-radius : 5px;
      
}


.dvwidgetContainer1
{
	position : relative;
	left : 1%;
	height:350px;
	border : 1px solid black;
	width:20%;
	 border-radius : 10px;
	 
}
.dvwidgetContainer2
{
	position : relative;
	float : right;
	left : 50%;
	height:350px;
	border : 1px solid black;
	width:20%;
	 border-radius : 10px;
	 
	 
}
.dvwidgetContainer
{
	
	height:96%;
	/*border : 1px solid black;*/
	width:98%;
	 border-radius : 10px;
	 -webkit-border-bottom-right-radius : 0px;
   -webkit-border-bottom-left-radius : 0px;
   /*background : #d5d7d7;*/
   background : # ff318c96;
	 
}
.spaDvHeader
{
	/*position :relative;
	left : 0%;
         */
	/*margin-top:3px;*/

	margin-left : 5%;
	/*vertical-align:middle;*/
	/*line-height:20%;*/
        font-family : Arial;
        color: #ffffff;
        font-size: 14pt;
        font-weight : Bold;
       text-shadow: 1px 1px #7f7f7f;
        
	
}
.spaDvWidgetCount
{
  
	/*vertical-align:middle;*/
	/*line-height:20%;*/
        font-family : Arial;
        color: #ffffff;
        font-size: 16pt;
        font-weight : Bold;
       text-shadow: 1px 1px #7f7f7f;
}
.imgWidgetExpand
{
   margin-right : 10px;
}
.imgWidgetRefresh
{
   margin-right : 15px;
}
.imgBanner
{
  margin-left : 15px;
  margin-top : 5px;
}
.landscape .dvWidgetHeader
{
	height : 20%;
	
	width : 100%;
	 background :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #48cbcb , #27707e ); /* Chrome 10+, Saf5.1+ */
   background :   -moz-linear-gradient( #48cbcb , #27707e ); /* FF3.6 */
   border-radius : 10px;
   /*border : 1px solid #48d1d8; */
   border-bottom : 1px solid #333333;
   -webkit-border-bottom-right-radius : 0px;
   -webkit-border-bottom-left-radius : 0px;
   
}
.portrait .dvWidgetHeader
{
	height : 14%;
	
	width : 100%;
	 background :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #48cbcb , #27707e ); /* Chrome 10+, Saf5.1+ */
   background :   -moz-linear-gradient( #48cbcb , #27707e ); /* FF3.6 */
   border-radius : 10px;
   /*border : 1px solid #48d1d8; */
   border-bottom : 1px solid #333333;
   -webkit-border-bottom-right-radius : 0px;
   -webkit-border-bottom-left-radius : 0px;
   
}
.landscape .dvWidgetContent
{
	height : 80%;
	width : 100%;
	overflow : hidden;
	background : #ffffff;
}
.portrait .dvWidgetContent
{
	height : 86%;
	width : 100%;
	overflow : hidden;
	background : #ffffff;
}
.tbHeader
{
  border-radius : 10px;
   border : 1px solid #48d1d8; 
   
  
  
   -webkit-border-bottom-right-radius : 0px;
   -webkit-border-bottom-left-radius : 0px;
}

.tbWidgetContent
{
	height : 100%;
	width : 100%;
	border : 0px;
	
}
.tbWidgetContent1
{
	height : 100%;
	width : 100%;
	border : 0px;
	
}
.trWidgetSummary
{
	height : 3%;
	 background : #48cbcb;
	
}
.trWidgetRows
{
	height : 3%;
	 background : #f1f2f3;
}
.trWidgetRows22
{
		height : 3%;
	 background : #d5d7d7;
}
.trwidResult
{
	height : 97%;
	width : 100%;
}
.trwidResultrows1
{
	width :50%;
	height : 100%;
	border-right : 2px solid  grey;
}
.trwidResultrows
{
	width :50%;
	height : 100%;
}
.spWidHeader
{
	position : relative;
	left : 0%;
	margin-left : 10px;
	 font-family : Arial;
	  text-shadow: 1px 1px #7f7f7f;
}
.widgetHeader1
{
     /* border :3px solid #ccc;
      border-bottom :3px;
      border-bottom-color:red;
      */
      background-color:Orange;
     
      
      height:40px;
      font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding : 0px;
	font-weight:bold;
     
}
.widgetHeader2
{
     /* border :3px solid #ccc;
      border-bottom :3px;
      border-bottom-color:red;
      */
      background-color:red;
      
      
      height:40px;
      font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding : 0px;
	font-weight:bold;
     
}
.widgetHeader3
{
     /* border :3px solid #ccc;
      border-bottom :3px;
      border-bottom-color:red;
      */
      background-color: Blue;
     
     
      height:40px;
      font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding : 0px;
	font-weight:bold;
      
}
.widgetHeader4
{
     /* border :3px solid #ccc;
      border-bottom :3px;
      border-bottom-color:red;
      */
      background-color:green;
      
     
      height:40px;
      font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding : 0px;
	font-weight:bold;
      
      
}
.widgetBody
{
    background-color:#1c1c1c;
    
}
.tIcon
{
	height:44px;
	background :  -webkit-gradient(linear, left top, left bottom, from( #2f2f2f  ), to( #101010 )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #2f2f2f , #101010 ); /* Chrome 10+, Saf5.1+ */
   background :   -moz-linear-gradient( #2f2f2f , #101010 ); /* FF3.6 */
	
}
.tbIcon
{
  
  border-top : 1px solid #474747;
}
.dvheader
{


  width : 100%;
 
  padding : 0px;
  height : 100%;

}
.BannerTitle
{
	height:20px;
	background :  -webkit-gradient(linear, left top, left bottom, from( #2f2f2f  ), to( #101010 )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #2f2f2f , #101010 ); /* Chrome 10+, Saf5.1+ */
   background :   -moz-linear-gradient( #2f2f2f , #101010 ); /* FF3.6 */
}
.patBanner
{
	
	background : #ffff99;
        
}
.tbBanner
{
  height: 110px; 
 
}
.dvPatientFooter
{
	/* width : 100%;*/
 /* margin-right : 0px;*/
  padding : 0px;
  height : 20px;
}
.widFrame
{
  width: 100%;
  height : 563px;
}
.dvWidgetRefresh
{
  /*height : 40px;*/
  border-top : 1px solid #aeaeae;
  background :  -webkit-gradient(linear, left top, left bottom, from( #eeeeee  ), to( #cccccc )); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #eeeeee , #cccccc ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #eeeeee , #cccccc ); /* FF3.6 */ 
  
}
.spanChartSummary
{
  margin-left : 20px;
  font-family : Arial;
  color: #006d7b;
  font-size: 11pt;
  /*text-shadow: 1px 1px #7f7f7f;*/
}
.landscape #widgetFrame
{


   
 
  
   width : 100%;
  

  height : 553px;

 padding : 0px;
 
  
    
    
}
.portrait #widgetFrame
{


   
 
  
   width : 100%;
  

  height : 809px;

 padding : 0px;
  
    
    
}
.dvRefresh
{
  height : 40px;
  background : red; 
}

.spTitle
{
	position:relative;
  /*  line-height:44px;*/
   /*left : 10px;
    padding-left : 10px;*/
    margin-left : 10px;
   /* text-alignment : left;*/
    font-weight: bold;
    color: #ffffff;
    font-size: 12pt;
    font-family : Arial;
    text-shadow: 1px 1px #7f7f7f;
}
.spFooter1
{
	/*position:relative;*/
  /*  line-height:44px;*/
   /*left : 10px;
    padding-left : 10px;*/
    margin-left : 10px;
   /* text-alignment : left;*/
   /* font-weight: bold;*/
    color: #ffffff;
    font-size: 12pt;
    font-family : Arial;
   /* text-shadow: 1px 1px #7f7f7f;*/
}
.spFooter2
{
 
    margin-left : 10px;
    
    color: #ffffff;
    font-size: 12pt;
    font-family : Arial;
    /*text-shadow: 1px 1px #7f7f7f;	*/
}
.spFooter3
{
	position:relative;
  /*  line-height:44px;*/
   /*left : 10px;
    padding-left : 10px;*/
    margin-right : 10px;
   /* text-alignment : left;*/
    font-weight: bold;
    color: #ffffff;
    font-size: 12pt;
    font-family : Arial;
    /*text-shadow: 1px 1px #7f7f7f;*/
}
.imgWidgetLogo
{
	
	margin-right :  10px;
}
.trWidgetRows1
{
	height : 30px;
	 background : #f9f9f9;
}
.trWidgetRows2
{
		height : 30px;
	 background : #d5d7d6;;
}
.spanWidRows
{
   font-family : Arial;
        color: #000000;
        font-size: 12pt;
       
}
.spanWidRowsBold
{
   font-family : Arial;
        color: #000000;
        font-size: 12pt;
        font-weight : bold;
       
}
.iconDivider
{
  border-right : 1px solid #4e4e4e;
  padding-left : 5px;
}
.trDummyRow
{
  height : 30px;
 /* background : #318c96;*/
  background : #ffffff;
}
.spanBannerInfo
{
        font-family : Arial;
        color: #000000;
        font-size: 14pt;
        font-weight : bold;
        margin-left : 3px;
}
.txtPatientNameBanner1
{
  border : 0px;
  height : 20px;
 width : 95%;
  border-radius : 0px;
  background : #ffff99;
    font-family : Arial;
        color: #000000;
        font-size: 14pt;
        font-weight : bold;
  text-align : bottom;
  -webkit-appearance: none;
  padding-left : 3px;
  /*background: url("images/Patient Banner Star.png") no-repeat middle; */
}
.txtPatientNameBanner
{
  border : 0px;
  height : 20px;
  width : 100%;
  border-radius : 0px;
  background : #ffff99;
    font-family : Arial;
        color: #000000;
        font-size: 13pt;
        /*font-weight : bold;*/
  text-align : bottom;
  -webkit-appearance: none;
  padding-left : 3px;
  /*background: url("images/Patient Banner Star.png") no-repeat right; */
}




