.dvViewNotes
{
    height:44px;
    /*width : 100%;*/
 
    background :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #48cbcb , #27707e ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #48cbcb , #27707e ); /* FF3.6 */
    /*border : 1px solid #48d1d8;*/
     /*border : 1px solid #48d1d8; */ 
  
}
.dvSearchResults
{
  height : auto;
  overflow : auto;
  /*background-color : #ffffff;*/
  
}
.tbSearchResults
{
  height : 44px;
  width : 100%;
  background :  -webkit-gradient(linear, left top, left bottom, from( #ebebeb), to( #ffffff )); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #ebebeb , #ffffff ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #ebebeb,  #ffffff); /* FF3.6 */
  
}
.tbSelectedResults
{
  height : 44px;
  width : 100%;
  background :  -webkit-gradient(linear, left top, left bottom, from( #ebebeb), to( #ffffff )); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #ebebeb , #ffffff ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #ebebeb,  #ffffff); /* FF3.6 */
  
}
.tbSearchResultsActive
{
  height : 44px;
  width : 100%;
  background :  -webkit-gradient(linear, left top, left bottom, from( #95dbdb), to( #a2eeee)); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #95dbdb , #a2eeee ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #95dbdb,  #a2eeee); /* FF3.6 */
  
}
.tdChkBox
{
  width : 10%;
  height : 100%;
}
.chkBox
{
  height : 32px;
  width : 32px;
  background-color : #ececec;
  border : 2px solid #00b5b5;
 
}
.tdResultContent
{
  width : 90%;
  height : 100%;
}
.spanResultContent
{
    margin-left : 7%;
    
    color: #000000;
    font-size: 12pt;
    font-weight : bold;
    font-family : Arial;
   /* text-shadow: 1px 1px #7f7f7f;*/
}
.spanSaveContent
{
  
    
    color: #000000;
    font-size: 12pt;
    font-weight : bold;
    font-family : Arial;
   /* text-shadow: 1px 1px #7f7f7f;*/
}
.tabOrder
{
  height: 44px;
  width : 100%;
  background :  -webkit-gradient(linear, left top, left bottom, from( #015555), to( #2496ac )); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #015555 , #2496ac ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #015555,  #2496ac); /* FF3.6 */
  
}
.tdTab
{
  height : 100%;
  width : 33%;
  background :  -webkit-gradient(linear, left top, left bottom, from( #015555), to( #2496ac )); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #015555 , #2496ac ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #015555,  #2496ac); /* FF3.6 */
  border-right : 1px solid #48d1d8;
}
.tdTabActive
{
  height : 100%;
  width : 33%;
  background :  -webkit-gradient(linear, left top, left bottom, from( #d6d8d8), to( #ffffff )); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #d6d8d8 , #ffffff ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #d6d8d8,  #ffffff); /* FF3.6 */
  border-right : 1px solid #48d1d8;
}
.spTabActive
{
  
  margin-left : 10px;
  color: #000000;
  font-size: 12pt;
  font-weight : bold;
  font-family : Arial;
  text-shadow: none;
 
}
.spanViewNotes
{
  
    margin-left : 15px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14pt;
    font-family : Arial;
    text-shadow: 1px 1px #7f7f7f;

}
.dvCriteria
{
  background : #ffffff;
  border-bottom : 1px solid grey;
}
.spanPeriod
{
    margin-left : 7%;
    
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
   /* text-shadow: 1px 1px #7f7f7f;*/
}
.cmbPeriod
{  
   margin-left : 7%;
   width : 83%;
   height : 27px;
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
    font-weight : Bold;
  background :  -webkit-gradient(linear, left top, left bottom, from( #fefefe ), to( #cecece )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #fefefe , #cecece ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #fefefe , #cecece ); /* FF3.6 */
   border : 1px solid #42a9b6;
   background: url(../images/ListArrow.png) no-repeat right;
}
.cmbOrdCriteria
{
   
    width : 80%;
    height : 27px;
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
    font-weight : Bold;
    background :  -webkit-gradient(linear, left top, left bottom, from( #fefefe ), to( #cecece )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #fefefe , #cecece ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #fefefe , #cecece ); /* FF3.6 */
    border : 1px solid #42a9b6;
    background: url(../images/ListArrow.png) no-repeat right;
}
.tbPatCriteria
{
  
    width : 75%;
    height : 20px;
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
    font-weight : Bold;
    background :  -webkit-gradient(linear, left top, left bottom, from( #ffffff ), to( #ffffff )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #ffffff, #ffffff ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #ffffff, #ffffff ); /* FF3.6 */
    border : 1px solid #42a9b6;
    -webkit-appearance: none;

 
}
 .divmain
{

 /*  background-color: #ffffff;*/
 
  height : auto;

  padding : 0px;
  overflow : auto;

  /*border : 1px solid red;*/
      
}
.divTickSheetmain
{
  height : auto;

  padding : 0px;
  overflow : auto;
}
.chkEncounter
{
  margin-left : 7%;
  width : 26px;
  height : 26px;
  border : 1px solid #00b5b5;


}
.spEncounter
{
 margin-left : 7px;
    line-height:30px;
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
   /* text-shadow: 1px 1px #7f7f7f;*/
}
.spTab
{
  
  margin-left : 10px;
  color: #ffffff;
  font-size: 12pt;
  font-family : Arial;
  text-shadow: none;
 
}
.spNotesMenu1
{
  margin-left : 15%;
  
   color: #303030;
  font-size: 12pt;
  font-family : Arial;
  font-weight : bold;
}
.spNotesContent
{
  margin-left : 1%;
  
  color: #303030;
  font-size: 12pt;
  font-family : Arial;
}
.landscape .dvOrdersContent
{
  position :relative;
  float : left;
  width : 95%;
  left : 0%;
  padding : 0px;
  overflow : auto;
  min-height : 508px;
  height:auto;
 /* background-color: #ffffff;*/


  
}
.portrait .dvOrdersContent
{
  position :relative;
  float : left;
  width : 95%;
  left : 0%;
  padding : 0px;
  overflow : auto;
  min-height : 765px;
  height:auto;
  /*background-color: #ffffff;*/
 

}


.landscape .dvOrderSave
{
  
  float : right;
  width : 5%;
  left : 95%;
  padding : 0px;
  overflow : auto;
   min-height : 508px;
  height:auto;
  /*border : 1px solid orange;*/
/*  background-color: #ffffff;*/
 
}
.portrait .dvOrderSave
{
  
  float : right;
  width : 3%;
  left : 95%;
  padding : 0px;
  overflow : auto;
   min-height : 765px;
  height:auto;
  /*border : 1px solid orange;*/
  /*background-color: #ffffff;*/
 
}
.landscape .dvSelectContents
{
  overflow : auto;
  
  min-height : 420px;
  height : auto;
  background-color: #ffffff;
}
.dvSaveArea
{
  height : 44px;
 /* border-bottom : 1px solid #d2d0d0;*/
 
}
.portrait .dvSelectContents
{
  overflow : auto;
 
  min-height : 677px;
  height : auto;
  background-color: #ffffff;
}
.landscape .dvOrderSLide
{
  
  float : right;
  width : 5%;
  left : 95%;
  padding : 0px;
  overflow : auto;
   min-height : 508px;
  height:auto;
  background-color: #ffffff;

}
.portrait .dvOrderSLide
{
  
  float : right;
  width : 5%;
  left : 95%;
  padding : 0px;
  overflow : auto;
   min-height : 765px;
  height:auto;
  background-color: #ffffff;

}

.landscape #orderFrame
{
   
    height : 464px;
    
   
    
}
.portrait #orderFrame
{
   
    height : 721px;
   
}
.landscape .dvTickSections
{
  position :relative;
  float : left;
  width : 45%;
  left : 0%;
  padding : 0px;
  overflow : auto;
  min-height : 342px;
  height:auto;
  background-color: #ffffff;
  border-right : 1px solid #078589;
 
}
.portrait .dvTickSections
{
  position :relative;
  float : left;
  width : 45%;
  left : 0%;
  padding : 0px;
  overflow : auto;
  min-height : 599px;;
  height:auto;
  background-color: #ffffff;
  border-right : 1px solid #078589;
 
}
.landscape .dvSectionItems
{
  float : right;
  width : 55%;
  left : 45%;
  padding : 0px;
  overflow : auto;
  min-height : 342px;
  height:auto;
  /*background-color: #ffffff;*/
  
  
}
.portrait .dvSectionItems
{
  float : right;
  width : 55%;
  left : 45%;
  padding : 0px;
  overflow : auto;
  min-height : 599px;
  height:auto;
  /*background-color: #ffffff;*/
  
  
}
.landscape .tickSheetFrame
{
  min-height : 342px;
}
.portrait .tickSheetFrame
{
  min-height : 599px;
}
.dvsecItems
{
  height : auto;
  overflow : auto;
  background-color: #ffffff;
}
.trNotesMenu
{
  height : 40px;
}
.tdNotesMenu
{
  height : 40px;
  border-bottom : 1px solid white;
}
.btnType1{
         height : 30px;
         
       margin-left : 10%;
        background :   -moz-linear-gradient( #015555 , #2496ac ); 
        background :  -webkit-gradient(linear, left top, left bottom, from( #015555 ), to( #2496ac )); /* Saf4+, Chrome */
        background : -webkit-linear-gradient( #015555 , #2496ac ); /* Chrome 10+, Saf5.1+ */
        border:1px solid #48d1d8;
        border-radius:5px;
        -moz-border-radius:5px;
       font-family: Arial;
	font-size: 12pt;
       color : #ffffff;
       /* margin-left : 25px;*/
        

    }
.TbNotesMenu
{
  background-color : #e3e1e1
 
}
.resultPageHeader {
	height: 44px;
	/*width : 100%;*/
	background: -webkit-gradient(linear, left top, left bottom, from(#48cbcb),
		to(#27707e) ); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(#48cbcb, #27707e);
	/* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(#48cbcb, #27707e); /* FF3.6 */
	/*border : 1px solid #48d1d8;*/
	border: 1px solid #48d1d8;
}
.buttonStyle {
Button Width : Variable; 
Height : 30px; 	 
Color:  #303030; 

	background: #e2e2e2; 
background: url(data:image/svg
+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSI
gdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI
+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJS
IgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc
3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2QxZDFkMSIgc3RvcC1vcGFjaXR5PSIx
Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ
+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop
(51%,#d1d1d1), color-stop(100%,#fefefe)); 
background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); 
background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
	border:#b3b3b3 1px solid;
	font: Arial 12px normal;
	padding-left:5px;
	padding-right:5px;
	Padding-top:3px;
	Padding-bottom:3px;

	
}
.resultTextStyle{
	line-height:44px;
	margin-left:18px;
	font-weight:bold;
	color:#ffffff;
	font-size:12pt;
	font-family:Arial;
	text-shadow: 1px 1px #7f7f7f;
}
.btnType1{

         height : 30px;
         
      
        background :   -moz-linear-gradient( #015555 , #2496ac ); 
        background :  -webkit-gradient(linear, left top, left bottom, from( #015555 ), to( #2496ac )); /* Saf4+, Chrome */
        background : -webkit-linear-gradient( #015555 , #2496ac ); /* Chrome 10+, Saf5.1+ */
        border:1px solid #48d1d8;
        border-radius:5px;
        -moz-border-radius:5px;
       font-family: Arial;
	font-size: 12pt;
       color : #ffffff;
       margin-right : 2%;

        

    }
.tbSave
{
   background-color : #ffffff;
   border-top : 1px solid  #d2d0d0;
}

.spanResultContentExisting
{
	text-wrap: unrestricted;
    color: #000000;
    font-size: 12pt;
    font-weight : bold;
    font-family : Arial;
    margin-left:3px;
    margin-right:3px;
   /* text-shadow: 1px 1px #7f7f7f;*/
}
.resultTextStyleExisting{
	text-wrap: unrestricted;
	line-height:44px;
	margin-left:3px;
	margin-left:3px;
	font-weight:bold;
	color:#ffffff;
	font-size:10pt;
	font-family:Arial;
	text-shadow: 1px 1px #7f7f7f;
}

.buttonHighlight
{
background: #99eef0; /* Old browsers */ 
/* IE9 SVG, needs conditional override of 'filter' to 'none' */ 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5ZWVmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzdhZTJlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzcyZDVkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NWU5ZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); 
background: -moz-linear-gradient(left, #99eef0 0%, #7ae2e6 50%, #72d5d7 51%, #95e9eb 100%); /* FF3.6+ */ 
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#99eef0), color-stop(50%,#7ae2e6), color-stop(51%,#72d5d7), color-stop(100%,#95e9eb)); /* Chrome,Safari4+ */ 
background: -webkit-linear-gradient(left, #99eef0 0%,#7ae2e6 50%,#72d5d7 51%,#95e9eb 100%); /* Chrome10+,Safari5.1+ */ 
background: -o-linear-gradient(left, #99eef0 0%,#7ae2e6 50%,#72d5d7 51%,#95e9eb 100%); /* Opera 11.10+ */ 
background: -ms-linear-gradient(left, #99eef0 0%,#7ae2e6 50%,#72d5d7 51%,#95e9eb 100%); /* IE10+ */ 
background: linear-gradient(to right, #99eef0 0%,#7ae2e6 50%,#72d5d7 51%,#95e9eb 100%); /* W3C */ 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99eef0', endColorstr='#95e9eb',GradientType=1 ); /* IE6-8 */ 
Border : 1px solid  #c8c8c8; 
}

.resultPageHeaderTickSheet{
	height: 44px;
	/*width : 100%;*/
	background: -webkit-gradient(linear, left top, left bottom, from(#48cbcb),
		to(#27707e) ); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(#48cbcb, #27707e);
	/* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(#48cbcb, #27707e); /* FF3.6 */
	/*border : 1px solid #48d1d8;*/
	border: 1px solid #48d1d8;
	overflow:hidden;
	padding-bottom: 3px;
}
