.dvViewNotes
{
    height:44px;
    /*width : 100%;*/
 
    background :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #48cbcb , #27707e ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #48cbcb , #27707e ); /* FF3.6 */
    /*border : 1px solid #48d1d8;*/
     /*border : 1px solid #48d1d8; */ 
  
}
.spanViewNotes
{
  
    margin-left : 15px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14pt;
    font-family : Arial;
    text-shadow: 1px 1px #7f7f7f;

}
.dvCriteria
{
  background : #ffffff;
  border-bottom : 1px solid grey;
}
.spanPeriod
{
    margin-left : 7%;
    
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
   /* text-shadow: 1px 1px #7f7f7f;*/
}
.cmbPeriod
{  
margin-left : 7%;
   width : 83%;
   height : 27px;
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
    font-weight : Bold;
  background :  -webkit-gradient(linear, left top, left bottom, from( #fefefe ), to( #cecece )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #fefefe , #cecece ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #fefefe , #cecece ); /* FF3.6 */
   border : 1px solid #42a9b6;
   background: url(../images/ListArrow.png) no-repeat right;
}
 .divmain
{

  /* background-color: white;*/
 
  height : auto;

  padding : 0px;
  overflow : auto;

  /*border : 1px solid red;*/
      
}
.chkEncounter
{
  margin-left : 7%;
  width : 26px;
  height : 26px;
  border : 1px solid #00b5b5;


}
.spEncounter
{
 margin-left : 7px;
    line-height:30px;
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
   /* text-shadow: 1px 1px #7f7f7f;*/
}
.spNotesMenu
{
  margin-left : 5%;
 
  color: #303030;
  font-size: 12pt;
  font-family : Arial;
  font-weight : bold;
}
.spNotesMenu1
{
  margin-left : 15%;
  
   color: #303030;
  font-size: 12pt;
  font-family : Arial;
  font-weight : bold;
}
.spNotesContent
{
  margin-left : 1%;
  
  color: #303030;
  font-size: 12pt;
  font-family : Arial;
}
.landscape .dvNotesMenu
{
  position :relative;
  float : left;
  width : 30%;
  left : 0%;
  padding : 0px;
  overflow : auto;
  min-height : 421px;
  height:auto;
background-color: #e3e1e1;
/*background-color: red;*/

  
}
.portrait .dvNotesMenu
{
  position :relative;
  float : left;
  width : 30%;
  left : 0%;
  padding : 0px;
  overflow : auto;
  min-height : 677px;
  height:auto;
  background-color: #e3e1e1;

}
.landscape #notesContentFrame
{
   
    height : 421px;
    
   
    
}
.portrait #notesContentFrame
{
   
    height : 677px;
   
 
    
}

.dvNotesContent
{
 
  float : right;
 width : 70%;
  left : 30%;
  padding : 0px;
  overflow : auto;
  height:auto;
  /*border : 1px solid orange;*/
  background-color: #ffffff;
}
.trNotesMenu
{
  height : 40px;
}
.tdNotesMenu
{
  height : 40px;
  border-bottom : 1px solid white;
}
.btnType1{
         height : 30px;
         
       margin-left : 10%;
        background :   -moz-linear-gradient( #015555 , #2496ac ); 
        background :  -webkit-gradient(linear, left top, left bottom, from( #015555 ), to( #2496ac )); /* Saf4+, Chrome */
        background : -webkit-linear-gradient( #015555 , #2496ac ); /* Chrome 10+, Saf5.1+ */
        border:1px solid #48d1d8;
        border-radius:5px;
        -moz-border-radius:5px;
       font-family: Arial;
	font-size: 12pt;
       color : #ffffff;
       /* margin-left : 25px;*/
        

    }
.TbNotesMenu
{
  background-color : #e3e1e1
 
}