.dvRecordChart
{
    height:44px;
    /*width : 100%;*/
 
    background :  -webkit-gradient(linear, left top, left bottom, from( #48cbcb ), to( #27707e )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #48cbcb , #27707e ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #48cbcb , #27707e ); /* FF3.6 */
    /*border : 1px solid #48d1d8;*/
     border : 1px solid #48d1d8;  
  
}

.CFirstCol
{
  width : 52%;
  height : 100%;
}
.CSecCol
{
  width : 38%;
  height : 100%;
}
.CThirdCol
{
  width : 10%;
  height : 100%;
}

.dvCriteria
{
  background : #ffffff;
  border-bottom : 1px solid grey;
}
.spanFilterBy
{
    margin-left : 7%;
    
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
   
}
.cmbFilterBy
{
    margin-left : 7%;
    width : 83%;
    height : 27px;
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
    font-weight : Bold;
    background :  -webkit-gradient(linear, left top, left bottom, from( #fefefe ), to( #cecece )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #fefefe , #cecece ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #fefefe , #cecece ); /* FF3.6 */
    border : 1px solid #42a9b6;
    background: url(../images/ListArrow.png) no-repeat right;
}
.landscape .divmain
{


 /*  background-color: orange;*/
 
  
  
  

  min-height : 512px;
  height : auto;
  overflow : auto;
 padding : 0px;
  border-bottom : 2px solid #48d1d8; 
    
    
}
.portrait .divmain
{


 /*  background-color: orange; */
 
  
   
    height : auto;
  overflow : auto;

  min-height : 768px;

 padding : 0px;
  border-bottom : 2px solid #48d1d8; 
    
    
}
.dvChartFields
{
    height : auto;

    padding : 0px;

   
}
.spanRecordChart
{
  
    margin-left : 15px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14pt;
    font-family : Arial;
    text-shadow: 1px 1px #7f7f7f;

}
.spChartHeader
{
	
    margin-left : 15px;
    font-weight: bold;
    color: #ffffff;
    font-size: 12pt;
    font-family : Arial;   
}
.spChartRow
{
	
    margin-left : 15px;
    font-weight: bold;
    color: #000000;
    font-size: 12pt;
    font-family : Arial;   
}
.trChartRows1
{
	height : 40px;
        background: #ffffff;
	
}
.trChartRows2
{
	height : 40px;
        background: #cccccc;
	
}
.trChartGroup
{
  height : 40px;
  background: #48cbcb;
}
.txtChart
{

  width : 80%;
  height : 25px;
  margin-left : 15px;
  color: #303030;
  font-size: 12pt;
  font-family : Arial;
  font-weight : Bold;

  background :  -webkit-gradient(linear, left top, left bottom, from( #fefefe ), to( #cecece )); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #fefefe , #cecece ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #fefefe , #cecece ); /* FF3.6 */
  border : 1px solid #42a9b6;

 
}
.txtChartD
{
  width : 45%;
  height : 25px;
  margin-left : 15px;
  color: #303030;
  font-size: 12pt;
  font-family : Arial;
  font-weight : Bold;

  background :  -webkit-gradient(linear, left top, left bottom, from( #fefefe ), to( #cecece )); /* Saf4+, Chrome */
  background : -webkit-linear-gradient( #fefefe , #cecece ); /* Chrome 10+, Saf5.1+ */
  background :   -moz-linear-gradient( #fefefe , #cecece ); /* FF3.6 */
  border : 1px solid #42a9b6;

}
.btnTypeD{
         height : 28px;
         width : 18%;
      
        background :   -moz-linear-gradient( #015555 , #2496ac ); 
        background :  -webkit-gradient(linear, left top, left bottom, from( #015555 ), to( #2496ac )); /* Saf4+, Chrome */
        background : -webkit-linear-gradient( #015555 , #2496ac ); /* Chrome 10+, Saf5.1+ */
        border:1px solid #48d1d8;
        border-radius:5px;
        -moz-border-radius:5px;
       font-family: Arial;
	font-size: 12pt;
       color : #ffffff;
       /* margin-left : 25px;*/
text-align : left;
        

    }
.btnTypeA{
         height : 28px;
         width : 15%;
      
        background :   -moz-linear-gradient( #015555 , #2496ac ); 
        background :  -webkit-gradient(linear, left top, left bottom, from( #015555 ), to( #2496ac )); /* Saf4+, Chrome */
        background : -webkit-linear-gradient( #015555 , #2496ac ); /* Chrome 10+, Saf5.1+ */
        border:1px solid #48d1d8;
        border-radius:5px;
        -moz-border-radius:5px;
       font-family: Arial;
	font-size: 12pt;
       color : #ffffff;
       /* margin-left : 25px;*/
        

    }
.cmbChart
{
   margin-left : 15px;
   width : 87%;
   height : 27px;
    color: #303030;
    font-size: 12pt;
    font-family : Arial;
    font-weight : Bold;
    background :  -webkit-gradient(linear, left top, left bottom, from( #fefefe ), to( #cecece )); /* Saf4+, Chrome */
    background : -webkit-linear-gradient( #fefefe , #cecece ); /* Chrome 10+, Saf5.1+ */
    background :   -moz-linear-gradient( #fefefe , #cecece ); /* FF3.6 */
   border : 1px solid #42a9b6;
   background: url(../images/ListArrow.png) no-repeat right;
}
.chkChart
{
  margin-left : 15px;
  width : 26px;
  height : 26px;
  border : 1px solid #00b5b5;


}
.dvRecordControls
{
  height : 40px;
  background : #ffffff;
  
}
.tbRecordControls
{
  width : 100%;
  height : 100%;
  
}
.trRecordControls
{
  width : 100%;
  height : 100%;

}
.btnType1{
         height : 30px;
         
      
        background :   -moz-linear-gradient( #015555 , #2496ac ); 
        background :  -webkit-gradient(linear, left top, left bottom, from( #015555 ), to( #2496ac )); /* Saf4+, Chrome */
        background : -webkit-linear-gradient( #015555 , #2496ac ); /* Chrome 10+, Saf5.1+ */
        border:1px solid #48d1d8;
        border-radius:5px;
        -moz-border-radius:5px;
       font-family: Arial;
	font-size: 12pt;
       color : #ffffff;
       /* margin-left : 25px;*/
        

    }
