#tickSheetHeaderContainer
{
	width:auto;
	height:auto;
	display:table;

}
#tickSheetHeaderRow
{
	display:table-row;
	height:35px;
}
#tickSheetHeaderRightarrowcell
{
	display:table-cell;
}
#tickSheetHeaderRightarrowcelltree
{
	display:table-cell;
	background-color:#a2e2e2;
}
#tickSheetHeaderArrow-right 
{
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent; 
	border-left: 20px solid #2d7f8b;
	border-bottom: 25px solid transparent; 
}
#tickSheetHeaderContentcell
{
	display:table-cell;
	width:auto;
	background: #034a54; 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzNGE1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZDdmOGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #034a54 0%, #2d7f8b 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#034a54), color-stop(100%,#2d7f8b)); 
	background: -webkit-linear-gradient(left, #034a54 0%,#2d7f8b 100%);
	background: -o-linear-gradient(left, #034a54 0%,#2d7f8b 100%);
	background: -ms-linear-gradient(left, #034a54 0%,#2d7f8b 100%);
	background: linear-gradient(to right, #034a54 0%,#2d7f8b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#034a54', endColorstr='#2d7f8b',GradientType=1 );
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-shadow: none;
	color:#FFF;
	vertical-align:middle;
	padding-left:10px;
}
	
#tickSheetHeaderContentarea
{
width:auto;
}
#tickSheetHeaderRightarrowcell01
{
	display:table-cell;
}
#tickSheetHeaderArrow-right01
{
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent; 
	border-left: 20px solid #a2e2e2;
	border-bottom: 25px solid transparent; 
}
#tickSheetHeaderContentcell01
{
	display:table-cell;
	width:auto;
	background-color:#a2e2e2;
 	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#232d2f;
	vertical-align:middle;
	padding-left:10px;
	text-shadow: none;
}
	
#tickSheetHeaderContentarea01
{
	width:auto;
}
