/* Column Layout */
.ordListcontainer {
    height: 90%;
    position: absolute;
}

.ordItemscroller {
    position: absolute;
    z-index: 1;   
    width: auto;
    height: 100%;
    
}
.ordListcontainer ul {
    display: block;
    list-style-type: none;
   
}

.ordListColWrap .ordListcol {
    vertical-align: top;
    padding-left: 6px;
    padding-Top: 3px;
}
.ordListColItem{
	 list-style-type: none;
	
}
.ordListcontainer li {
	list-style-type: none;
    list-style: none;
    padding: 0px;
}

.ordListcol {
    display:table-cell;
    vertical-align: top;
    padding-left: 6px;
    padding-Top: 3px;
}

.ordItemText{
	word-wrap: break-word;
	line-height: normal;
	height: 46px;
	width: 125px;
	text-align: left;
	vertical-align: middle;max-width:125px;max-height:46px;overflow:hidden;
	display: table-cell
}


.rxBuble{
 height:63px;	
 width :225px;
 border: 1px solid #e4e8ec; ;
 border-radius: 3px;
 background-color:#fff ;
 box-shadow: 0px 0px 2px #d3dae0;
 margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 3px;
}

.rxBubleSlotOne{
	 height:95px;
}

.rxBubleDrugType{
    height: 33px;
    width: 50px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
	letter-spacing: -0.5px;
}
.rxBubleSlotTwo{
	 height:197px;
}

.rxBubleTable{
	
	display: table;
}

.rxBubleRow{
	    display: table-row;
	
}

.rxBubleCellContent{
	padding: 0 3px 0 3px;
	vertical-align: middle;
	width:207px;
	text-align:center;
	height: 65px;
	display: table-cell;
}



.rxBubleCellContentDesc{
	height: 62px;
}

.rxBubleCellContentCrx{
	    height: 32px;
}

.rxBubleLableDrugFreqCrx {
    font-family: "Segoe UI Semibold";
    color: #58899d;
    vertical-align: middle;
    font-size: 9px;
    line-height: 13px;
    /* padding-right: 26px; */
    margin-left: 18px;
    margin-top: 6px;
    word-break: break-word;
}



.rxBubleCellContentDtl{
	padding: 0 3px 0 3px;
	vertical-align: middle;
	width:207px;
	text-align:center;
	height: 32px;
	display: table-cell;
}





.rxBubleCellContentTime{
	height: 32px;
    border-top: 1px solid #e4e8ec;
}

.rxBubleCellContentBubble{
    width: 24px;
    height: 32px;
    float: left;
    line-height: 32px;
    vertical-align: middle;
}

.rxBubleCellContentType{
	font-family: "Segoe UI";
    font-weight: 700;
    width:50px;
    height: 32px;
    float: left;
    vertical-align: middle;
	word-wrap: break-word;
	font-size:7px;
	color:#acacac;
	text-align:left;
    padding-left: 3px;	
}
.toStyleCssPrevOrders{
	vertical-align:middle;
	padding:7px 0px 5px 0px;
	color: #7b849f;
	font-size:13px;
	font-family:Segoe UI;
}
.rxBubleCellStatusCheck
{
	position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #d1d4d9;
    border-radius: 10px;
    margin: 4px 0px 0px 14px;   
}

.rxBubleCellStatusCheckDiscontinued
{	
    background-color: #02a8f4;	
}
.rxBubleCellStatusCheckCancel
{	
    background-color: #ffa403;		
}

.drugItemSeperator{
	height: 39px;
	width: 100%;
	display: inline-flex;
	justify-content: center;   
	align-items: center;
}
.rxBubleCellBubbleContent{
	font-family: "Segoe UI";
    font-weight: 700;
	display: inline-flex;
    width: 24px;
    height: 24px;
    background-color: #e9ecf1;
    font-size: 11px;
    text-align: center;
    color: #5e5e5e;
    border-radius: 24px;   
    justify-content: center;
    align-items: center;
	}
.rxBubleLableDrugFreq{
   font-family: "Segoe UI Semibold";
    color: #58899d;
    vertical-align: middle;
    font-size: 9px;
    line-height: 13px;    
    word-break: break-word;
	}
.rxBubleCellIconInStock{
	border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
	line-height: 65px;
	vertical-align: middle;
    display: table-cell;
	text-align:center;
	width:18px;
	height: 65px;
	background-color: #f4f5f8;
	
}

.rxBubleCellIconOutStock{
	border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
	line-height: 65px;
	vertical-align: middle;
    display: table-cell;
	text-align:center;
	width:18px;
	height: 65px;
	background-color: #f5ddde;
	
}


.rxBubleCellIconImg{
	
	background-image: url(/eHIS/eIPAD/images/Drag25x25.png);
	background-repeat: no-repeat;
}


.rxBubleLable{
	font-family:"Segoe UI";
	color:#19759a; 
	vertical-align: middle;
	font-size:13px;
	line-height:13px;
	font-weight: bold;
	word-break:break-word;
	-webkit-font-smoothing: antialiased;
    letter-spacing: -0.8px;
    font-weight: 600;
}

.txtContent
{
    padding-left:5px;
}

/* Column Layout Ends */