 

.table {
	display: table;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
}
.slSfsHeader{
    width:100%;
	vertical-align:middle;
	
}

.slSfsHeaderText{
	Padding-left:10px;
	height:40px;
	vertical-align:middle;	
}

.slSfsDivText{
    Padding-left:10px;
	height:40px;
	vertical-align:middle;	
}

.slSfsTabText{
	width:100%;
	height:37px;
	vertical-align:middle;
	text-align:center;
}
.slSfsHeaderCell{
	width:40px;
	height:40px;
	vertical-align:middle;
	text-align:center;
}
.slSfsSearchIcon{	
	height: 37px;
	width: 38px;
	background:#dbdbdb;
    vertical-align:middle;
	text-align:center;
	border-radius:3px;
	margin-right:4px;
}
.enableSlSfsSearchIcon{	
	height: 37px;
	width: 38px;
    vertical-align:middle;
	text-align:center;
	border-radius:3px;
	margin-right:4px;
	-moz-box-shadow: inset 0px 1px 0px 0px #2eadd4;
    -webkit-box-shadow: inset 0px 1px 0px 0px #2eadd4;
    box-shadow: inset 0px 1px 0px 0px #2eadd4;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #18a4cf), color-stop(1, #127fba) );
    background: -moz-linear-gradient( center top, #18a4cf 5%, #127fba 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#18a4cf', endColorstr='#127fba');
    background-color: #18a4cf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.slSfsViewItemText{
	padding-left:10px;
	height:38px;
	vertical-align:middle;
	text-align:left;
	width: 92%;
}
.slSfsViewItemTextPract{
	padding-left:10px;
	height:35px;
	vertical-align:middle;
	text-align:left;
	width: 92%;
}
.slSfsViewItemTextSmall{
	height:15px;
	vertical-align:middle;
	text-align:left;
	width: 100%;
}
.slSfsDivLevelTxtBox{
	border: 0px;
	-webkit-appearance: none; 
	/* padding-bottom: 4px; */
	width:92%;
	height:90%;
	padding-left:5px;
}
.slSfsTxtBox{
	border: 0px;
	-webkit-appearance: none; 
	width:92%;
	height:90%;
}
.slSfsTextBoxCloseButton
   {
   		position : relative;
   		width : 18px;
   		height : 18px;
   		border-radius: 10px;
	   -moz-border-radius: 10px;
	   -webkit-border-radius: 10px;
	    background: #dbdbdb;
	    vertical-align:middle;
	    text-align:center;
 }
.slSfsarrow
{
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
}
.slSfsMainTextBox{
	
	border-style: solid;

	border-radius: 3px;
	border-width: 1px;
	border-color: #f1f1f1;
	box-shadow: inset 0px 0px 2px 1px #ededed;
	height:34px;
	margin:4px;
	width:94%; 

}
.slSfsTick
{
	display:none;
}
.slSfsTickVisibleSP
{
    width: 5px;
    height: 11px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-bottom: 2px solid #1496cc;
	border-right: 2px solid #1496cc;
}
.slSfsTickVisiblePR
{
    width: 5px;
    height: 11px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-bottom: 2px solid #1496cc;
	border-right: 2px solid #1496cc;
}
.slSfsTickVisibleNU
{
    width: 5px;
    height: 11px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-bottom: 2px solid #1496cc;
	border-right: 2px solid #1496cc;
}
.slSfsInlineBlock{
  display: inline-block;
  width: Auto;
  height: 22px;
  margin: 2px;
  border-radius: 2px;
  padding-left: 5px;
}

.slSfsInlineBlockCell{
	Width: auto; 
	padding: 3px; 
}

.slSfsInlineBlockClose{
	Width :18px; 
	height :22px; 
	text-align: center;
}
.slSfsInlineBlockText{
	display: inline-block;
	margin: 2px;
	padding-bottom: 8px;
	vertical-align:middle;
}
.slSfsAfterSelection{
	background:#ffffff; 	
	width:100%;
}
.slSfsDivShadow
{
	width:95%;
	height:90%;
	margin:4px;
	vertical-align: middle; 
	text-align:center; 
	background: #ffffff;
	color: #797979;
	-moz-box-shadow: 0 2px 4px #bbb inset;
	-webkit-box-shadow: 0 0px 2px #CACACA inset;
	box-shadow: 0 0px 2px #CACACA inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-top: #bfbfbf 1px solid;
}

#slSfsWrapperSP {
	z-index: 1;
	left: 0;
	width: 100%;
	overflow: hidden;
	position:relative;
	 min-height: 40px;
    max-height: 150px;
}

#slSfsScrollerSP {
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height:auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	overflow:auto;
}
#slSfsWrapperPR {
	z-index: 1;
	left: 0;
	width: 100%;
	overflow: hidden;
	position:relative;
	/* min-height: 40px; */
    max-height: 150px;
}

#slSfsScrollerPR {
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height:auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	overflow:auto;
}
#slSfsWrapperNU {
	z-index: 1;
	left: 0;
	width: 100%;
	overflow: hidden;
	position:relative;
	min-height: 40px;
    max-height: 150px;
}

#slSfsScrollerNU {
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height:auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	overflow:auto;
}
#slSfsWrapperMain {
	z-index: 1;
	left: 0;
	width: 100%;
	overflow: hidden;
	position:absolute;
	height:100%;  
	background-color: #eaedf2;
}
#slSfsScrollerMain {
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height:auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	overflow:auto;
	position:absolute;
}
.sfsReloadDefault{
	opacity:0.3;
}
.slSfsSearchBox
{
	
	height:100%; 
	width:100%; 
	vertical-align: middle; 
	text-align:center;
}
.slSfsCategoryBlock
{
	margin-left:4px; 
	margin-right:4px; 
	margin-top:4px; 
	background:#ffffff; 
	
}
.slSfsCategorySearchBox
{
	
	height:100%;
	width:100%; 
	vertical-align: middle; 
	text-align:center; 
	padding-top:5px;
}
.slSfsListTick
{
	background:#ffffff; 
	width:20px; 
	vertical-align: middle;
	text-align: center;
	margin: 8px;
	border-bottom: 1px solid #f6f6f6;
}
.slSfsCategoryViewMore
{
 width:100%;
 height:100%; 
/*  margin-left: 2px; 
 margin-right: 2px;  */
 background:#ffffff; 
}
.slSfsNormalView
{
/* height: 150px; */
width: 100%;
}



/* slSfsTheme */

.slSfsHeaderTheme{
	background: #2d80a3;
	background: -webkit-gradient(linear, left top, left bottom, from( #2d80a3 ), to( #096b93 ));
    background: -webkit-linear-gradient( #2d80a3 , #096b93 );
    background: -moz-linear-gradient( #2d80a3 , #096b93 );
}
.slSfsHeaderTextTheme{
	color: #fff;
    font-size: 14px;
    font-family: arial;
    font-weight: bold;
    text-shadow: 1px 1px #07232e;
}
.slSfsTabTextTheme{
	font-size:12px;
	font-family:arial;
	color: #ababab;
	border-top: 1px solid #f6f6f6;
}
.slSfsDivTextTheme{
	font-size:14px;
	font-family:arial;
	color:#03415a;
}

.slSfsInlineBlockTheme{
  background:  #b9b9b9;
}
.slSfsInlineBlockCellTheme{
	font-size: 12px; 
	font-family: Arial;
    color: #ffffff;

}
.slSfsInlineBlockTextTheme{
	font-family: Arial;
	font-size: 13px;
	color: #d2d4d8;
}
/*changed*/
.SLSfsCircleVisibleTheme{
    width: 10px;
    height: 10px;
    background: #1496cc;
    border-radius: 10px;
	margin-right: 8px;
}
.iScrollVerticalScrollbar{
	opacity:0.5;
}
#slSfsWrapperMain .slSfsHeaderCell.slSfsarrow{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
#slSfsWrapperMain .slSfsHeaderCell{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
/* //abc code */

#slSfsWrapperMain .filterTextWrap {
    margin-bottom: 2px;
    margin-top: 2px;
    width: 100%;
}

#SLSfsWrapperNT {
    z-index: 1;
    left: 0;
    width: 100%;
    min-height: 40px;
    max-height: 150px;
    overflow: hidden;
    position: relative;
}

#Wrapper1 {
    z-index: 1;
    left: 0;
    width: 100%;
    min-height: 40px;
    max-height: 150px;
    overflow: hidden;
    position: relative;
}
#IPspecialityWrapper{
	z-index: 1;
    left: 0;
    width: 100%;
    min-height: 40px;
    max-height: 150px;
    overflow: hidden;
    position: relative;
	
}

#IPPractitionerWrapper{
	z-index: 1;
    left: 0;
    width: 100%;
    min-height: 40px;
    max-height: 150px;
    overflow: hidden;
    position: relative;
	
}



#IPNuresingUnitWrapper{
	z-index: 1;
    left: 0;
    width: 100%;
    min-height: 40px;
    max-height: 150px;
    overflow: hidden;
    position: relative;
	
}

.SLSfsDivTextTheme {
    font-size: 14px;
    font-family: arial;
    color: #03415a;
}
.SLSfsDivText {
    Padding-left: 10px;
    height: 40px;
    vertical-align: middle;
}
.SLSfsCategoryBlock {
    background: #ffffff;
}
.SLSfsCategoryBlock {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
}

.clearFilter {
    font-size: 10px;
    margin-left: 5px;
    color: #d3c9c9;
}

.SLSfsDivTextTheme {
    font-size: 14px;
    font-family: arial;
    color: #03415a;
}

.searchByNotes {
    float: right;
    pointer-events: none;
}

.SLSfsDivTextTheme {
    font-size: 14px;
    font-family: arial;
    color: #03415a;
}

.searchByNotes {
    float: right;
    pointer-events: none;
}

.SLSfsHeaderCellTab {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
}


.slSfsViewItemTextTheme{
	font-size: 13px;
    font-family: Arial;
    color:#797b7c;
    background: #ffffff;
    word-break:break-all;
    border-bottom: 1px solid #f6f6f6;
}
.slSfsViewItemTextPractTheme{
	font-size: 13px;
    font-family: Arial;
    color:#797b7c;
    background: #ffffff;
    word-break:break-all;
    border-bottom: 1px solid #f6f6f6;
}
.slSfsViewItemTextSmallTheme{
	font-size: 10px;
    font-family: Arial;
    color:#797b7c;
    background: #ffffff;
    word-break:break-all;
}

.SLSfsListTickTheme {
    background: #ffffff;
    border-bottom: 1px solid #f6f6f6;
}
.SLSfsListTickPractTheme {
    background: #ffffff;
    text-align: center; 
    vertical-align: middle;
    border-bottom: 1px solid #f6f6f6;
}
.SLSfsListTick {
    width: 20px;
    vertical-align: middle;
    text-align: center;
    margin: 8px;
}
#SLSfsScrollerNT {
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    height: auto;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    overflow: auto;
}
.disabledRow .slSfsDivTextTheme,.disabledRowRecords .slSfsDivTextTheme{
	    color: #d3c9c9;
		pointer-events:none;
}
.disabledRowRecords{
	pointer-events:none;
}
