/* (c) Dynarch.com 2003-2006. All Rights Reserved. */

@import url("navbar.css");

.menuholder {
  width: 100%;
  background-color: #E2E3F0;
}

.menubar {
  padding-top: 1px;
  padding-bottom: 1px;
}

.menubar a, .menubar a:visited { color: #00f; }
.menubar a:hover { color: #c80; }

.menubar .control { display: none; }

.menubar .title {
  font: bold 11px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  border: none;
  width: 250px;
  height: 25px;
  color: white;
  -moz-border-radius: 0;
}

.menubar .title-hilite {
  color: #428eff;
}

.menubar .active-section-title {
  background-image: url("sec-title-hilite.gif");
  color: #fff;
}

.menubar .title .img {
  opacity: 1;
  -moz-opacity: 1;
  width: 21px;
  height: 21px;
}

.menubar .section {
  width: 250px;
}

.menubar .section .body {
  background-color:#E2E3F0 ;
  color: #000;
  border: 1px solid #9999FF;
  border-width: 0 1px 1px 1px;
  -moz-border-radius: 0;
  padding: 1px;
}

.menubar .section .body .item,
.menubar .section .body .item td {
  color: #637dde;
}

.menubar .section .body .item .link {
}

.menubar .section .body .item .image { color: #000; }

.menubar .section .body .item-hilite .link {
  padding: 1px 1px 1px 1px;
  background: none;
  border: none;
  text-decoration: underline;
  color: #428eff;
}

.menubar .space { margin-bottom: 1px; }



.menubar .section .body table tr.separator td div,
.menubar .section .body div.separator {
  height: 2px;
  background: url("sep.gif") no-repeat 50% 50%;
  border: none;
}
