BODY { 
      background-color:#ffffff; 
      font-family:"Trebuchet MS"  , sans-serif; 
      color:#000000;  }
H1 { 
    font-weight:bold; 
    x-next-type:H1; 
    font-family:"Trebuchet MS"  , sans-serif; 
    background-color:#555555; 
    color:#ffffff; 
    font-size:14pt;  }
LI.kadov-H1 { 
             font-weight:bold; 
             font-family:"Trebuchet MS"  , sans-serif; 
             color:#ffffff; 
             font-size:14pt;  }
H2 { 
    font-weight:bold; 
    x-next-type:H2; 
    font-size:12pt; 
    font-family:"Trebuchet MS"  , sans-serif; 
    color:#00007f; 
    x-text-underline:Normal; 
    text-transform:none; 
    text-decoration:underline;  }
LI.kadov-H2 { 
             font-weight:bold; 
             font-size:12pt; 
             font-family:"Trebuchet MS"  , sans-serif; 
             color:#00007f; 
             x-text-underline:Normal; 
             text-transform:none; 
             text-decoration:underline;  }
H3 { 
    font-weight:bold; 
    font-size:11pt; 
    font-family:"Trebuchet MS"  , sans-serif; 
    color:#000000;  }
LI.kadov-H3 { 
             font-weight:bold; 
             font-size:11pt;  }
H4 { 
    font-weight:bold; 
    font-size:12.0pt; 
    font-family:"Trebuchet MS"  , sans-serif; 
    color:#000000;  }
LI.kadov-H4 { 
             font-weight:bold; 
             font-size:12.0pt;  }
H5 { 
    font-weight:bold; 
    font-size:10.0pt; 
    font-family:"Trebuchet MS"  , sans-serif; 
    color:#000000;  }
LI.kadov-H5 { 
             font-weight:bold; 
             font-size:10.0pt;  }
H6 { 
    font-weight:bold; 
    font-size:8.0pt; 
    font-family:"Trebuchet MS"  , sans-serif; 
    color:#000000;  }
LI.kadov-H6 { 
             font-weight:bold; 
             font-size:8.0pt;  }
P { 
   font-size:12.0pt; 
   margin-top:1pt; 
   margin-bottom:1pt; 
   font-family:"Trebuchet MS"  , sans-serif; 
   color:#000000;  }
LI.kadov-P { 
            font-size:12.0pt;  }
A.expandspot { 
              cursor:hand; 
              x-text-underline:off; 
              x-text-overline:off; 
              x-text-line-through:off; 
              font-weight:bold; 
              font-style:italic; 
              color:#008080; 
              text-decoration:none none none;  }
SPAN.expandtext { 
                 font-style:italic; 
                 font-weight:normal; 
                 font-family:"Trebuchet MS"  , sans-serif; 
                 color:#0000ff; 
                 font-size:7pt;  }
A.dropspot { 
            cursor:hand; 
            x-text-underline:off; 
            x-text-overline:off; 
            x-text-line-through:off; 
            font-weight:normal; 
            font-style:normal; 
            color:#800000; 
            font-size:10pt; 
            x-on-hover:fontchange(color=#ff0000); 
            text-decoration:none none none;  }
A.glossterm { 
             color:#800000; 
             cursor:hand; 
             font-style:italic; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             text-decoration:none none none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px; 
    font-family:"Trebuchet MS"  , sans-serif; 
    color:#000000;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px; 
    font-family:"Trebuchet MS"  , sans-serif; 
    color:#000000;  }
P.Italic { 
          font-size:10pt; 
          font-style:italic; 
          font-family:"Trebuchet MS"  , sans-serif; 
          background-color:#cdd9f5; 
          color:#000000; 
          margin-bottom:9pt; 
          text-align:Justify; 
          font-weight:normal;  }
LI.kadov-P-CItalic { 
                    font-size:10pt; 
                    font-style:italic; 
                    font-family:"Trebuchet MS"  , sans-serif; 
                    color:#000000; 
                    text-align:Justify; 
                    font-weight:normal;  }
P.Bold { 
        font-size:10pt; 
        font-weight:bold; 
        font-style:normal; 
        font-family:"Trebuchet MS"  , sans-serif; 
        color:#00007f;  }
LI.kadov-P-CBold { 
                  font-size:10pt; 
                  font-weight:bold; 
                  font-style:normal; 
                  font-family:"Trebuchet MS"  , sans-serif; 
                  color:#00007f;  }
P.Red { 
       font-size:10pt; 
       font-weight:bold; 
       font-style:italic; 
       font-family:"Trebuchet MS"  , sans-serif; 
       color:#ff0000; 
       x-next-class:Red; 
       x-next-type:P;  }
LI.kadov-P-CRed { 
                 font-size:10pt; 
                 font-weight:bold; 
                 font-style:italic; 
                 font-family:"Trebuchet MS"  , sans-serif; 
                 color:#ff0000;  }
P.Text { 
        font-family:"Trebuchet MS"  , sans-serif; 
        font-size:9pt; 
        color:#000000; 
        text-align:Justify; 
        margin-left:1pt;  }
LI.kadov-P-CText { 
                  font-family:"Trebuchet MS"  , sans-serif; 
                  font-size:9pt; 
                  color:#000000; 
                  text-align:Justify;  }
P.Number { 
          font-family:"Trebuchet MS"  , sans-serif; 
          list-style:decimal; 
          x-next-class:Number; 
          x-next-type:P; 
          font-size:9pt; 
          color:#000000; 
          text-align:Justify;  }
LI.kadov-P-CNumber { 
                    font-family:"Trebuchet MS"  , sans-serif; 
                    list-style:decimal; 
                    font-size:9pt; 
                    color:#000000; 
                    text-align:Justify;  }
P.Note { 
        font-family:"Trebuchet MS"  , sans-serif; 
        x-next-class:Note; 
        x-next-type:P; 
        font-size:8pt; 
        color:#800080;  }
LI.kadov-P-CNote { 
                  font-family:"Trebuchet MS"  , sans-serif; 
                  font-size:8pt; 
                  color:#800080;  }
P.From { 
        font-size:10pt; 
        color:#000000; 
        x-next-class:From; 
        x-next-type:P; 
        font-weight:bold; 
        font-style:normal; 
        font-family:"Trebuchet MS"  , sans-serif;  }
LI.kadov-P-CFrom { 
                  font-size:10pt; 
                  color:#000000; 
                  font-weight:bold; 
                  font-style:normal; 
                  font-family:"Trebuchet MS"  , sans-serif;  }
DIV.droptext { 
              font-size:8pt; 
              font-family:"Trebuchet MS"  , sans-serif; 
              x-text-underline:Off; 
              background-color:#ffffbf; 
              font-weight:normal; 
              font-style:normal; 
              color:#0000ff; 
              text-decoration:none;  }
A:link { 
        x-text-underline:Normal; 
        text-decoration:underline;  }
A:hover { 
         x-on-hover:fontchange(color=#ff0000);  }
P.NumberRFD { 
             font-size:8pt; 
             color:#0000ff; 
             list-style:decimal; 
             text-align:Justify;  }
LI.kadov-P-CNumberRFD { 
                       font-size:8pt; 
                       color:#0000ff; 
                       list-style:decimal; 
                       text-align:Justify;  }
SPAN.UnderlineRFD { 
                   font-size:8pt; 
                   color:#0000ff; 
                   x-text-underline:Normal; 
                   text-decoration:underline;  }
SPAN.BoldButton { 
                 font-weight:bold; 
                 font-style:normal; 
                 font-size:9pt;  }
SPAN.Asterisk { 
               color:#ff0000; 
               font-size:9pt;  }
SPAN.RedItalic { 
                font-size:10pt; 
                font-weight:bold; 
                font-style:italic; 
                color:#ff0000;  }
P.BoldRFD { 
           font-size:8pt; 
           font-weight:bold; 
           font-style:normal; 
           color:#0000ff;  }
LI.kadov-P-CBoldRFD { 
                     font-size:8pt; 
                     font-weight:bold; 
                     font-style:normal; 
                     color:#0000ff;  }
SPAN.RFDhyperlink { 
                   font-size:9pt; 
                   font-weight:bold; 
                   font-style:normal; 
                   color:#0000ff; 
                   x-text-underline:Off; 
                   text-decoration:none;  }
P.BulletRFD { 
             font-size:8pt; 
             color:#0000ff; 
             list-style:disc; 
             margin-right:18pt; 
             text-align:Justify;  }
LI.kadov-P-CBulletRFD { 
                       font-size:8pt; 
                       color:#0000ff; 
                       list-style:disc; 
                       text-align:Justify;  }
SPAN.BoldNumberRFD { 
                    font-size:8pt; 
                    font-weight:bold; 
                    font-style:normal; 
                    color:#0000ff;  }
SPAN.RFDhyperlinkBackground { 
                             font-size:8pt; 
                             font-weight:bold; 
                             font-style:normal; 
                             color:#ff0000; 
                             x-text-underline:Off; 
                             text-decoration:none;  }
SPAN.UnderlineBlack { 
                     font-size:8pt; 
                     x-text-underline:Normal; 
                     text-decoration:underline;  }
P.Style1 {  }
LI.kadov-P-CStyle1 {  }
P.ProcessFlowDiagram { 
                      font-size:8pt; 
                      font-weight:bold; 
                      font-style:normal; 
                      color:#000000;  }
LI.kadov-P-CProcessFlowDiagram { 
                                font-size:8pt; 
                                font-weight:bold; 
                                font-style:normal; 
                                color:#000000;  }
ol ol { 
       margin-top:1px;  }
ol ul { 
       margin-top:1px;  }
ul ul { 
       margin-top:1px;  }
ul ol { 
       margin-top:1px;  }
